[2015-11-26 17:23] ablwr opened #2 "Wish: Lump issues into categories"
Sort the code blocks into categories with subheadings for better organization of information. This ticket entails thought towards how to best categorize these scripts and also implementation of that categorization. Ideas for categories are something like... access copy creation, format transformation, exporting, image extraction, snippet extraction, digital preservation methods.

[2015-11-26 17:33] ablwr opened #3 "Wish: Make accessible offline"
Right now there's a JS dependency called by a CDN. It'd be good if this was integrated into the app so it could be downloaded and run even without an internet connection. Also the cute fonts drop out. ;)

Additionally it would be good to reduce the overall weight of the application with consideration to slow connections.

[2015-11-26 17:48] ablwr opened #4 "How to check frame md5s"
Create frame md5s
- We should also indicate in an additional button how to check if the MD5 are correct or not.
  (c/o Reto)

[2015-11-26 17:48] ablwr opened #5 "Transcode into a deinterlaced Apple ProRes LT"
Transcode into a deinterlaced Apple ProRes LT
- What about a button just with transcoding into ProRes and
  an other (= this) button with additional options, e.g.
  de-interlacing?
  (c/o Reto)

[2015-11-26 17:49] ablwr opened #6 "Pull specs from video file"
Pull specs from video file
- I would indicate that json and flat are other output
  formats.
  (c/o Reto)

[2015-11-26 20:46] retokromer opened #9 "Transcoding NTSC <-> PAL"
Will be provided "tomorrow".

[2015-11-26 20:50] retokromer opened #10 "correct "archival" format change 4:3 <-> 16:9"
Will be provided "tomorrow".

[2015-11-27 14:24] dericed opened #12 "write demo of scene change splitting"
Here's a start. I think it would need to be in two passes, one to get the scene change times and one to split, so first pass with signalstats and 2nd with the segment muxer.

This command outputs a csv of the time of scene change and the YDIF value. I'm using 10 below as a scene change threshold, adjust as needed.

[code]

The csv could then be processed to make it an input to the segment_times op

[2015-11-27 16:41] jronallo commented on #12
Yes, this seems like a good start. Using awk is a nice shortcut to show how this could work but I think a fuller solution does call for a script that does some analysis of the YDIF values throughout and sets a cut-off value that fits the individual video. For some cases you'll also want to do some grouping as some scene changes aren't just quick cuts.

@dericed I also wonder if there's any other a

[2015-11-28 21:23] retokromer commented on #10
Done any aspect ratio into 16:9.

[2015-11-29 08:51] retokromer commented on #10
Also done into 4:3.

[2015-11-29 08:51] #10 closed, assigned to nobody

[2015-12-02 15:07] ablwr opened #15 "More scripts!"
We need MOORRRRRRREEEEE!!!

[2015-12-02 15:22] retokromer commented on #15
My students are conceiving some potential additional scripts this week.

[2015-12-02 15:54] kieranjol commented on #15
I have a simple 24fps to 25fps converter that performs audio pitch compensation for the 4% speedup. Handy for PAl access copies.
https://github.com/kieranjol/24to25

I'm not great at webby things so will try to figure out how to put it up this weekend when I get a chance.

[2015-12-02 15:58] ablwr commented on #15
Pointing to this and permission is sufficient if you don't have time to convert to HTML or break down and define the flags.

[2015-12-02 15:59] ablwr opened #16 "Wish: Better documentation"
Boost up documentation on contribution guides and ways people can contribute / make it as easy as possible for contributions to happen.

[2015-12-02 16:00] kieranjol commented on #15
That's good to know. I can always break it down at a later date. Will try to get that done by the end of the week.

[2015-12-02 16:02] retokromer commented on #15
@kieranjol You can join both your Bash commands (image and sound) into one single ffmpeg command:
http://www.avpres.net/FFmpeg/av_speed.html

[2015-12-02 16:02] ablwr commented on #15
Reto is a hero.

[2015-12-02 16:04] retokromer commented on #15
No, just perverse: I love -filter_complex

[2015-12-02 16:06] kieranjol commented on #15
<3
That is beautiful! Thanks Reto!!!

[2015-12-02 16:44] retokromer opened #17 "input > process > output"
What about a little different structure?
One can chose between
- different input formats,
- different actions to apply, and
- different output formats.

Then the app generates the corresponding window with the full command and the related explanations.
(As it's three-dimensional, that would be a kind Rubik's Cube for audio-visual archivists.)

[2015-12-02 16:47] ablwr commented on #17
This might have been how the app was originally set up -- it was more like a guided form where you'd click on what you'd like to do, be prompted for input and output, and it would generate the script. But I felt it was a little too hand-holdy because anyone capable of brew install ffmpeg successfully is probably more than capable at figuring out how to manipulate scripts. But do you mean something

[2015-12-02 16:57] retokromer commented on #17
I was thinking e.g. about:
- A folder with 2K DPX files
- has to be filtered as HD (aka down-scaled and pillarboxed) into
- ProRes Proxy.

The scaling and padding filters are exactly the same as if I up-scale "uncompressed" "YUV" 640 x 480 into HD MP4/H.264.

[2015-12-02 20:09] brainwane opened #18 "https problem?"
In Firefox, when viewing https://amiaopensource.github.io/ffmprovisr/ (note the HTTPS), I get a mixed content error that stops the individual items from expanding when clicked on.

[2015-12-02 20:21] ablwr commented on #18
Sumana, thanks for this catch! Confirmed this is a problem in Chrome too. Due to my lazy copy-pasting of the dependent CDNs (several of which I'm interested in trying to move off of anyway and hosting in-repo for offline use). I'll fix this when I get a chance later tonight.

[2015-12-05 13:47] retokromer commented on #15
BTW @kieranjol: I personally prefer "setpts=(24/25)*PTS" over "setpts=0.96*PTS", because if one day we should come back to the good old Gray code, then we would have less rounding errors.

If you have other commands, you are very welcome to edit, or to send me an email with the full command or just the idea of a command. Any input from the field is most welcome!

[2015-12-05 14:45] kieranjol commented on #15
Hi Reto,

Thanks for that on all fronts. I need to alter my original script to your
one liner when I get the chance.

Cheers,

Kieran.
On 5 Dec 2015 13:47, "Reto Kromer" notifications@github.com wrote:

[2015-12-05 17:35] dericed commented on #15
ratios rule! Numerator and denominator or GTFO!

[2015-12-06 06:12] retokromer commented on #18
On Slackware 14.1 it says that the pop-up windows are not secure.
(And with w3m all the content of index.html, including all pop-up windows, is shown in one single window when using both http:// and https:// ;-)

[2015-12-06 17:13] retokromer commented on #6
done

[2015-12-06 17:13] #6 closed, assigned to nobody

[2015-12-06 17:13] retokromer commented on #5
done

[2015-12-06 17:13] #5 closed, assigned to nobody

[2015-12-07 01:58] ablwr commented on #18
An easy fix to a safer internet! https://github.com/amiaopensource/ffmprovisr/commit/5b01c17fa25509ba56a77817756085a55f5c321e resolves.

[2015-12-11 10:07] retokromer commented on #18
I guess it’s fine now, and I close this issue.

[2015-12-11 10:07] #18 closed, assigned to ablwr

[2015-12-13 08:00] retokromer commented on #2
I agree, we need to group the recipes into categories.

[2015-12-13 10:06] retokromer commented on #15
@dericed Added the ratio rules. I hope my English is not too bad...

[2015-12-13 10:23] retokromer opened #20 "CSS: 0 o O"
Inside the <code> tag the zeroes look like zeroes, but in the <dt> tag (or <dl>?) the zeroes look like lower-case letters o.

[2015-12-18 00:25] ablwr commented on #9
I agree that "tomorrow" is never "only a day away."

[2015-12-18 00:26] ablwr commented on #9
I bet @kieranjol has these handy

[2015-12-18 01:18] kieranjol commented on #9
I honestly don't. We have a handful of ntsc tapes and none have been ingested. Sorry Ashley.

[2015-12-18 15:40] retokromer commented on #9
I’ll add this as soon as I’ll find the time to do so. I couldn’t find a student to do it…

[2015-12-18 15:44] ablwr commented on #9
@kieranjol and @retokromer you are both the best!

[2015-12-19 04:04] ablwr commented on #16
I updated this a lil bit but it would be good to have feedback from people coming across it!

[2015-12-19 04:09] ablwr commented on #20
This is updated so that it uses a codey monotype, the same as Bootstrap gives for the code snippet syntax.

[2015-12-19 04:09] #20 closed, assigned to ablwr

[2015-12-20 10:01] retokromer commented on #4
The same Shell script should work on Linux, OS X and Windows, right?

[2015-12-20 13:11] ablwr commented on #4
Oh, hmm! Ideally. But a system-specific one with a note is better than none at all.

[2015-12-20 13:16] retokromer commented on #4
OK, I'll try.

[2015-12-20 22:57] ablwr opened #21 "Bonus: master branch is pointless"
Move README to gh-pages branch, make gh-pages branch the default view, and then destroy the master branch

[2015-12-21 15:47] dericed commented on #4
@retokromer A framemd5 tool would have a lot of value beyond ffmprovisor. I suggest we could start developing it here with the goal of sending the patch to ffmpeg-devel as a tool for inclusion in https://github.com/FFmpeg/FFmpeg/tree/master/tools.

[2015-12-21 15:57] retokromer commented on #4
@dericed Thank you for the hint! I already have a tool for Linux/OS X, but I must check what I have to change for Windows (my last was 3.11).

[2015-12-21 15:58] dericed commented on #4
@retokromer source code or it didn't happen

[2015-12-21 16:01] retokromer commented on #4
@dericed The solution we use in my company is a bash script calling ffmpeg.

[2015-12-21 16:02] dericed commented on #4
When I try to run that I just get:
`-bash: @dericed: command not found`

[2015-12-21 16:11] kieranjol commented on #4
I doubt ye wanna go the python route, but this works in windows, osx and
Ubuntu https://github.com/kieranjol/FFv1-MD5/blob/master/pyffv1md5.py#L64
On 21 Dec 2015 16:02, "Dave Rice" notifications@github.com wrote:

[2015-12-21 16:13] kieranjol commented on #4
P.s I need to redo a lot of the rest on that script cos I wrote it when
just learning python so don't judge me too harshly.
On 21 Dec 2015 16:11, "Kieran O Leary" kieran.o.leary@gmail.com wrote:

[2015-12-21 16:21] retokromer commented on #4
Hmm… I’m still with Perl (I did some tests with version 6 last weekend), and never had a crush on Python. Yet thank you @kieranjol I will read this!

[2015-12-22 19:12] retokromer commented on #9
Where can I easily find short real world NTSC examples to test the commands?

[2015-12-22 19:14] kieranjol commented on #9
I have often used an example from Internet archive, pretty sure it's
uploaded by dave

https://archive.org/details/test20100622_v210_and_ffv1
On 22 Dec 2015 19:12, "Reto Kromer" notifications@github.com wrote:

[2015-12-22 19:19] dericed commented on #9
it was. I should prolly update it to v3.

[2015-12-23 04:08] ablwr commented on #21
Moved readme to gh-pages branch and deleted master

[2015-12-23 04:08] #21 closed, assigned to nobody

[2015-12-24 21:33] kieranjol opened #25 "Worth adding how to decode a file with -f null - ?"
Is it worth showing how to just decode a file in order to check fixity against internal crcs in an mkv? I'm not sure if this is too obvious/simple?I'd like to get feedback on this before I create an entry.
Something like `ffmpeg -i input_file -f null -`

I would find this useful within a preservation context. I didn't know how to harness fixity info within a container/codec until @dericed showed m

[2015-12-24 21:38] dericed commented on #25
IIRC FFmpeg doesn't check fixity of mkv internal crcs. It will do so with ffv1 crcs though.

[2015-12-24 21:44] kieranjol commented on #25
Ah, thanks for clarifying. Is it worth adding this info to ffmprovisr or is
ffv1 fixity too niche?
On 24 Dec 2015 21:38, "Dave Rice" notifications@github.com wrote:

[2015-12-24 22:11] ablwr commented on #25
I don't think ffv1 fixity is too niche. I'm also in favor of any contributions even if they seem niche or small. :pager:

[2015-12-24 22:19] kieranjol commented on #25
Brillo! Will get this done over Christmas. Thanks guys.
On 24 Dec 2015 22:11, "Ashley" notifications@github.com wrote:

[2015-12-24 22:33] ablwr commented on #2
With consideration to the 20-ish scripts up there right now, I'm thinking of splitting into these categories of use/reference for now.
- Change format
  (mp3 to wav, to prores, h264 to/from anything)
- Make derivative variations
  (thumbnails, excerpts, split audio/video)
- Preservation
  (make checksum, batch processing, pull specs)

I suppose a change of format could mean a derivative, but do yo

[2015-12-25 07:15] retokromer opened #27 "Timecode starting at 01:00:00:00"
Note so self: Write a recipe using an image sequence and the -start_number 086400 parameter.

[2015-12-25 09:03] retokromer commented on #2
On my side, I made a distinction between transcoding and filtering, but that supposes that the user clearly know what this means, i.e. what is the difference. I guess _ffmprovisr_ has another, more intuitive approach.

Batch processing has to do with automatisation of repeated tasks, not with preservation, and it can be applied to more or less to everything. Perhaps a category «advanced» transform

[2015-12-25 09:12] retokromer commented on #25
+1

[2015-12-25 09:14] retokromer commented on #2
Perhaps https://github.com/amiaopensource/ffmprovisr/issues/17 can be merged with this «issue»?

[2015-12-25 13:50] ablwr commented on #17
ffmprovisr 2.0. This makes sense for some commands but not others. Do you think a hybrid approach is possible?

[2015-12-25 16:03] retokromer commented on #17
Of course! It makes sense for filtering, not for transcoding.

[2015-12-26 09:59] retokromer commented on #27
Done.

[2015-12-26 09:59] #27 closed, assigned to retokromer

[2015-12-26 10:07] retokromer commented on #9
Is it planned to update this? For the moment I’ve tested only on fake (aka self generated) NTSC.

[2015-12-26 10:09] retokromer commented on #17
Perhaps https://github.com/amiaopensource/ffmprovisr/issues/2 can be merged with this «issue»?

[2015-12-26 10:23] retokromer commented on #16
My nieces and nephews have tried it. Usually they found the description obscure, but then they rapidly have performed many recipes alone.

[2015-12-26 10:28] retokromer commented on #4
Does anyone out there know which flavour of shell comes as the default on current Windows installations?

[2015-12-26 10:55] kieranjol commented on #4
You've two options as far as I know.
The basic cmd.exe which is probably the most compatible across all windows
versions https://en.wikipedia.org/wiki/Cmd.exe
and the more powerful powershell
https://en.wikipedia.org/wiki/Windows_PowerShell which differs by default
depending on which version of windows you have. The wiki has the main
differences.

On Sat, Dec 26, 2015 at 10:29 AM, Reto Kromer noti

[2015-12-26 11:22] retokromer commented on #4
Thank you, @kieranjol! So no one of the «classic» sh, ksh, tcsh, bash… is available under Windows by default? Then I’ll check how much I should change the bash (that works fine under various Linuxes and OS X) for «translating» it into cmd.exe.

[2015-12-26 12:34] kieranjol commented on #4
Those shells aren't available without using something like cygwin, unfortunately!

[2015-12-26 12:53] retokromer commented on #4
I’ll try to remember how worked the good old DOS 3.1… That doesn’t  make me any younger!

[2015-12-26 15:36] ablwr commented on #16
!!!!!!!!!!!!

[2015-12-26 15:37] ablwr commented on #16
This issue refers to the readme.md and how to make contributing scripts easier. I think I made it as user-friendly as possible and documentation is a continual process so I'll go ahead and close this ticket.

[2015-12-26 15:37] #16 closed, assigned to nobody

[2015-12-26 16:19] ablwr commented on #2
OK, I am going to close #17 and we can continue here. I'm still not sure how this 3D structure might play out and what kind of code would be needed to make this flow happen. It sounds like it could be useful though.

[2015-12-26 16:19] ablwr commented on #17
Closing as a way to merge with #2

[2015-12-26 16:19] #17 closed, assigned to nobody

[2015-12-27 12:18] kieranjol commented on #25
added https://github.com/amiaopensource/ffmprovisr/commit/78f70f28f6162a75c96152a795abd84b784f821f

[2015-12-27 12:18] #25 closed, assigned to nobody

[2015-12-27 14:48] retokromer commented on #4
This is the core of the Bash script that is currently in production (and would need a lifting ;-)

[code]

[2015-12-27 14:49] ablwr commented on #4
Wow, including setting color variables!

[2015-12-27 16:10] dericed commented on #4
This would fail if the version of the framemd5 changes but the contents are the same. Instead of cat the md5's should be grepped out via their regex.

[2015-12-27 16:19] retokromer commented on #4
It's just what is running at the moment on our servers, not for direct inclusion in ffmprovisr.

Following @dericed's suggestion, I am planning to code it as an FFmpeg patch, as soon as we have closed the 2015 accounts etc. (somewhere in late January or early February, I guess).

[2016-01-01 14:25] mulvya opened #32 "Suggested addition: Excerpt from end"
Adapted from existing Excerpt to end

**Excerpt from end**

`ffmpeg -i input_file -sseof -5 -c copy output_file`

This command copies a video file starting from a specified time before the end of the file, removing everything before from the output. This can be used to create an excerpt, or extract content from the end of a video file.

**ffmpeg**
    starts the command
**-i input_file**
    path,

[2016-01-01 15:13] retokromer commented on #32
Thank you very much!

[2016-01-01 15:16] ablwr commented on #32
yayay thanks @mulvya! @retokromer ya gonna add this in? Today might be the day I organize these into categories.

[2016-01-01 16:12] retokromer commented on #32
I’ll can do it «only» on Saturday.
@ablwr It’s fine with me if you re-organise the entries.

[2016-01-01 16:46] ablwr commented on #32
@retokromer In that case, perhaps I will beat you to this. :D

[2016-01-01 19:14] ablwr commented on #32
Resolves in https://github.com/amiaopensource/ffmprovisr/commit/e16fa215a7436b2b2161dcf6748c8eed39f163e1 but since I pushed straight to source please verify copy and close!

[2016-01-02 06:36] #2 closed, assigned to nobody

[2016-01-02 06:43] #32 closed, assigned to ablwr

[2016-01-02 06:55] mulvya commented on #32
Thanks for posting it. But the parameter guide underneath the command mentions `-ss 5` instead of `-sseof -5`

[2016-01-02 07:19] retokromer commented on #32
@mulvya I've noticed it, and I'm trying to fix it. Yet on my computers the formula doesn't give the end, but the full clip. I'll check the documentation. Any hint?

[2016-01-02 07:34] retokromer commented on #32
Perhaps the parameter `-sseof -5` must be before `-i input_file`?

[2016-01-02 07:40] retokromer commented on #32
Yes, now should be OK. Please verify @mulvya and/or @ablwr.

[2016-01-02 15:03] ablwr commented on #32
Clumsy me! Looks good now, thanks! This is why we PR. ;)

[2016-01-07 01:08] ablwr opened #35 "Wish: reduce bloat"
Reduce the overall weight of the application with consideration to slow connections. This can be done by cutting out lazy dependencies on Bootstrap and jQuery and using only what is necessary.

[2016-01-07 05:48] retokromer commented on #35
I agree, but, my opinion, it’s more important to realise #3 (Make accessible offline).

[2016-01-07 12:56] ablwr commented on #35
Me too! I had kinda tacked this issue into that one which was the kind of scope creep that prevents the resolution of the first, main issue.

Sent from my iPhone

[2016-01-08 00:58] ablwr commented on #3
Resolved. Fonts drop out, but totally functional.

[2016-01-08 00:58] #3 closed, assigned to nobody

[2016-01-09 16:29] ablwr opened #37 "Expand on test pattern generator scripts"
Ref tips from @kieranjol and @retokromer: https://github.com/amiaopensource/ffmprovisr/pull/36

[2016-01-10 15:38] retokromer commented on #9
@dericed Are you planning to update the NTSC examples?

[2016-01-10 15:48] kieranjol opened #39 "Adding Bash Scripts to ffmprovisr"
Continued from here, if that's OK? https://github.com/amiaopensource/ffmprovisr/pull/36

Im not sure how ye see longer scripts within ffmprovisr.. Go with bash or also include other languages that also allows Window support? Or do ye want to keep the site to single ffmpeg commands?

It could be handy to knock up a simple watermark script, where the font size is calculated in proportion to video he

[2016-01-10 15:54] ablwr commented on #39
I think longer scripts are useful, especially to people that aren't brand-new to using ffmpeg, but am wondering about, like what you said, equal support regardless of user operating system.

Since we moved forward with categories, we could have a category not based on type of use but based on extended use of ffmpeg within scripts.

[2016-01-10 15:57] retokromer commented on #39
:+1:

I was thinking at Nicole’s script. And I will think about the interoperability.

[2016-01-10 16:06] kieranjol commented on #39
I think my workplace seems to be in the minority in terms if having windows as well as osx workstations.
Perhaps it could be OK to have multiple languages represented,as one could understand the general logic of how to harness FFmpeg in different contexts? I am familiar with bash and python,but would love to see a perl or ruby FFmpeg script as it would allow me to see familiar use cases within an

[2016-01-10 16:09] retokromer commented on #39
I just tested: runs fine on Ubuntu 14.04 LTS and on Slackware 14.1.

[2016-01-10 16:12] retokromer commented on #39
I am very familiar with Perl (< 6). A large part of my websites is generated on the fly by Perl and MariaDB! Yet Python or Ruby are more sexy. I do not have a clear idea about Perl 6, just made recently some tests: https://gist.github.com/retokromer/bdea769e90fdc277fc13

[2016-01-10 16:28] retokromer commented on #39
No, sorry, on Ubuntu I got:

[code]

[2016-01-10 16:32] retokromer commented on #39
I guess if you set the `_platform` then it will work.

[2016-01-10 16:36] kieranjol commented on #39
Yeah,I never set the Linux platform check now that I think of it! I'm
hoping the osx escaping will carry over to Linux though. Will work on that
next week.
Anyhow, I remember having difficulty tracking down examples of FFmpeg
python scripts at the time. Lots of bash out there. I'd love to see some
perl! Just a general suggestion anyhow.

Edit: just saw your perl now. I think that's fascinating! Al

[2016-01-10 16:54] retokromer commented on #39
I have tried to fix it. But now knowing Python, I didn't succeed. It was better and better, and finally a mess. Now I am going to prepare our dinner. Perhaps I try again after.

[2016-01-10 17:27] kieranjol commented on #39
I'm back at a computer now. Will give it a go, but any other additions would be more than welcome!
Looks like the _platform value for Ubuntu 14.04 is `linux2` (looks like most linux distros, including Ubuntu are just `linux` - also it looks like it requires different escaping from OSX.

[2016-01-10 17:37] kieranjol commented on #39
Fixed for PAL in here: https://github.com/kieranjol/pyh264bitc/commit/c15ce53d01e5ac9171b2aa4064da76327566e223
I just put an NTSC file through and dropframe semicolons aren't escaped, so they fail. I generally only think in PAL terms but I try to make everything work if possible. Also I should add a `or _platform = "linux"` as I'm not sure how common `linux2` is as a value. I must also get ready f

[2016-02-11 00:46] ablwr opened #42 "Integrate this head switching noise cover script"
FFmpeg dropped some knowledge into my timeline when I was complaining about the weather and I need to drop that knowledge into this! https://twitter.com/FFmpeg/status/695689188205731846

[2016-02-14 10:50] retokromer commented on #39
More generally speaking, for adding Bash scripts info ffmprovisr, I guess we should include OS X and Linux users, as well as Windows users having installed `cygwin` or `msys` on their computers. Then, if I understand correctly, it should work. I'll try to find such a testing machine.

[2016-02-20 07:24] retokromer commented on #42
What kind of filtering would be a good example for an archival context?
https://ffmpeg.org/ffmpeg-filters.html#drawbox

[2016-02-20 07:55] retokromer commented on #4
By deleting the comment lines from the framemd5 reports, id est by replacing:

[code]

it should work fine... as a Bash script! Yet the goal is to implement this into FFmpeg's C code.

[2016-02-20 08:01] retokromer commented on #4
@ablwr @dericed @kieranjol If OK with you I'll include this script into the `ffmpeg improvised vizier` for the moment.

[2016-02-21 14:58] ablwr commented on #4
:+1:

[2016-02-21 14:59] ablwr commented on #42
I figured the example they gave was a good one, for covering up the head switching noise. I don't see much of a use for archival purposes but maybe cleaning up something for access?

[2016-02-21 15:23] kieranjol commented on #15
I think this might be the best place for a note to self, inspired by https://github.com/amiaopensource/ffmprovisr/issues/42:
These are mostly access related, but perhaps aspect ratio/sar/dar correction could be useful in a archival context, depending on the context.
1. How to change aspect ratio with `-aspect` or `-setsar/setdar`
2. How to hange field order with `-setfield`
3. How to desaturate fo

[2016-02-21 15:30] retokromer commented on #15
:+1:
Perhaps in AMIA Hackday 2016 we should try to integrate all of them: FFmpeg, QCTools, MediaInfo/Conch and LTO control scripts.

[2016-02-21 15:57] retokromer commented on #4
This works on my different OS X and Linuxes and I guess it works also on Windows **with Cygwin**. By chance, @kieranjol can you test this http://reto.sh/check_framemd5.sh on Windows?

[2016-02-21 18:37] kieranjol commented on #4
Hi Reto, I never used Cygwin much, but I ran into a few issues:

Firstly, when you drag and drop a file, it shows up as: `/cygdrive/c/Users/kieranjol/Downloads/DLD_024-003_03.mkv`
which is fine until an application is calling a file from a script, in which case you need to change it to `c:/Users/kieranjol/Downloads/DLD_024-003_03.mkv
`

Not too big of a deal, and maybe there's a way around it, but

[2016-02-21 20:23] retokromer commented on #4
Thank you very much, @kieranjol! I will try to fix it in the next days (before I am leaving for a trip to Southeast Asia).

[2016-02-21 20:25] kieranjol commented on #4
You're more than welcome, @retokromer . I'll do my best to test out the next version as well.

[2016-02-21 20:50] kieranjol commented on #4
P.S: I made some alterations and the script works as intended, presuming I change the filenames after dragging and dropping them:
https://gist.github.com/kieranjol/aaddfa51f9877d14fa53/revisions
$2.tmp is crude but it's just there for testing purposes.

[2016-02-21 21:05] retokromer commented on #4
Thank you!
I used $home in order to be sure (on OS X and Linux) that the temp file can be written. If you use the path to a write protected media (e.g. a data DVD or a LTO tape), then you get an error.
Does ~/ work on Windows?

[2016-02-21 21:49] kieranjol commented on #4
Ah, good idea.. In Cygwin `~/` performs the same function as $HOME, in that it points to home/kieranjol rather than c:/Users/Kieranjol.
In Cygwin, the function you require is actually `$USERPROFILE`

I updated the script to test for `diff` and included `$USERPROFILE` as a test. Perhaps it's possible for the script to test if it's real bash vs Cygwin, and md5tmp could be set to the appropriate vari

[2016-02-21 22:01] retokromer commented on #4
Yes, it’s very easy to test on which OS it’s running, and to set a different parameter.

[2016-02-21 22:30] kieranjol commented on #4
I used uname to check for OS based on some stack overflow posts. The script works on both windows and osx now and the md5_tmp is altered based on OS.
I used Cygwin\* to check as it will alter depending on which windows version is used, eg:

`$ uname
CYGWIN_NT-6.1
`
There's probably a more elegant regex that's appropriate.

https://gist.github.com/kieranjol/aaddfa51f9877d14fa53/revisions

[2016-02-22 10:31] retokromer commented on #4
I usually use the $OSTYPE variable. Could you possibly test this?

[code]

on your computer. I guess this works, because usually I have a code like:

[code]

when there are differences between different OS. Of course, it works also with:

[code]

[2016-02-22 12:54] kieranjol commented on #4
Yup, works perfectly. I just did

[code]

and it worked perfectly on Yosemite and Win7.

[2016-02-22 14:10] retokromer commented on #4
Thank you for the useful feedback! You rock @kieranjol
It works fine also on El Capitan, Ubuntu 14.04 and Slackware.

[2016-02-22 14:27] ablwr commented on #4
@kieranjol is the best!

On Mon, Feb 22, 2016 at 9:10 AM, Reto Kromer notifications@github.com
wrote:

[2016-02-22 14:48] kieranjol commented on #4
:]

On Mon, Feb 22, 2016 at 2:27 PM, Ashley notifications@github.com wrote:

[2016-02-22 16:15] retokromer commented on #4
@kieranjol : It runs fine also on other Windows configurations, but I think I will condider «only» Cygwin here. And, sorry, I have another question to ask you: do you think we should use here and in the generating command `-an`, or should we omit it on both sides? I am hesitating…
@ablwr : Perhaps it’s better to include the bash script as a dedicated page of ffmprovisr, not inside the index.html.

[2016-03-07 11:40] kieranjol opened #43 "wishlist: link directly to a recipe"
As the number of recipes increases, I think it could be useful to be able to link directly to a recipe.
I don't know how to implement this, but if there's any repetitive retrospective data entry required to make those links, I'll volunteer to do it, once I know roughly what to do.

Thanks!

[2016-03-07 13:24] ablwr commented on #43
This is a great idea!!!

[2016-03-07 20:05] retokromer commented on #43
:+1:

[2016-03-10 16:39] todrobbins commented on #43
Should be relatively simple to add [URI fragments](https://www.w3.org/DesignIssues/Fragment.html) via `id` values for each recipe.

[2016-03-27 10:33] retokromer opened #46 "Should we add somewhere Rec. 601 and Rec. 709?"
I am thinking about SD to HD using
`colormatrix=bt601:bt709`
and  HD to SD using
`colormatrix=bt709:bt601`
@kieranjol @ablwr Any thoughts?

[2016-03-27 17:43] kieranjol commented on #46
Definitely,I'd be interested,and I know it's the kind of thing that my
colleague in programming would be interested in using at some stage, so I'm sure it'd be beneficial to others.
On 27 Mar 2016 11:33 a.m., "Reto Kromer" notifications@github.com wrote:

[2016-03-27 18:16] retokromer commented on #46
OK, I'll prepare a draft.

[2016-03-28 13:19] ablwr commented on #46
+1

[2016-03-28 13:22] ablwr opened #47 "License"
Someone just asked if they could use this template for another project and I realized we don't have a license! I'm happy with the most open CC license. Can I get a +1?

[2016-03-28 14:08] retokromer commented on #47
For software I prefer the MIT license, yet I am fine with CC licence (all my websites are CC BY). :+1:

[2016-03-28 14:10] ablwr commented on #47
Yeah... this is definitely more on the "website" category than "software" category. Thankyew!

[2016-03-28 14:10] #47 closed, assigned to nobody

[2016-04-17 07:37] retokromer commented on #39
Bash should be functional on Windows 10 installations soon. That would make things easy.

[2016-04-25 18:15] ablwr opened #49 "extract audio"
Saw someone asking about this on the internet so a mental reminder to add script that extracts audio without loss from a video file: `ffmpeg -i video.[mp4] -vn -acodec copy audio-only-file.[aac]`

[2016-04-25 18:21] kieranjol commented on #49
:+1:

[2016-04-25 18:29] retokromer commented on #49
The command `ffmpeg -i input_file -c:a copy -vn output_file` should work with any input and any audio codec.

[2016-04-25 18:30] ablwr commented on #49
👍 👍 @retokromer !

[2016-04-25 18:31] retokromer commented on #49
@ablwr You may copy & paste this: http://avpres.net/FFmpeg/av_sound.html (or I can do it).

[2016-04-25 18:31] ablwr commented on #43
I still need to do this, oops! also ++@todrobbins

[2016-04-25 18:54] kieranjol commented on #43
Not sure if this route would work, but if you did one or two, I'd try to
emulate your coding and do the rest. Haven't a clue how to do it from
scratch!
On 25 Apr 2016 7:31 p.m., "Ashley" notifications@github.com wrote:

[2016-04-28 07:54] retokromer commented on #49
Please check @ablwr and/or @kieranjol. Thank you! (Sorry, I pushed instead of making a pull request.)

[2016-04-28 09:41] kieranjol commented on #49
Nice! :+1:
P.S Checked, and all is well.

[2016-04-28 13:14] ablwr commented on #49
LGTM 👍

[2016-04-28 14:28] retokromer commented on #49
Thank you!

[2016-04-28 14:28] #49 closed, assigned to nobody

[2016-05-06 15:09] ablwr opened #51 "adding combine-tracks"
Got the thumbs up from @edsu to add this script in. I'll do this when I have time but making an issue in case someone finds time first! https://gist.github.com/edsu/36beb5576896013179356bd8ed95c34c

[2016-05-06 18:38] #51 closed, assigned to nobody

[2016-05-07 07:40] retokromer commented on #46
I’m preparing the examples for BAVC we can «recycle» here.

[2016-05-07 09:37] kieranjol commented on #46
Brilliant, thanks Reto!

[2016-05-15 11:09] retokromer opened #61 "Is the "aria-labelledby" parameter needed?"
Hello @ablwr! I have the impression that the "aria-labelledby" parameter is not used. If so, I can delete it. Please let me know. Thank you!

[2016-05-17 01:37] ablwr commented on #61
Oh, you are right! We aren't using it at all!

[2016-05-18 05:29] #61 closed, assigned to nobody

[2016-05-19 22:46] todrobbins commented on #43
@ablwr BUMP

Do you want me to try?

[2016-05-19 23:20] ablwr commented on #43
The new sister site, CRALS, just integrated this feature if you want to give it a shot! https://github.com/dd388/crals/blob/gh-pages/js/js.js

[2016-05-19 23:20] ablwr commented on #43
@todrobbins of course I want you to try! Yayayay

[2016-06-18 22:02] kieranjol commented on #43
https://github.com/amiaopensource/ffmprovisr/pull/64 Here's a stab at it anyhow!

[2016-07-06 14:37] kieranjol opened #71 "Wish - png watermark overlay"
I'm currently working on scripts that automate the addition of head and tail plates to a .mov, while adding a transparent png watermark that kicks in after 3.5 seconds.
`ffmpeg -safe 0 -f concat -i mylist.txt -i "/Users/bla/playertests/logo.png" -c:v prores -filter_complex "overlay=:enable='between(t,3.5,2000)':main_w-overlay_w-5:5,yadif" outputrigh12345.mov`
I'll add something like this over the

[2016-07-06 14:54] ablwr commented on #71
Great!!!

[2016-07-06 15:14] retokromer commented on #46
I'm hesitating if it's better to include it, as a special case, into:
- https://amiaopensource.github.io/ffmprovisr/#SD_HD
- https://amiaopensource.github.io/ffmprovisr/#HD_SD

or if it's better to write two special recipes, as I did for BAVC:
- https://avpres.net/FFmpeg/SD_HD.html
- https://avpres.net/FFmpeg/HD_SD.html

Any preferences?

[2016-07-06 16:40] kieranjol commented on #46
Hi Reto,

Maybe it should go into both? It seems like ffmpeg won't enable rec709 by
default if rescaling rec601 to HD? I am not that knowledgeable about these
standards, but it seems like it's important information to be added to the
pre-existing recipes. I think the color matrix change is important enough
to also warrant its own recipe, as I could imagine someone looking
specifically for that inf

[2016-07-06 20:02] kfrn commented on #71
Folks, just wanted to say that I'm loving all the ffmprovisr action lately. Can't wait to check it out more fully when I'm back from holiday :)

[2016-07-06 20:08] kieranjol commented on #71
Looking forward to having you back, enjoy the holidays!

On 6 Jul 2016 9:02 p.m., "Katherine Frances Nagels" <
notifications@github.com> wrote:

[2016-07-07 00:24] ablwr commented on #46
I'm not at all hip to these so I defer to you two princes (and others reading this)!

[2016-07-09 06:39] retokromer opened #72 "Interlaced ProRes"
At a some point, I guess, we should also consider an example of interlaced ProRes.

[2016-07-09 10:23] kieranjol commented on #72
Good idea, especially considering the benefits of Kostya's encoder in
regards to interlacement
https://github.com/mediamicroservices/mm/commit/c022a1104e8f3b384273fbde1de8be2293a5c405

On 9 Jul 2016 7:39 a.m., "Reto Kromer" notifications@github.com wrote:

[2016-07-09 12:30] retokromer commented on #72
If I remember correctly, the `-c:v prores_ks` is only good for interlaced, but for progressive it's slower as `-c:v prores`. Therefore we should use `prores` "as default" and `prores_ks` only for interlaced. I also guess that ProRes produced today should be progressive, but for legacy we need indeed to deal with interlaced. Please correct me if I am wrong.

[2016-07-09 12:42] retokromer commented on #72
Thank you, @kieranjol, this is what https://github.com/mediamicroservices/mm/commit/c022a1104e8f3b384273fbde1de8be2293a5c405 (and the link there) says. Yet I will do some benchmark, as I am still feeling we should change only for interlaced, and not as a general rule for ProRes, because of the performance.

[2016-07-09 12:54] retokromer commented on #72
Hmm... at the 1st benchmark the `prores_ks` says:

[code]

[2016-07-09 13:09] kieranjol commented on #72
Hi Reto, I totally agree on only using `prores_ks` for interlaced items. I must admit, for access purposes, I've used the regular prores encoder and I haven't found any issues for TFF files, or clients haven't mentioned any either. I haven't done much rescaling though.

[2016-07-10 12:36] retokromer commented on #4
Please see https://github.com/amiaopensource/ffmprovisr/pull/74 and https://github.com/amiaopensource/ffmprovisr/pull/75 for PR.

[2016-07-10 12:43] retokromer commented on #46
Note to self: Correct meta-data by passing additional options.

[2016-07-10 14:47] retokromer commented on #4
Closes this issue… until the implementation into FFmpeg in C.

[2016-07-10 14:47] #4 closed, assigned to retokromer

[2016-07-11 07:03] audiovisualopen opened #76 "Lossless Segmentation and Concatenate for Preservation"
Hi all, as archives may wish to create preservation clips in a lossless fashion from digital masters, maybe instructions on lossless segmentation and and concatenation would be beneficial?

As there is already in commands for clipping and concatenate (Join files together/Trim a video) without re-encoding, maybe they could be added to the preservation section as well with an emphases on the stream

[2016-07-11 15:40] retokromer commented on #76
Hello Andrew,

as lossless, do you mean something like the following?
- https://avpres.net/FFmpeg/sq_YUV422_10.html
- https://avpres.net/FFmpeg/sq_YUV422_8.html

Best regards, Reto

[2016-07-12 00:21] audiovisualopen commented on #76
Hi Reto,

I think your instructions to transcode an image sequence is very valuable and should also be included.

In terms of using lossless processing, I was more thinking about the great feature in FFMPEG to create files without re-encoding, highlighting the lossless nature, speed and low compute requirements of -c copy. As an example, this might be needed when a full broadcast compile news vide

[2016-07-12 09:14] retokromer commented on #76
Thank you, Andrew, for clarifying this to me. Best regards, Reto

[2016-07-14 15:35] retokromer opened #77 "Bash Script for batch FFmpeg processing"
I guess we should add some comments on http://amiaopensource.github.io/ffmprovisr/#batch_processing explaining how to customise the path. (This is a recurring question.)

[2016-07-14 15:40] ablwr commented on #77
Agreed!

[2016-07-22 08:16] retokromer commented on #43
Close this, because solved by https://github.com/amiaopensource/ffmprovisr/pull/64.

[2016-07-22 08:16] #43 closed, assigned to ablwr

[2016-07-22 08:40] retokromer commented on #76
CC @kieranjol
In terminal:
`split -b1m input_file part_`
`cat part_* > output_file`
would make it (in my example 1M parts).

[2016-07-22 11:25] dericed commented on #71
When will this be done?

[2016-07-22 13:47] retokromer commented on #15
Do we still need this open issue, @ablwr and @kieranjol? We have added plenty of scripts since the 2015–12–02!

[2016-07-22 13:48] retokromer commented on #35
Should we close this issue, @ablwr?

[2016-07-22 13:54] retokromer commented on #72
Does anyone know how (un)stable `prores_ks` is today? Both my interlaced and my 4:4:4 files seem not to be (completely) correct… 👎

[2016-07-22 15:37] ablwr commented on #35
Sure lets close this! I'm satisfied with the more important resolved issue of making sure this app works offline.

Sent from my iPhone

[2016-07-22 15:38] ablwr commented on #15
Always more!!!!!! But maybe not a useful issue (since this is now stressed in the readme).

Sent from my iPhone

[2016-07-22 15:44] #35 closed, assigned to ablwr

[2016-07-22 15:47] retokromer commented on #15
In my opinion, an issue should contain a concrete idea for a command or a concrete goal to reach.

[2016-07-22 15:54] ablwr commented on #15
Agreed!

Sent from my iPhone

[2016-07-22 17:35] retokromer opened #86 "-report parameter"
We should find something nice that is improved by the use of the `-report` parameter. Suggestions welcome!

[2016-07-23 07:25] #15 closed, assigned to nobody

[2016-07-23 07:26] #37 closed, assigned to ablwr

[2016-07-23 13:32] dericed opened #87 "Dave does more work on this site"
I'd like that!?????

[2016-07-23 13:33] kieranjol commented on #87
yes please

[2016-07-23 13:59] ablwr commented on #87
Yes very good, it is done

[2016-07-23 13:59] #87 closed, assigned to dericed

[2016-07-23 17:37] kieranjol opened #89 "Change display aspect ratio is misleading"
Hey, as discovered at the Tate workshops, the change display aspect ratio recipe (that i wrote)is misleading,as it also transcodes to prores.As stream copy doesn't work with a filter, specifying a codec is required .
@dericed wrote a better one in his 'change stream properties' script,which uses field_order,but from my limited tests, this doesn't work with Matroska,only mov(probably mp4 too?).

I

[2016-07-23 17:38] kieranjol commented on #72
That is worrying. @dericed is using it at work I think, so perhaps he can chime in? What's the issue with the files?

[2016-07-23 17:42] kieranjol commented on #76
Hi! I'll try to give this a go over the weekend.

[2016-07-25 15:11] dericed commented on #89
Hi Kieran, I should clarify that the `-c copy -aspect` move would only change the aspect ratio of the container if this is possible. If the stream you are copying includes its own aspect ratio, such as DV or FFV1, then the result could be conflicting. For instance if DV is in MOV and both the DV and MOV note an aspect ratio, then `-c copy -aspect` would change the MOV aspect ratio but not the DV a

[2016-07-25 15:20] kieranjol commented on #89
I just realised that even though I used aspect ratio in the title of this issue, I was referring to the field order script.
Thanks for clarifying the aspect ratio situation, as well. It's great to have your input on this stuff!
I'm getting settled back in so I'll send on a new pull request for both tomorrow if someone else doesn't get to it first.

[2016-07-25 15:21] dericed commented on #89
Interlacement is the same issue, also with DV and FFV1 v3.

[2016-07-25 15:38] kieranjol commented on #89
Out of curiosity, is `-vf setsar` the only way to change the aspect ratio at a codec level with ffmpeg? Is it a similar case with `-vf setfield`? As stream copy mode is not applicable when using `-vf`, is there any lossless method of aspect ratio change within ffmpeg?

[2016-07-25 16:28] retokromer commented on #72
I will test with 4K resonance patterns (or parts of it).

[2016-07-25 18:11] ablwr opened #91 "Script to convert DVD (.iso) to (something else)"
@kfrn has agreed to do this. Making an issue so we know it's a work in progress.

[2016-07-25 20:11] retokromer commented on #91
Convert to Matroska with all the DVD features, as explained by Steve Lhomme?

[2016-07-26 00:41] kfrn commented on #91
I'll dig into this over the next 2 or 3 weeks!
@retokromer, I'm not aware about this, do you have a link?

[2016-07-26 05:13] retokromer commented on #91
No, not yet. I am just thinking about Steve Lhomme’s presentation in Berlin on why and how he designed Matroska that way.

[2016-07-26 09:49] retokromer commented on #72
Hmm… I am even more and more confused by the different results I got using `prores` and `prores_ks`, as well as using Final Cut 7, Final Cut X and Resolve 12.5.

[2016-07-27 18:33] retokromer commented on #91
@kfrn: I cannot delve deeper into that now, but this may be inspiring: https://github.com/Matroska-Org/dvdmenuxtractor

[2016-07-28 13:58] Fizz24 opened #92 "Audio Dropout on FFplay"
Hi there,

Not sure if i have the right place for this question but I have several video files each roughly the same file size and bit rate. They all play well with vlc/quicktime however with ffplay the audio dropouts every consistently throughout playback.

This is mediainfo report on one of the files . Is there an incompatible codec I am working with? I also transcoded the file to a h.264 file w

[2016-07-28 14:58] kieranjol commented on #92
It looks like fairly standard uncompressed video/audio. Is ffplay throwing up any specific errors when the dropout occurs? It might be helpful to get the console output, including your command line just to have as much info as possible.

[2016-07-28 15:00] ablwr commented on #92
Right, my initial instinct is to wonder if it's an processing capability issue with the machine trying to run the video and it choking on trying to process such a heavy video stream, causing the audio to suffer.

[2016-07-28 15:25] Fizz24 commented on #92
Thats what I assumed but I've played files of similar bit rate and size which have played normal. And would this not affect Quicktime/vlc also in a similar way?

This is the console output - I can't spot any error message

[code]

Cheers

[2016-07-28 16:19] retokromer commented on #92
@Fizz24: you may post your question on the ffmpeg-user mailing list: https://lists.ffmpeg.org/mailman/listinfo/ffmpeg-user/ as it seems to me that this is not ffmprovisr related. They usually answer very quickly!

@Fizz24: Could you possibly give us a short excerpt of your file? (2-3 seconds) This could be useful for finally resolve issue https://github.com/amiaopensource/ffmprovisr/issues/9  Than

[2016-07-29 12:52] kieranjol commented on #92
Hi @retokromer , could those different colour values  relate to conflicting values within  the container (colr atom?) Sounds like it's a recipe  for interoperability issues?

[2016-07-29 14:27] Fizz24 commented on #92
Thats an interesting example and something I hadn't noticed on the files. Would the 'transfer characteristic' have occurred during the capture settings of the tape?

How shall I share a clip? Could I share it private?

@retokromer : I will take it the ffmpeg-user  mailing list too. Thanks for your help

[2016-07-30 11:17] retokromer commented on #9
I am closing this old issue. When I will have access to real world files (not self generated ones), I will add this recipe.

[2016-07-30 11:17] #9 closed, assigned to retokromer

[2016-07-30 11:22] retokromer commented on #76
I guess this is not an FFmpeg-related issue, but are e.g.
`split -b1m input_file part_`
and
`cat part_* > output_file`
working under Windows? And, if so, should I add this to ffmprovisr?

[2016-08-04 22:08] kieranjol commented on #76
Hi Reto, similar story to the framemd5 thread. Those tools are not available in the standard windows terminals but work very well in git bash.
I split and reconstructed an ffv1.mkv with matching checksums.
I'm not sure of the benefits of adding this to ffmprovisr as the split parts didn't play back. They did work fine if I transcoded to mpeg2 though. Perhaps the `cat` part could be helpful for cer

[2016-08-04 22:14] kieranjol commented on #12
I remember trying the command mentioned by @richardpl in this thread, probably combined with a second pass of `ffmpeg -i <inputvideo> -vf select='gt(scene\,0.7)' -vsync 0 -an keyframes%03d.jpg` and it did a really god job of grabbing scene changes from a feature.
https://ffmpeg.org/pipermail/ffmpeg-user/2016-April/031962.html

[2016-08-07 21:47] kfrn commented on #91
I didn't forget about this, but my computer is broken at the moment! When it's fixed I'll get onto it

[2016-08-08 04:16] retokromer commented on #91
No rush!

[2016-08-21 14:30] retokromer opened #93 "ffmpeg -h foo=bar"
@kieranjol Maybe you could add here as recipe the information you posted on FFmpeg-user? The general command with the examples `ffmpeg -h encoder=ffv1` and `ffmpeg -h muxer=matroska` would be very useful, in my opinion. (If you don’t have the time, just let me know, and I’ll do.)

[2016-08-21 14:53] kieranjol commented on #93
Great idea, Reto. I'd like to give it a go and will let you know within a
few days if I can't get to it. It's interesting that the topic has appeared
on twitter and ffmpeg-user in the space of a few days :)

[2016-08-21 16:15] ablwr commented on #93
And CELLAR too, thanks to @retokromer ;D

👍

[2016-08-30 18:14] #93 closed, assigned to nobody

[2016-09-01 00:48] ablwr commented on #39
Do we feel this is ... resolved?

[2016-09-01 00:52] ablwr commented on #71
IN THE COMING DAYS @kieranjol ?!?!?!

[2016-09-01 06:22] kieranjol commented on #71
Sure! I've been meaning to go through old issues and clean up my unfinished
work.

On 1 Sep 2016 1:52 a.m., "Ashley" notifications@github.com wrote:

[2016-09-01 08:54] kieranjol commented on #86
I'm thinking that adding `-report` to the [batch processing recipe](https://amiaopensource.github.io/ffmprovisr/#batch_processing) would be very useful. Perhaps to the [checkffv1 fixity recipe](https://amiaopensource.github.io/ffmprovisr/#check_FFV1_fixity) as well?

[2016-09-01 08:58] kieranjol commented on #39
I think so anyhow. It is possible to run the bash scripts on ffmprovisr in a cross-platform way, so this issue is no longer relevant. Feel free to reopen.

[2016-09-01 08:58] #39 closed, assigned to nobody

[2016-09-01 17:00] ablwr commented on #71
No rush on anything B-) I was just doing the same!

[2016-09-05 12:32] retokromer commented on #86
The batch recipe needs completion, in my opinion. (E.g. change in order to work from everywhere, i.e. not requesting to be in the same directory as the files.)

[2016-09-07 16:36] retokromer commented on #76
I guess `copy \b input_file_1 + input_file_2 + input_file_3 output_file` works in DOS (`\b` for binary mode).

Yet I think this does not fit into ffmprovisr. Thoughts?

[2016-09-07 16:44] ablwr commented on #76
Are your reasons for thinking it doesn't fit just based on it not being an ffmpeg command? I'm in favor of the idea of expanding the scope to include non-ffmpeg commands if they are related to the same end goal of supportive scripting a/v preservation. But if the reason is lack of use case, I defer.

[2016-09-07 16:54] kieranjol commented on #76
Just to flag that there are ffmprovisr forks that may be more suited, such
as the sourcecaster: https://datapraxis.github.io/sourcecaster/ and CRALS:
http://dd388.github.io/crals/

On Wed, Sep 7, 2016 at 5:44 PM, Ashley notifications@github.com wrote:

[2016-09-08 16:37] retokromer commented on #76
We can include non-FFmpeg commands, but in this case e.g. the difference between drag&drop, `cp`, `ditto`, `rsync` etc. would be more important for audio-visual [digital] archivists, in my opinion.

[2016-09-10 10:07] retokromer commented on #42
May this be closed?

[2016-09-10 12:27] ablwr commented on #42
Yes!

[2016-09-10 12:29] #42 closed, assigned to nobody

[2016-09-18 10:15] retokromer commented on #86
@kieranjol Good idea! I think, we could start with the [checkffv1 fixity recipe](https://amiaopensource.github.io/ffmprovisr/#check_FFV1_fixity) which don't need more re-factoring. Do you have the time?

[2016-09-18 10:19] retokromer commented on #76
More thoughts?

[2016-09-18 11:06] retokromer commented on #46
Hmm... Our current recipe is 4:3 to 16:9 and not SD to HD. I guess we should add a specific SD to HD one, which my include the colour space issue.

[2016-09-18 15:54] ablwr commented on #46
+1 for these improvements

[2016-09-18 16:13] retokromer commented on #46
OK, I'll do this.

[2016-09-19 07:47] kieranjol commented on #86
Yes,Reto. I will try to get to it soon.

[2016-09-20 15:27] #46 closed, assigned to retokromer

[2016-09-23 20:32] kgrons opened #98 "Script to convert still images to GIF?"
Use Case: with exported thumbnails from video, want to make 'preview' GIF that's still low-res enough to be used as a thumbnail supplement.

Possible starting point: [Create animated gif from a set of jpeg images stackoverflow question](http://stackoverflow.com/a/29542944)

[2016-09-23 20:34] ablwr commented on #98
Totally kinda thought we already had this in the beast. Can do, will do, thank you.

[2016-09-25 06:17] retokromer commented on #86
Thank you, @kieranjol! I close this issue.

[2016-09-25 06:17] #86 closed, assigned to nobody

[2016-10-22 23:09] ablwr commented on #92
Close issue?

[2016-10-22 23:10] ablwr commented on #92
Closing but please re-open if needed!

[2016-10-22 23:10] #92 closed, assigned to nobody

[2016-10-22 23:10] ablwr commented on #91
Pinging @kfrn !

[2016-10-23 00:47] kfrn commented on #91
Hey, thanks for the reminder. :) Sorry folks, life has been crazy in the last while. If it's okay, I'll try to have a good look at this over the next fortnight, and if I don't come up with something decent, it's up for grabs.

[2016-10-23 17:52] ablwr commented on #98
Resolves in #102

[2016-10-23 17:52] #98 closed, assigned to ablwr

[2016-10-30 12:32] kieranjol commented on #71
@kfrn  has inspired me to get this done finally. Apologies for delay.

[2016-10-30 14:33] retokromer commented on #71
Done by https://github.com/amiaopensource/ffmprovisr/pull/104

[2016-10-30 14:33] #71 closed, assigned to nobody

[2016-10-30 14:33] kieranjol commented on #71
Ha! You beat me to it. Thanks!

[2016-10-30 19:08] retokromer commented on #91
Done with https://github.com/amiaopensource/ffmprovisr/pull/103

[2016-10-30 19:08] #91 closed, assigned to nobody

[2016-10-31 19:43] kieranjol opened #107 "Wish - changelog/what's new on homepage"
Is it possible to add a changelog or a 'most recent recipes' page to the site? Someone on AMIA-L recently asked for something somewhat similar, though I think he wanted updates posted on the listserv instead. It could be useful for visitors who may not notice that a new recipe has been added, and it could also be a useful promotional tool as we could link to the new scripts on various public forum

[2016-10-31 19:48] retokromer commented on #107
Linking to the commit history could have... the contrary effect on people not familiar with software development. I guess.

Posts on AMIA-L would be more effective. I guess.

[2016-10-31 19:53] kieranjol commented on #107
I agree that listserv posts would be more effective, but I think ffmprovisr is also used by people who are not on AMIA-L, so maybe a changelog could be useful for these users.

[2016-10-31 19:59] ablwr commented on #107
I'm interested in this. Wondering how something like this could be scripted out... similar to (what I need to update) the Git HatRack that pulls out all people who are code contributors and general contributors and pops that into the README. Buuuuuut this might have to be a a manually-accomplished thing. "Curated!"

[2016-10-31 20:00] retokromer commented on #107
A text that fits for both AMIA-L and other publications (including here on ffmprovisr) could be the best.

[2016-10-31 20:01] ablwr commented on #107
A test?

[2016-10-31 20:01] retokromer commented on #107
Just corrected typo ;-)

[2016-10-31 20:01] ablwr commented on #107
I didn't know that ffmprovisr had gotten any hype on AMIA-L!!! 😇

[2016-10-31 20:05] kfrn commented on #107
@kieranjol has done a little promotion on the AMIA-L :)

[2016-10-31 20:07] kieranjol commented on #107
http://lsv.uky.edu/scripts/wa.exe?A2=ind1610&L=amia-l&D=0&P=11791
I think I got frustrated with that thread and stopped replying. Anyhow as you know I don't have any web skills but I'd gladly help retrospectively create a changelog and help update when new scripts are written.

Not sure if a retrospective changelog needs to go all the way back to the beginning, but I definitely think that it shoul

[2016-11-01 07:56] #77 closed, assigned to nobody

[2016-11-06 16:20] ablwr commented on #107
I don't know how to do this outside of someone coming in and reviewing the recent updates and being like "This is worth hyping on the internet!" So it might have to just be that? Also sometimes we have bursts of activity and other times it's pretty quiet.

[2016-11-06 16:20] ablwr commented on #107
I might shout out the recent activity on AMIA-L in order to try to drum up some new recipe requests for the issue tracker as there's not too much to tackle right now that isn't already assigned out!

[2016-11-06 21:05] ablwr commented on #107
I posted about it on A M I A
http://lsv.uky.edu/scripts/wa.exe?A2=ind1611&L=amia-l&F=&S=&P=10304

[2016-11-06 23:29] kieranjol commented on #107
+111111111111

It's great that CRALS/SourceCaster got a shout too. Thanks Ashley!

On Sun, Nov 6, 2016 at 9:05 PM, Ashley notifications@github.com wrote:

[2016-11-06 23:35] ablwr commented on #107
I added them to the readme too!

[2016-11-06 23:43] kfrn commented on #107
This is great @ablwr! Thanks!

[2016-11-15 19:24] privatezero opened #110 "mp3 constant quality"
In the WAV to .mp3 script ffmprovisr gives instructions for a constant bit rate which will result in access files that are significantly larger than if a constant quality setting was used.
http://amiaopensource.github.io/ffmprovisr/#wav_to_mp3

FFMpeg's documentation suggests that anything set between -qscale:a 0 and -qscale:a 3 should in most cases be indistinguishable from files encoded with the

[2016-11-15 19:28] ablwr commented on #110
I think it's worth revising and noting!!!

[2016-11-15 20:15] retokromer commented on #110
I suggest to add also a note for http://amiaopensource.github.io/ffmprovisr/#transcode_h264 about `-qp` vs `-crf`. In my opinion, in an archival context, `-qp` should be preferred.

[2016-11-16 20:45] privatezero commented on #110
Made some changes for constant quality on my branch here: https://github.com/amiaopensource/ffmprovisr/commit/5ecc763f6dd9f9cc447d3933c5c75b56c41a46e4#diff-eacf331f0ffc35d4b482f1d15a887d3b. What do peeps think of the wording?

[2016-11-16 20:51] retokromer commented on #110
LGTM

[2016-11-17 18:13] privatezero opened #112 "issues with thumbnail generation"
There seem to be some overlaping/broken commands in this section.

https://amiaopensource.github.io/ffmprovisr/#thumbnails
This command is called "generate thumbnails" in the plural, but actually seems closer to the script for generating only one. The explanation within this command also refers only to making a thumbnail "at a specific time" so there is discrepancy between the title and explanatio

[2016-11-17 18:18] retokromer commented on #112
Thank you, @privatezero, for reporting this!

[2016-11-20 14:57] retokromer commented on #12
This in now open since approximately one year... cc @dericed @ablwr @jronallo @kieranjol

[2016-11-20 15:01] ablwr commented on #110
Resolved, yes?

[2016-11-20 15:01] retokromer commented on #110
Solved in https://github.com/amiaopensource/ffmprovisr/pull/111/commits/5ecc763f6dd9f9cc447d3933c5c75b56c41a46e4

[2016-11-20 15:01] #110 closed, assigned to nobody

[2016-11-23 16:26] richardpl commented on #12
You could use metadata filter instead of awk to pass pts when signalstats metadata numbers change.

[2016-12-02 18:15] ablwr opened #113 "Add CRALS/sourcecaster"
We link to CRALS and Sourcecaster in the README but I think we should link to it on the site itself, underneath the link to the CLI learning resource. I can do this but not at this time, so filing an Issue for the middle period (or if someone else wants to do it).

[2016-12-02 22:40] kfrn commented on #113
[You rang?](https://github.com/amiaopensource/ffmprovisr/pull/114) :)

[2016-12-02 23:44] ablwr commented on #113
Are you the greatest orrrrrrr the greatest???

[2016-12-03 01:50] metacynicv2 opened #115 "Join Files Together - Clarifications needed"
Heya,

Has anyone successfully concat files using this method? https://amiaopensource.github.io/ffmprovisr/#join_files

The language is a little unclear and I have not had success.

Attached is how I interpreted how to create the join list, but I keep getting the also attached error.

If there are any other possibly more simple methods for successfully joining DV files I'd be in love.

![screen sh

[2016-12-03 02:13] kfrn commented on #115
Hmm, it looks alright. I think I wrote or amended that command, so I know that it worked for me. Could using the curved quote marks (**‘’**) rather than straight apostrophes (**'**) be throwing things off?

[2016-12-03 02:33] metacynicv2 commented on #115
Hi @kfrn - you are perfect. Changing the apostrophes from curvy to straight worked. Thank you!

[2016-12-03 02:33] #115 closed, assigned to nobody

[2016-12-03 02:35] kfrn commented on #115
Glad it worked! I'll add a note into the recipe too :)

[2016-12-03 06:39] retokromer commented on #115
Indeed, never use typographic style for commands! Some text editors do this by default, but it should be possible to disable this «feature».

[2016-12-05 13:20] retokromer opened #118 "Wish: play two files at the same time with the temporal difference filter"
From @kellyhaydon (BAVC):

«Is it possible to divise an ffmpeg script that will open and play two files in a directory at the same time, and with the temporal difference filter? It would be beneficial to add to ffmprovisr.»

See: https://github.com/bavc/qctools/issues/221

[2016-12-07 04:13] ablwr commented on #118
+1 to this.

[2016-12-08 22:38] todrobbins commented on #118
👍🏻👍🏻

[2016-12-17 17:02] retokromer commented on #72
I suggest to add notes in the recipe at https://github.com/amiaopensource/ffmprovisr/blob/gh-pages/index.html#L71 regarding:
- interlacement
- propes_ks
- ProRes 4444

[2016-12-17 17:36] dericed commented on #72
With prores_ks you can reduce the discrepancies in Apple environments by setting the vendor tag falsely (though...). I filed a related ticket here. http://trac.ffmpeg.org/ticket/6025

[2016-12-17 17:51] retokromer commented on #72
Yes, I have seen this.

(Not a topic for ffmprovisr: I would like an implementation with the file close to propes_ks (there are also issues, but in my opinion definitively less important) and with the speed of prores!)

[2016-12-31 09:25] retokromer commented on #112
Just in case: I did __not__ solve the issue. Volunteers very welcome!

[2017-01-01 17:12] #72 closed, assigned to retokromer

[2017-01-03 06:31] kfrn commented on #113
I reckon this is good to close :)

[2017-01-03 08:07] #113 closed, assigned to nobody

[2017-01-17 00:37] ablwr commented on #112
Was this corrected? The above link doesn't lead anywhere.

[2017-01-17 01:23] privatezero commented on #112
I didn't delete it, but it looks like someone did!

[2017-01-17 03:19] ablwr commented on #112
Oh, it's there in the code and I now see that @retokromer commented it out. I think we can scrap this recipe since there are two others for generating thumbnails, for single-thumbnail and multi-thumbnail.

[2017-01-17 03:26] privatezero commented on #112
👍👍

[2017-01-17 06:06] retokromer commented on #112
Yes, as said above, I commented out the section because, as @privatezero reported, the result was wired and wrong. I did not have had the time to delve into this so far, but I will probably do so during next weekend.

[2017-01-17 07:03] retokromer commented on #112
Solved by https://github.com/amiaopensource/ffmprovisr/pull/123/commits/ea9cb9c83b8910e3506fa7accdd8c834e13587f2

[2017-01-17 07:03] #112 closed, assigned to nobody

[2017-01-17 14:41] ablwr commented on #112
Yeah I don't know how to read, I guess. Thanks @retokromer!

[2017-01-18 00:40] ablwr commented on #118
Which filter is this? Do you mean temporal outliers?

[2017-01-18 01:19] dericed commented on #118
tblend with 2 inputs. See Temporal Diff in BigDisplay.cpp in qctools.

[2017-01-18 01:20] ablwr commented on #118
gotcha~

[2017-01-22 23:18] ablwr commented on #118
@kellyhaydon do you want... the two original movies side by side.. and the temporal difference view mode in the middle? How do you want to show two videos at the same time AND the diff? Two videos with the filter applies to both?

[2017-01-22 23:41] metacynicv2 commented on #118
In my (limited) vision, there was never an original video, just a quick
script that would open and play the two videos simultaneously with the temp
difference filer.

On Sun, Jan 22, 2017 at 3:18 PM, Ashley <notifications@github.com> wrote:

--

*Kelly Haydon | Preservationist*
*415.558.2158 <http://415.558.2158> | kelly@bavc.org
<kelly@bavc.org> | @bavcpreserve <https://twitter.com/BAVCPreserve>*

[2017-01-22 23:44] ablwr commented on #118
What are the two videos?

[2017-01-22 23:55] metacynicv2 commented on #118
Say one video is a preservation master file and the other is a derivative
of the same content

one file was digitized off one machine and the second file (same content)
was digitized off another. We have used temp def to identify electrical
issues.

On Sun, Jan 22, 2017 at 3:44 PM, Ashley <notifications@github.com> wrote:

--

*Kelly Haydon | Preservationist*
*415.558.2158 <http://415.558.2158> |

[2017-01-23 00:01] ablwr commented on #118
Sorry, I get that part but I don't understand which two videos you want to be playing when you want a script that will play them at the same time WITH the filter?

[2017-01-23 00:44] ablwr commented on #118
Kelly explained it to me. She doesn't care about showing the videos but wants to play both temp-diff filters alongside each other and at the same time. I think @privatezero nominated himself to make this script... 😉

[2017-01-23 01:39] ablwr commented on #118
Is this what you are looking for? `ffmpeg -i input01.mkv -i input02.mkv -filter_complex "[0:v:0]tblend=all_mode=difference128[a];[1:v:0]tblend=all_mode=difference128[b];[a][b]hstack[out]" -map [out] -f nut - | ffplay -`

This came from @privatezero !

[2017-01-23 01:50] privatezero commented on #118
Above script ends up looking like this:
![sidebyside](https://cloud.githubusercontent.com/assets/12941699/22188553/354fbc7a-e0cb-11e6-905d-9ae3f08d07e7.gif)

[2017-01-23 02:05] dericed commented on #118
Since the video is only piped to ffplay, you could add `-c:v rawvideo` and get something looking much nicer (last example defaults to the nut video encoding default).

[2017-01-27 00:21] bturkus opened #126 "Wishlist: command for readeai608 filter"
there's info on the ffmpeg doc pages (http://ffmpeg.org/ffmpeg-filters.html#readeia608), but think could use the ffmprovisr treatment (clear examples, description, etc.)

also wondering about hex-to-text possibilities. anyone have any ideas?

thanks!

[2017-01-27 03:58] kfrn opened #128 "Batch processing for Windows?"
Hi all, I have a batch script for Windows (PowerShell) that I could add as a separate command.
Maybe we have some Windows users that would like to automate tasks. What do you all think?

[2017-01-27 04:19] ablwr commented on #128
Yes yes yes, Windows users need support too!

[2017-01-27 04:22] kfrn commented on #128
Great. I'm on it!

[2017-01-27 05:34] kfrn commented on #128
Pull request [here](https://github.com/amiaopensource/ffmprovisr/pull/129)

[2017-01-27 13:21] ablwr opened #130 "Expand signalstats details in QCTools examples"
QCTools examples just leave the big ol lump of signalstats to be mysterious and undeciphered, would be good to break it down better for understanding

[2017-01-27 13:41] ablwr commented on #107
This is still a manual process but I was thinking of shouting out to AMIA-L soon about @kfrn's Windows script, the filters from @privatezero's talk, the QCTools scripts I just added, and #118 if I get around to it. 👍 ?

[2017-01-27 13:53] retokromer commented on #107
WTF is AMIA-L?

[2017-01-27 15:21] todrobbins commented on #107
@retokromer, I think it's the AMIA mailing list.

[2017-01-27 15:22] retokromer commented on #107
@todrobbins I know ;-)

[2017-01-27 15:37] todrobbins commented on #107
You got me!

[2017-01-27 16:14] retokromer commented on #128
Merged, thank you!

[2017-01-27 16:14] #128 closed, assigned to nobody

[2017-01-27 18:45] bturkus opened #134 "ffmpeg installation instructions (or link)"
think it would be beneficial to add ffmpeg installation instructions (or possibly, a link to @retokromer 's excellent FFmpeg cookbook, https://avpres.net/FFmpeg/).

I really like the "Testing Your Installation" section; I find it super helpful.

[2017-01-27 20:59] kfrn commented on #134
Perhaps a link to Reto's installation info (https://avpres.net/FFmpeg/#ch1) in the sidebar?

[2017-01-27 21:05] ablwr commented on #134
+1 for this. I can add it in a few hours if someone doesn't beat me to it ( @kfrn is very good at this)

[2017-01-27 21:07] kfrn commented on #134
That sounds like a challenge @ablwr !

[2017-01-27 21:15] kfrn commented on #134
Cough ... #135

[2017-01-27 21:19] ablwr commented on #134
hahahahha best

[2017-01-27 21:19] #134 closed, assigned to nobody

[2017-01-30 19:18] ablwr opened #140 ""install with homebrew" instructions"
Please see the conversation in this thread: https://github.com/amiaopensource/ffmprovisr/pull/139

[2017-01-31 00:24] bturkus opened #141 "deinterlacing command (+question)"
the @privatezero tutorial last week got me thinking about deinterlacing. the only yadif flag in ffmprovisr is in the "Transcode to Prores" command.

Wondering if there should be something separate for clarity, and wondering if anyone has any exp with deinterlacing filters other than yadif (I count 4 others: bwdif, kerndeint, nnedi, w3fdif).

Alternatively, does anyone have a method for controlled

[2017-01-31 00:33] kieranjol commented on #141
+1 for separating the yadif command from the prores recipe (if that's what
you meant)

On 31 Jan 2017 00:24, "bturkus" <notifications@github.com> wrote:

[2017-01-31 00:43] ablwr commented on #141
you are great / no idea

[2017-01-31 03:12] privatezero commented on #141
Hey! Not sure if this is what you were thinking, but when I was looking into detelecine filters I used qctools to compare/analyze results. I would set it to show me the full image on one side and the field split on the other and then advance frame by frame to see what effect the filter was having. Seems like this approach could work to compare the effects of deinterlace filters!

[2017-01-31 06:16] retokromer commented on #141
I did some quick tests in the past, I guess five years ago or so. And this should indeed be analysed again and in-depth!

At that time, the default bilinear was clearly the fastest and yadif having the best ratio between speed and quality. We have used internally a self-made filter for one single project, because the artist was unhappy with all the existing filters. It gave an excellent quality, b

[2017-02-11 06:59] retokromer commented on #118
resolved by https://github.com/amiaopensource/ffmprovisr/pull/144

[2017-02-11 06:59] #118 closed, assigned to ablwr

[2017-02-14 22:12] kfrn commented on #141
Related, I had been thinking about an IVTC filter. Many use AVISynth for IVTC, but I'm experimenting with ffmpeg for this.
Although, this is more for DVD-ripping than a likely archival use case.

[2017-02-17 19:56] retokromer commented on #107
We could integrate this with formal releases. I guess that would be a good way to do it. Thoughts?

[2017-02-17 19:57] ablwr commented on #107
My thoughts are that @retokromer is a genius 😇

[2017-02-18 06:23] retokromer commented on #107
I published the [first release](https://github.com/amiaopensource/ffmprovisr/releases/tag/v2017-02-18). When we publish the next one, we could include the relevant commits in the description, and use this for advertising as well.

I used as versioning convention the actual date of the release `vYYYY-MM-DD`, because I guess this is the easiest and most intuitive.

[2017-02-18 06:23] #107 closed, assigned to nobody

[2017-02-18 14:07] retokromer commented on #130
Is this solved by @privatezero’s contributions (e.g. https://github.com/amiaopensource/ffmprovisr/pull/144 or https://github.com/amiaopensource/ffmprovisr/pull/143)?

[2017-02-20 01:05] ablwr commented on #130
No (although @privatezero is great, thank you @privatezero), this is referring specifically to the large line in the QCTools examples -- it'd make for a very long recipe description!

[2017-02-20 06:17] retokromer commented on #130
OK

I guess a long recipe should be more than a concatenation of short recipes.

[2017-02-26 12:22] retokromer opened #150 "[wishes] 1) Brew formula, 2) CLI cheat-sheet and 3) GUI for ffmprovisr"
This way, any time
[code]
is run, also `ffmprovisr` will be updated to the lastest release, if needed.

[2017-02-26 20:39] retokromer commented on #141
This is – at least partially – resolved by https://github.com/amiaopensource/ffmprovisr/pull/151.

[2017-02-27 09:55] retokromer commented on #141
Some additional work on https://github.com/amiaopensource/ffmprovisr/pull/151 will be done during the next days, but I guess we are almost done. Therefore I close this one.

[2017-02-27 09:55] #141 closed, assigned to nobody

[2017-02-27 20:07] ablwr commented on #150
What do you have in mind for this, just that it clones and pulls down the most recent version and someone can open up index.html locally by running `ffmprovisr`?

One of my colleagues asked me if I'd considered converting to a CLI cheat-sheet interface, which I think is interesting but unsure how we would be able to realistically do that, although if that's something you're interested in, I'm happ

[2017-02-27 20:11] kieranjol commented on #150
What was their CLI idea? Would it function as a kind of frontend for ffmpeg
or would it just give you info?

On Mon, Feb 27, 2017 at 8:07 PM, Ashley <notifications@github.com> wrote:

[2017-02-27 20:15] ablwr commented on #150
Something like a Ruby gem that would act as a simplified `man` page, so you could call it and it would pull up the names of recipes, and then you can, like, pass in 4 for this recipe and it would give you the line. He was thinking about something like this: http://cheat.errtheblog.com/ for short, concise documentation for when you need a memory-jog without having to leave the Terminal. This is my

[2017-02-27 20:19] retokromer commented on #150
I was thinking just in downloading the folder and you can open `index.html` locally with the browser. You don’t need internet access for using it. Yet it’s automatically updated every time the Homebrew stuff is updated. That’s my main point, related to my activity in countries with sometimes catastrophic access to the Web.

[2017-02-27 20:20] ablwr commented on #150
Yes, making sure ffmprovisr opened and worked fine locally was a big consideration when I started this project!

[2017-02-27 20:23] retokromer commented on #150
The update of the local copy would be automated (e.g. with `vrecord` or any other Homebrew formula).

[2017-02-28 16:48] retokromer commented on #150
Yet the idea of having a CLI cheat-sheet is more than interesting.

[2017-03-02 16:00] ablwr commented on #150
I've also been experimenting with Electron.js to turn ffmprovisor into a functioning GUI, although I'm still many many hours away from a functional prototype.

[2017-03-11 00:59] ablwr commented on #150
So this is a thing, but it is a tedious thing to keep building...

<img width="757" alt="screen shot 2017-03-10 at 19 23 46" src="https://cloud.githubusercontent.com/assets/3260492/23818730/1e968060-05cc-11e7-85b5-8156244b6558.png">

[2017-03-11 06:10] retokromer commented on #150
I modified the title, because we are discussing here three distinct things:

- [ ] a Brew formula that installs locally the original Web version
- [ ] a CLI cheat-sheet
- [ ] a GUI for ffmprovisr

[2017-03-11 08:11] kieranjol commented on #150
Oh my God that is amazing

[2017-03-12 14:09] retokromer commented on #150
@ablwr Would it not be better to chose first an action and then the needed files? In fact, no input file is needed e.g. for test patterns, one for the majority of the recipes and more than one for some.

[2017-03-12 16:06] ablwr commented on #150
@retokromer Trust that this is a proof-of-concept and a smart, functional app with good UX would take at least a month of full-time dev work. 😉

[2017-03-12 16:58] retokromer commented on #150
@ablwr We use internally a web interface that allows to create the all the file formats we daily provide to the clients. This works on any modern browser, without having to be Terminal literate. It’s done by a Perl script which is called from an HTML page using a CSS. I guess «something» similar should be «translatable» into an app. One week should be sufficient ;-)

[2017-03-12 17:01] ablwr commented on #150
Oh, was that built in a week? 😹

[2017-03-12 17:17] retokromer commented on #150
One big weekend… but I’m fluent in Perl. It should include:
16:9 <-> 4:3 with pillar or letter-boxing
image (and sound) speed change, mainly 16 or 18 fps, or 24 <-> 25 fps
FFV1, ProRes 422 HQ or 4444, H.264 or H.265
WAVE, BWF, FLAC, AAC
with QC and MD5 (kudos to MediaConch!)

[2017-03-12 17:23] ablwr commented on #150
👏 open the source 👏

[2017-03-12 17:46] retokromer commented on #150
The modern open source community does not like Perl (I mean the classic one, before 6) and wishes Python or PHP. Especially PHP causes me heavy allergies… ;-)

[2017-04-13 09:28] pjotrek-b commented on #89
I know this thread is old, but... :wink:

I've dealt with this [a long time ago](http://ffmpeg.org/pipermail/ffmpeg-user/2012-April/006201.html), but my understanding is that it'd require codec-specific routines to change SAR/DAR/PAR inside the codec's bitstream without re-encoding.

So far, I think ffmpeg only provides to (a) override it using container's metadata, or (b) re-encode.

Would be gre

[2017-04-13 09:35] pjotrek-b commented on #76
Wanted to mention that using split/cat only works for raw or streamable data.

Saw that "Join files together" is already using FFmpeg's concat filter.
If this issue is still open due to the open question of how to deal with non-FFmpeg commands, wouldn't it be clearer to open a new issue for that topic?

Smartypants Peter :stuck_out_tongue_winking_eye:

[2017-04-13 09:38] pjotrek-b commented on #12
Also interested.
Any updates / more practical experiences on this?

[2017-04-13 10:40] retokromer opened #168 "How to deal with non-FFmpeg commands in ffmprovisr?"
As @pjotrek-b suggested in https://github.com/amiaopensource/ffmprovisr/issues/76

[2017-04-13 10:41] retokromer commented on #76
As @pjotrek-b suggested, closing this one in favour of https://github.com/amiaopensource/ffmprovisr/issues/168.

[2017-04-13 10:41] #76 closed, assigned to nobody

[2017-04-13 11:19] pjotrek-b commented on #168
As @kieranjol already pointed out in his posting on #76:
[Sourcecaster](https://datapraxis.github.io/sourcecaster/) and/or [Script Ahoy](http://dd388.github.io/crals/) might be good places to contribute them to.

[2017-04-13 12:12] pjotrek-b opened #169 "Suggestion: Splitting "change formats" into "change codec/container" and "change formats"?"
I caught myself wishing to separate the existing entries in "Change formats" into 2 categories:
  1. Change codec/container
  2. Change formats

I think that might make it easier and clearer for non-experienced users to find what they're looking for?
Just a suggestion.

If you agree, then I'd provide the patch.

[2017-04-13 13:28] retokromer commented on #169
I personally prefer to distinguish in a more pedantic way between

- change container
- change codec
- change format

But if it’s just me, then of course I’ll agree.

[2017-04-13 13:39] pjotrek-b commented on #169
Yes, absolutely agreed!
I loooove sorting things properly :grin:

[2017-04-13 14:04] pjotrek-b commented on #169
Hm... Ran into the first issue:
"_WAV to MP3_" is actually of both: "change container + codec"

But I'd suggest if transcoding happens, to put it under "change codec".
I'd also suggest to put only "-c copy" entries in "change container".

[2017-04-13 14:05] retokromer commented on #169
Agreed.

[2017-04-13 14:16] ablwr commented on #169
Also agree. Thanks @pjotrek-b, 👑 👑 👑

[2017-04-13 14:27] ablwr commented on #168
As commented in previous thread, I'm still in favor of not restricting to only ffmpeg commands, as long as still in the scope of avpres.

[2017-04-14 06:39] retokromer commented on #169
resolved in https://github.com/amiaopensource/ffmprovisr/pull/172 by @pjotrek-b (thank you :-)

[2017-04-14 06:39] #169 closed, assigned to nobody

[2017-04-14 09:50] retokromer commented on #89
Why not directly in FFmpeg and provide an interface in MediaConch?

[2017-04-14 20:52] pjotrek-b commented on #89
You're right.
That'd be even better. And probably easier sustainable.

[2017-04-16 16:07] retokromer commented on #168
We have now two Bash scripts:
- `check_audio_framemd5.sh`
- `check_video_framemd5.sh`

beside the main page `index.html`.

[2017-04-17 00:21] kfrn commented on #168
Script subfolder?

[2017-04-17 01:18] ablwr commented on #168
For these, yeah, maybe they should go in a script subfolder instead of at the top. +1 @kfrn

[2017-04-17 04:32] retokromer commented on #168
I was also thinking about a folder. I was just waiting for this, hoping that the suggested combined recipe to generate and script to verify the MD5 of both image and sound in one go will be made… by someone else than me.

[2017-04-17 04:35] retokromer commented on #168
Should I name the folder `bash`, `script`, `bassir`,…?

[2017-04-17 06:03] retokromer commented on #168
Resolved by https://github.com/amiaopensource/ffmprovisr/pull/175.

[2017-04-17 06:03] #168 closed, assigned to nobody

[2017-04-17 09:10] pjotrek-b commented on #168
About "**script to verify MD5 of both image and sound**":
Could take a look at it. 2 things to clarify though:

  1. Current scripts framemd5 video/audio separately. For a combined framemd5 check, it might make sense to add the 3rd option that produces 1 framemd5 for video+audio combined?
  2. I'd need someone to test on MacOS (I guess?)

[2017-04-17 09:19] retokromer commented on #168
I personally was thinking about **_two_** distinct MD5 files which can be:
- generated either by the two individual recipes or the to-do combined recipe
- verified either by the two individual scripts or the to-do combined script

[2017-04-17 14:58] pjotrek-b commented on #168
Affirmative.

[2017-04-17 18:20] dericed commented on #89
You can use `-c:v copy -field_order tt` (tt, tb, bt, or bb) to change the container's interlacement flag during a copy, but maybe streams (dv, ffv1, prores, etc) store their own interlacement data so potentially this command just causes contradictions.

[2017-04-19 14:19] ablwr commented on #126
Maybe you can add the treatment!

[2017-04-19 14:40] dericed commented on #126
I have an example of an input, command and output at https://www.youtube.com/watch?v=aLfJavQl2Ng.

[2017-04-19 14:48] bturkus commented on #126
I can do it!

On Wed, Apr 19, 2017 at 10:45 AM, Ashley <notifications@github.com> wrote:

--

*Benjamin Turkus | The New York Public Library*
*Assistant Manager for Audio and Moving Image Preservation*

Barbara Goldsmith Preservation Division
40 Lincoln Center Plaza, New York, NY 10023
T. 212.870.1609 <(212)870-1609> | benjaminturkus@nypl.org
<rebeccaholte@nypl.org>
http://www.nypl.org/preservatio

[2017-04-21 22:20] bturkus opened #178 "add script for audio normalization"
ebur128?

[2017-04-22 00:42] privatezero commented on #178
Are you interested in a formula for the ebur128 visualizations or the actual normalization using loudnorm?

[2017-04-22 01:04] bturkus commented on #178
I was thinking loudnorm, but maybe it'd be good to add both?

Sent from my iPhone

[2017-04-22 01:22] privatezero commented on #178
yeh, that makes sense! I'll try to put something together this weekend!

[2017-05-05 15:44] retokromer commented on #150
The first item has been resolved in https://github.com/amiaopensource/ffmprovisr/pull/181 and the brew formula implemented in https://github.com/amiaopensource/homebrew-amiaos/pull/38 both by @privatezero (thank you!). We have now:

- [x] a Brew formula that installs locally the original Web version
- [ ] a CLI cheat-sheet
- [ ] a GUI for ffmprovisr

[2017-05-20 15:54] retokromer opened #190 "Which is the correct licence?"
- the [readme.md](https://github.com/amiaopensource/ffmprovisr/blob/gh-pages/readme.md#license) states CC BY 4.0
- the [index.html](https://github.com/amiaopensource/ffmprovisr/blob/gh-pages/index.html#L33) states CC BY-SA 4.0

[2017-05-20 16:10] ablwr commented on #190
Good catch! I'm inclined to stick with the README and use CC BY 4.0. What do others think?

[2017-05-20 16:11] ablwr commented on #190
I believe I added the CC BY-SA 4.0 to the index because CC was not stated there, only in the README. I grabbed it from the Cable Bible but erroneously thought they were using the same license.

[2017-05-20 16:11] ablwr commented on #190
I'm also fine with CC-0.

[2017-05-20 16:26] retokromer commented on #190
My preference is for CC BY, followed by CC 0.

[2017-05-20 16:31] ablwr commented on #190
I also wouldn't want to change it up to CC-0 all the sudden when people have contributed with the expectation of CC BY.

[2017-05-20 16:38] privatezero commented on #190
I'm down with CC BY, also totally ok with a CC-0 change!

[2017-05-20 22:47] #190 closed, assigned to nobody

[2017-05-26 12:29] retokromer commented on #140
I guess this has been resolved in https://github.com/amiaopensource/ffmprovisr/commit/2c0e555dc1294be05785dd204630165c30be92e6.

[2017-05-26 13:39] ablwr commented on #140
We can re-open if we decide to re-visit.

[2017-05-26 13:39] #140 closed, assigned to nobody

[2017-05-26 13:41] ablwr commented on #126
@bturkus !

[2017-05-26 13:47] dericed commented on #126
@bturkus 👀

[2017-06-02 12:36] retokromer commented on #12
Is someone working on this?

[2017-06-08 20:02] bturkus commented on #178
thanks @privatezero you da best!

[2017-06-08 20:02] #178 closed, assigned to nobody

[2017-06-08 20:24] bturkus opened #195 "audio phase shift"
wondering if anyone else thought it'd be worthwhile to add a phase shift command. I just received a file that was 90 degrees off, and the following command (from superuser.com) seemed to help:

ffmpeg -i input.wav -af "aeval='-val(0)':c=same" output.wav

I'd be happy to add (once I complete eia608!), but I was hoping someone could confirm: is this the right was to do it? And: would it make any sen

[2017-06-08 20:30] ablwr commented on #195
👍

[2017-06-08 21:06] privatezero commented on #195
It was 90 degrees as opposed to 180 degrees? I haven't tested `aeval` for phase issues, but if things are a fully reversed you can use the `pan` filter with a negative multiplier to reverse the phase of one of the tracks like such:

`-af pan="stereo| c0=c0| c1=-1*c1"`

This command maps the output's first channel (c0) to the input's first channel and the output's second channel (c1) to the inverse

[2017-06-08 21:09] privatezero commented on #195
I think actually the `*` isn't even required. This is how the phase reverse option is set up in vrecord:
https://github.com/amiaopensource/vrecord/blob/master/vrecord#L382

[2017-06-08 21:45] bturkus commented on #195
I struggle with audio in general, but the technician's notes said 90. The orig transfer looked this this:

![screen shot 2017-06-08 at 5 19 58 pm](https://user-images.githubusercontent.com/8987230/26951416-097fb1b2-4c6f-11e7-81c5-40c37cadc75d.png)

And the script I ran turned it to this:

![screen shot 2017-06-08 at 5 41 01 pm](https://user-images.githubusercontent.com/8987230/26952064-c7c9adce-4c

[2017-06-08 22:16] privatezero commented on #195
Hi Ben!
That first example is of two mono tracks that have waveforms 180 degrees out of phase with each other. This will show up as a flat line on the phase scope (which is probably why the tech referred to it as 90 degrees, because visually it is a 90 degree shift...eeek! Confusing terminology!)  This is what will cause the waves to cancel each other out when played back.

The last example is a h

[2017-06-08 22:19] privatezero commented on #195
Oh, as a side note - if you run into tapes with this problem in the future, vrecord (via the gui) supports reversing the phase of one of the input channels during capture!

[2017-06-09 00:15] bturkus commented on #195
Wow, Andrew, thank you so much. I think I might be starting to understand some things that've confused me for a long time. I gotta say: you've got a gift for making confusing shit understandable. Someone get metro on the line--we need an "Andrew Weaver Teaches Audio" class asap!

Resolved: aeval is no bueno. I'll work on getting the pan command into ffmprovisr, but again, it might take me a minute

[2017-06-09 00:42] ablwr commented on #195
@privatezero is the best!! Miss you Andrew!!!!!!

[2017-06-09 03:08] todrobbins commented on #195
![giphy](https://user-images.githubusercontent.com/158590/26959685-8e143500-4c8e-11e7-9dba-c9080d5b80b3.gif)

[2017-06-09 05:55] privatezero commented on #195
Awww guys!  Happy to help!!

[2017-06-09 06:41] kieranjol commented on #195
Yeah, I reread that explanation and I understand audio phase better than
ever even if I still don't 100% get it, thanks Andrew!

On 9 Jun 2017 06:55, "Andrew Weaver" <notifications@github.com> wrote:

[2017-06-15 16:57] kieranjol opened #196 "add audio mapping to video trimming recipes?"
There are a few trimming recipes in ffmprovisr, exceprt from beginning, from end, from middle etc.. They use `-c copy`, but I think that they should also use `-map 0` so that all streams are copied? I saw someone use the recipe to trim a video that had two audio tracks, but only the first track was copied to the output due to ffmpeg defaults. I'd like to know what ye all think before proceeding wi

[2017-06-15 17:05] retokromer commented on #196
Indeed! Please send a PR.

[2017-06-15 20:56] kfrn commented on #196
Good call! Great idea to update that.

[2017-06-25 17:22] retokromer commented on #126
@bturkus ?

[2017-06-26 13:00] dericed commented on #126
to convert the hex to text you'd need these tables: http://www.theneitherworld.com/mcpoodle/SCC_TOOLS/DOCS/CC_CHARS.HTML http://www.theneitherworld.com/mcpoodle/SCC_TOOLS/DOCS/CC_CODES.HTML. Note some values are intended to perform display actions so you may have hex for "FFFMP{BACKSPACE}{BACKSPACE}{BACKSPACE}MPEG".

[2017-06-26 18:45] bturkus commented on #126
thanks for sharing dave. will work to finish this week, including these
links

On Mon, Jun 26, 2017 at 9:00 AM, Dave Rice <notifications@github.com> wrote:

--

*Benjamin Turkus | The New York Public Library*
*Assistant Manager for Audio and Moving Image Preservation*

Barbara Goldsmith Preservation Division
40 Lincoln Center Plaza, New York, NY 10023
T. 212.870.1609 <(212)870-1609> | benjaminturk

[2017-06-27 18:43] nkrabben commented on #126
Is it in scope for ffmpeg to produce a utf-8 version of EIA 608? I'm not finding any other parsers around, and I'm wondering if it would be more useful to write a separate utility or to get this into ffmpeg.

[2017-06-27 18:56] dericed commented on #126
There is no subtitle track handling in libavfilter. I'd suggest dumping the data out in encoding form to an scc and then converting that to whatever utf-8 format you mean.

[2017-07-12 20:34] retokromer commented on #126
Resolved in https://github.com/amiaopensource/ffmprovisr/pull/197.

[2017-07-12 20:34] #126 closed, assigned to bturkus

[2017-07-12 22:54] kieranjol opened #206 "Is -an redundant in image sequence to video recipe?"
In this example, there is no audio in the input, so is `-an` necessary? I think it could be removed.

[2017-07-12 23:06] kieranjol opened #207 "batch processing - mac - add recursive find?"
I think it might be worth adding a `find` example to the batch process recipe for mac? Maybe using the same example as the `for` loop, maybe:
`find -name "*.MXF" -exec ffmpeg -i {} -c copy -map 0 {}.mov \;`
or something?

[2017-07-13 02:48] privatezero commented on #206
That sounds right to me!

[2017-07-13 05:59] retokromer commented on #206
I will test this when back from Sicily. If I remember carefully there where situations in which an empty sound track was added when `-an` was not specified.

[2017-07-13 06:44] kieranjol commented on #206
Ah, I don't think I ever noticed this, I wonder  if this involved the dv
Codec?

On 13 Jul 2017 06:59, "Reto Kromer" <notifications@github.com> wrote:

[2017-07-13 10:42] kfrn commented on #207
I like it! Didn't know that method, so thanks.
What does the `\` do here? I've only used backslashes to continue a command over multiple lines.

(For reference: existing command [here](https://amiaopensource.github.io/ffmprovisr/#batch_processing_bash))

[2017-07-13 10:46] retokromer commented on #207
We could also change the extension `.MXF` to `.mxf` in the recipe, because small caps are much more frequent.

[2017-07-13 11:02] kfrn commented on #206
I'd be interested to know what codecs/containers/combinations generated an empty soundtrack.

[2017-07-13 11:07] dericed commented on #207
-iname is case insensitive -name
The {} should be double quoted to avoid spaces breaking things.

[2017-07-13 11:41] retokromer commented on #206
I did extensive tests five years ago or so, and this happened in many configurations. I have to run the tests again, because some has been changed since… I will report back at the end of July.

[2017-07-13 11:45] retokromer commented on #207
Indeed, but didactically – if we wish to include also beginners – I think it’s better to use the most common writing.

[2017-07-13 11:58] ablwr commented on #206
+1 @retokromer, I also can't test right now but I do think I ran into that situation as well, which is why we are being explicit in request for no audio.

[2017-07-13 11:59] ablwr commented on #207
Good to use one and mention the other in the explanation!

[2017-07-13 16:13] retokromer opened #208 "Question: Transcode to H.265/HEVC"
By default x265 is compiled for 8-bit. Should we consider also the possibility to compile it for 16-bit?
[code]

[2017-07-13 16:23] kieranjol commented on #208
Sure, i think that's great info to know. I didn't know that x265 had that feature. I know that x264 has a 10-bit mode, but doesn't that 10-bit version only allow you to encode 10-bit, so 8-bit pixel formats are no longer available? Is the 16-bit mode the same, in that it would prevent 8-bit encoding?

[2017-07-13 16:50] retokromer commented on #208
For x264 we have the following information on our website:

### For advanced users

`yuv420p` is an 8-bit pixel format, which is common among distributors. For a bit depth of 10, which is common in video post-production, the pixel format `yuv420p10le` may be used, yet the library libx264 must be compiled in 10-bit mode for this. By the way, in this case the range of the quantiser scale for `-qp` a

[2017-07-13 21:50] kieranjol commented on #207
Hi! Thanks all, and yes @dericed , `-iname` would be more useful and I generally use that instead of `-name`.
@kfrn the slash is just an escaping character for the `;` which ends the statement.

[2017-07-14 08:28] retokromer commented on #207
I don’t think that using `.mxf` and mentioning in the explanation `.MXF` would be of interest. And, if really so, should we also double all the `.mov` and `.MOV`, etc.?

[2017-07-14 08:31] #196 closed, assigned to nobody

[2017-07-14 09:24] kieranjol commented on #207
I'm all for using lower case across the board for file extensions..

[2017-07-14 23:52] kfrn commented on #207
I'm happy to go through and normalise filename extensions to lower-case.

[2017-07-15 00:59] ablwr opened #209 "normalise filename extensions to lower-case"
As offered by @kfrn in #207.

[2017-07-15 07:36] #209 closed, assigned to kfrn

[2017-07-20 18:03] bturkus opened #211 "Wishlist: search functionality"
Hi,
I was wondering about the possibility of adding a search function to ffmprovisr. Now that there are so many commands on there, I've actually had some difficulty locating specific items. If I could search for, say "yuv420p," or whatever else, I think that would be really helpful.
Thanks,
Ben

[2017-07-20 18:05] ablwr commented on #211
Ohhh... hmmm... I think this might be possible, yeah. For AVAA I use this client-side javascript library (which means it can still be hosted simply on Github pages and not require a server). Maybe we can integrate that. Anything bigger would require a bigger hosting platform.

[2017-07-20 19:19] retokromer commented on #211
As one HTML page contains all the information, it should not be difficult to program a solution that works both online and offline.

[2017-07-20 19:19] ablwr commented on #211
ctrl-f

[2017-07-20 19:26] retokromer commented on #211
Hmm… I would prefer something more user friendly.

[2017-07-21 17:35] retokromer commented on #206
I tested that for single images `-an` is not needed with version 3.3.2.

[2017-07-21 18:24] #206 closed, assigned to nobody

[2017-07-21 20:09] kieranjol commented on #206
Hi, in a very nerdy moment, possibly my nerdiest, I wrote a script that checks what video encoders are present in your ffmpeg build and transcodes a test dpx file to each codec and checks if there is an audio track present. A lot of the codecs fail due to incompatibilities with pix_fmts or matroska, but I confirm that I got zero audio tracks with matroska or mov. Here's the script: https://gist.gi

[2017-07-23 02:48] kfrn commented on #211
Recently, I was thinking about the idea of being able to tag different commands. But this would require quite a restructuring of ffmprovisr (as, probably, would search ability).

[2017-07-23 04:36] retokromer commented on #211
I agree. The Cable Bible could be restructured as well.

[2017-07-23 15:03] ablwr commented on #211
Joking about ctrl-f; it doesn't work.

I support searching and tagging! I agree that tagging would require some restructuring -- do you have something in mind? Search probably wouldn't require a restructuring, but could (if it is overall better for the site).

Ideas?

Or: Ideas for how we can best brainstorm up a solution together?

[2017-07-23 15:11] retokromer commented on #211
It cannot work ;-)

I guess, I would split it into the single recipes. As we give the possibility to install and update locally via Homebrew/Linuxbrew, that should be fine also when the internet connection is bad.

[2017-07-23 15:14] ablwr commented on #211
Like replicating the way [AVAA](https://bavc.github.io/avaa/) is structured?

[2017-07-23 15:31] retokromer commented on #211
I should check that more carefully, but I have the impression that this is completely hard-coded. I would suggest a solution that creates a query’s answer on the fly. (Because it’s easier to maintain.)

[2017-07-23 15:34] ablwr commented on #211
AVAA uses lunr.js, a lightweight client-side search service built in JavaScript!

[2017-07-23 15:40] retokromer commented on #211
Thank you for the information! Yes, something like that. (My websites use a Perl script and a MariaDB database to generate most of the pages on the fly since more than 20 years.)

[2017-07-23 15:43] ablwr commented on #211
I built the site so I should know! 😆 🚀 🎸 Just depends on if we want to go that route instead of the one-pager-with-modals we have now. Modals aren't great, but I do appreciate the simplicity. I'm sure there's an even less complex solution for searching all within the one page in a user-friendly way.

One major issue about restructuring that I want us to consider early on is that we don't want to c

[2017-07-23 16:00] retokromer commented on #211
:1st_place_medal:

Indeed! I’m thinking about something like the good old `<ISINDEX>` tag… but newer.

[2017-07-23 22:22] kfrn commented on #211
Yeah, there are definite tradeoffs re: functionality v. complexity to be considered.

[2017-07-25 12:23] retokromer commented on #211
During my recent teaching, I made the experience that many beginners consider the current [homepage](https://amiaopensource.github.io/ffmprovisr/) a little intimidating. I guess, we would need also some introductory prose, suggesting possible exploration routes.

[2017-07-25 13:03] ablwr commented on #211
Please open a new issue to discuss this!

[2017-07-25 13:11] retokromer commented on #211
It’s related to this discussion: if we wish to restructure the site for adding search possibilities, or if we don’t.

[2017-07-25 13:20] ablwr commented on #211
In that case we should edit the title of this issue to make it more broad and not specific to search

[2017-07-25 21:23] drodz11 opened #213 "Scene Detection using YDIF"
In inquiring about using QC Tools for scene detection in a media analysis project, @dericed offered this ffprobe command that (for me, at least) usefully prints a .csv correlating timestamps and their YDIF values. In my tests so far it's a fairly accurate way of determining cuts, but I need to experiment with the thresholds on the spreadsheet side a bit more. Anyway, I figured this might be useful

[2017-07-25 23:00] todrobbins commented on #213
🔥 RAD🔥

[2017-07-27 18:37] todrobbins commented on #213
`<threadjack>`
How does scene detection using YDIF compare to [scene fingerprinting/perceptual hashing](https://amiaopensource.github.io/ffmprovisr/#compare_video_fingerprints)? I know @privatezero has [worked on this](https://ndsr.americanarchive.org/2017/04/20/adventures-in-perceptual-hashing/) as well, and I'd love to understand these methods better.
`</threadjack>`

[2017-07-31 17:05] drodz11 commented on #213
@todrobbins ,

Thanks for sharing info re: perceptual hashing! Based on what I've looked at here it seems that the primary difference between scene detection using YDIF vs. perceptual hashing is that large values or "spikes" in YDIF tend to correspond to cuts, whereas perceptual hashing seems more useful in detecting similar content across files using more arbitrary forms of segmentation (i.e. not

[2017-08-07 16:39] ablwr commented on #195
So the perfect command is... `ffmpeg -i input.wav -af pan="stereo| c0=c0| c1=-1*c1" output.wav`, is that right? I'm grabbin' this one from @bturkus because I have some free time!

[2017-08-07 17:29] #213 closed, assigned to ablwr

[2017-08-07 17:34] ablwr commented on #12
🤔

[2017-08-07 17:51] #195 closed, assigned to nobody

[2017-08-15 16:00] #207 closed, assigned to nobody

[2017-08-16 09:17] kieranjol commented on #213
Hi @drodz11  - I've been experimenting with concatenating files and inserting chapters for the source in/out points by using the Matroska container.  I was looking at the spreadsheet that is generated by this command and I think that I could easily knock up a script that would:
* Create CSV/JSON report of YDIFS
* Remux file to Matroska container
* Allow user to set YDIF threshold on the command li

[2017-08-16 10:18] retokromer commented on #213
👍

[2017-08-27 11:12] retokromer commented on #150
I presume a CLI cheat-sheet and a GUI for ffmprovisr are not of actuality. Closing.

[2017-08-27 11:12] #150 closed, assigned to nobody

[2017-09-19 02:34] ablwr opened #226 "No favicon"
Would be nice to have a cute favicon here on the ffmprovisr page!

[2017-09-19 02:35] ablwr opened #227 "Gifs too big"
Yoooo, eia608.gif and brng.gif are 10.7 and 7.6MB, respectively. That's kinda big for a lil gif! Maybe we can optimize their size so the site can load faster? Maybe there's something else we can do to get them to load only when clicked on?

[2017-09-19 02:41] ablwr opened #228 "header tags"
The header tags are set up according to size of the font... but should really be set according to the significant of the header! This should be reviewed and changed appropriately.

[2017-09-19 03:04] kfrn commented on #226
I'll do that this evening. I'm thinking either the ffmpeg logo, or the videotape emoji. y/n?

[2017-09-19 03:05] kfrn commented on #227
That is pretty large. I can fire up PhotoShop and make them a bit smaller.

[2017-09-19 03:10] ablwr commented on #226
I'd lean towards emoji cuz I think it would look better when tiny, but up to you! thank you!!

[2017-09-19 06:16] retokromer commented on #228
FYI: If the changes of this and the previous two issues could be resolved during the next 2–2.5 weeks, then I will made a new release in time for the FIAF workshop in Chennai, India.

[2017-10-02 09:37] #227 closed, assigned to kfrn

[2017-10-02 09:37] #226 closed, assigned to kfrn

[2017-10-02 12:20] retokromer commented on #228
@ablwr Are you working on this?

[2017-10-02 12:25] ablwr commented on #228
Yeah. Got distracted but I'll be back at it.

[2017-10-02 12:28] retokromer commented on #228
Thank you! Then I wait before making a new release.

[2017-10-03 04:34] kfrn opened #233 "Filtergraph explanation"
Hi all,
We now have quite a few commands with relatively complex filtergraphs. I was wondering if it would be worth adding a popup on 'Understanding filtergraphs' at the bottom of ffmprovisr, perhaps under a new heading like 'FFmpeg concepts'.
I started to write something of this type, incorporating the info included in commands like [IVTC](https://amiaopensource.github.io/ffmprovisr/#inverse-tele

[2017-10-03 05:28] privatezero commented on #233
I think that is a great idea!

[2017-10-03 06:29] retokromer commented on #233
Excellent idea!
(FYI: I will make in the next 48 hours or so a new release to use at the FIAF workshop in Chennai.)

[2017-10-03 06:46] kieranjol commented on #233
Great idea!

On 3 Oct 2017 07:29, "Reto Kromer" <notifications@github.com> wrote:

[2017-10-03 15:09] ablwr commented on #233
Yes! I think this should maybe go at the top instead of the bottom.

[2017-10-03 16:40] ablwr opened #235 "r e - d e s i g n ❓"
Thinking about the open and recently closed issues of header tags #228, filtergraph explanation #233, search functionality #211, and doing a lot of personal-site refactoring to reduce code bloat and increase responsiveness/accessibility, I am thinking...

# Is it time for a re-design?

I'm very happy to take on this task, but I need some requirements (constraints) from the community to think about

[2017-10-03 16:46] kieranjol commented on #235
I think a re-design would be very helpful - I keep hearing from users that it is difficult to find what you want on the page - though they are then full of praise for what ffmprovisr teaches them..

I kinda like the black btw..

And perhaps some refactoring is needed so that things like 'ffmpeg concepts' could be incorporated without adding a flood of more items. I love the idea of the 'concepts',

[2017-10-03 17:13] retokromer commented on #235
No.

Yes. And without a clear hierarchy and/or workflow. They need some time to find where to start – today, people are impatient… ;-)

[2017-10-03 17:15] ablwr commented on #235
I like the black background too because that is what command line interfaces mostly default to. :)

[2017-10-03 17:22] ablwr commented on #235
Not thrilled about our use of modals either -- I think it'd be better to have the text grow/expand out of the button but stay on the page rather than pop up on top of it.

From the technical side, we are also using jQuery and Bootstrap but really don't need either, so we can eliminate a lot of code this way and simplify things. We can probably simplify the formula with which we add new scripts, to

[2017-10-03 17:39] retokromer commented on #235
)Side note 1: currently, ffmprovisr does not work fine on a Braille terminal :-(
(Side note 2: we should say how to pronounce ffmprovisr ;-)

[2017-10-03 20:13] kfrn commented on #228
Thanks for completing this @ablwr :)

[2017-10-03 20:13] #228 closed, assigned to ablwr

[2017-10-03 20:15] kfrn commented on #233
Okay, great! I'll flesh out my draft and get a PR out in the next few days.
@retokromer, I'll not have the chance to do it before you head to Chennai, so go ahead and make that release.

[2017-10-03 20:24] kfrn commented on #235
I'm not in love with modals either - a 'click to expand' approach would be good, I think.

[2017-10-03 20:27] ablwr commented on #235
I'll be thinking about this. Please ask around or relay what else you've learned from other people coming to this for the first time! I am going to tweet about it cuz that seems to get good results.

[2017-10-03 20:27] ablwr commented on #235
I LOVE ASKING PEOPLE WHAT THEY DISLIKE

[2017-10-04 23:20] kfrn opened #237 "Refine the organisation of the page"
I got the ball rolling with #236, but I think more refinement can be done re: grouping commands into specific categories.

- Are current commands included under the right heading?
- Could commands currently listed under **Other** be moved elsewhere, perhaps under a new category?
   - example: do the commands relating to audio belong under a new heading?
- Are the current headings usefully named?

[2017-10-05 15:06] retokromer commented on #233
Thank you very much, @kfrn! I made a release with the new structure and design. This way the participants get used to it and have not to change… in the middle of the week. That was an important step forward, in my opinion. I will keep updated the gang about the reactions.

[2017-10-05 22:14] kfrn commented on #233
Indeed I thought it would be nice to have the increased navigability for your workshop. Yes, please do let us know what people think.

I shall work on filtergraph etc next week :)

[2017-10-06 10:55] kieranjol opened #238 "new recipe: change audio sample rate"
Hey, this is more of a note to self - I think that this would be useful to document.
I'd just use `-ar` to do it, but perhaps there are better ways, @privatezero @jamessam? I guess sox might do it too, but an ffmpeg method of doing it would be ideal I guess.

[2017-10-07 02:07] retokromer commented on #208
This may change in the near future (see https://github.com/Homebrew/homebrew-core/pull/19124).

[2017-10-09 03:27] ablwr commented on #235
What do you think of... more space, like this (one is normal screen, other is "mobile size")? I want to prepare for making this look better on smaller devices (by making it all in one column) but also make way for a lot of space on larger screens for a future move to take the modals and move them in-line, so clicking doesn't open up a pseudo-popup but rather shows the recipe right there.

<img wid

[2017-10-09 03:27] ablwr commented on #235
I'm trying to avoid one BIG redesign in favor of small, iterative changes.

[2017-10-11 00:00] privatezero opened #245 "FFmpeg install instructions via linuxbrew"
Not an issue directly with ffmprovisr, but wanted to ping @retokromer that the instructions for installing linuxbrew provided in this link appear to be using old paths. Looks like linuxbrew has moved stuff around a little bit!

https://github.com/amiaopensource/ffmprovisr/blob/b483acdb6d97eb9faf7d1651a54d1c54bbac41f5/index.html#L55

I was setting up a new linux box and found success with:
`sh -c "

[2017-10-11 02:22] retokromer commented on #245
Thank you very much, @privatezero! Should now be updated.

[2017-10-11 02:22] #245 closed, assigned to nobody

[2017-10-12 00:41] retokromer commented on #235
During a presentation, increasing the font size, on the screen I got:

<img width="1184" alt="bildschirmfoto 2017-10-12 um 02 35 52" src="https://user-images.githubusercontent.com/3246607/31473664-4e2e6fa8-aef6-11e7-89ce-d0af34e078cc.png">

Can we add a test like: if left column < 3 x right column, then use the one-column layout? I.e. not only absolute, but also relative values.

cc @ablwr @kfrn

[2017-10-12 01:01] ablwr commented on #235
Whoops! Sorry @retokromer! I am going to send a PR right now.

[2017-10-12 01:03] ablwr commented on #235
That should fix it. And it switches to single-column at 175% zoom, for me. This should be considered in the future because the table of contents buttons lean over the side a little bit at 150%, etc., but it's better to zoom properly and deal with that more-minor aesthetic issue later.

[2017-10-13 01:54] retokromer commented on #235
Thank you very much, @ablwr!

[2017-10-13 02:01] ablwr commented on #235
I am about to send a big change that moves recipes from Modal mode to Open-inline mode but I am still testing, so hang tight -- this restructures all the recipes!

[2017-10-13 02:45] retokromer opened #249 "add CC-BY icon locally"
By using a local copy of the icon it works 100% also off-line. Otherwise the 0.01% will be a missing icon symbol on the page. (Nothing fundamental, just a graphical detail.)

[2017-10-13 02:47] retokromer commented on #249
@ablwr I guess you can add it at almost no cost to your current PR.

[2017-10-13 02:47] ablwr commented on #249
made a new one!

[2017-10-13 02:49] retokromer commented on #249
Ah, OK… then I could have made it also myself, sorry for letting you do it.

[2017-10-13 02:49] ablwr commented on #249
no prob, I already had it open

[2017-10-13 15:11] bturkus commented on #235
redesign looks awesome, but I noticed some funky overlaps when browser windows are unusually sized (chrome on mac and windows). like this:

![screen shot 2017-10-13 at 11 09 15 am](https://user-images.githubusercontent.com/8987230/31553062-3ec53f1c-b007-11e7-8ac0-8d848c28b5e5.png)

I'm really loving all the changes! y'all rock!

[2017-10-13 15:16] ablwr commented on #235
Haha @bturkus yeah I'm working on fixing an issue related to that right now... it's driving me crazy.

[2017-10-13 15:20] ablwr commented on #235
straight up want to put an "under construction" gif up on here cuz I gotta do some real work....

![under_construction](https://user-images.githubusercontent.com/3260492/31553437-7defda20-b008-11e7-9de1-cf010b5d028a.gif)

😅

[2017-10-13 15:31] bturkus opened #251 "most popular recipes?"
Hey,
this is a random thought, but I've been wondering about the possibility of seeing a list of most referenced recipes. Of course, I have no idea whether that would be possible, or how it could be implemented, but I'm generally curious to hear if others share my desire.
thanks!

[2017-10-13 15:38] #249 closed, assigned to ablwr

[2017-10-13 15:40] ablwr commented on #211
Now that the recipes can be opened on the page instead of in a modal-box, it is possible to have a "open all recipes" button that will allow a user to use ctrl-f to search and find on the page. Would that be helpful for solving this feature request?

[2017-10-13 16:11] bturkus commented on #211
yeah that sounds great

[2017-10-13 17:08] ablwr commented on #235
I used my twitter skills to make the buttons more succinct.

[2017-10-13 17:33] ablwr commented on #251
How would we know which recipes are the most referenced? We don't do any user tracking...

[2017-10-13 17:52] retokromer commented on #251
Also in the part of the world where I am currently teaching, it’s often easier to use the off-line version, because WiFi might be a matter of chance.

[2017-10-13 18:09] bturkus commented on #251
alright, cool. thanks for responding. closing now...

[2017-10-13 18:09] #251 closed, assigned to nobody

[2017-10-13 19:00] bturkus opened #254 "open call for new recipes!"
I know this might not be the best place for this, but Kelly Haydon and I will be teaching a video preservation class this semester, and we were interested in having the students contribute to some open source tools (avaa, ffmprovisr, qctools docs).

If anyone has any relatively easy recipes that they've been wanting to add (but haven't had a chance), please let me know.

@kieranjol would you mind

[2017-10-13 19:09] ablwr commented on #254
I THINK THIS IS GREAT

[2017-10-13 19:11] ablwr commented on #254
I can't be biased since I work on all of these projects, but AVAA is probably the easiest both in editing and in finding things to add. It needs more examples but also could add more information for many artifacts, especially related to if the artifacts are fixable or not.

[2017-10-13 19:16] bturkus commented on #254
here's the list I've been putting together for new AVAA entries (I have ex for all):

1” Type C Color Frame Error
F1 (PCM audio on videotape)
DPS-295 Artifact
EIAJ ‘Old Color’
Timecode and Line 21 CC

But some of these are pretty weak, so I'm all ears. Looking for like 5 AVAA, 5 ffmprovisr

[2017-10-13 22:08] kfrn commented on #254
That's super cool @bturkus !
I've also contributed to AVAA, I agree that one is probably easier to contribute to right now. A lot of pages need examples, more extensive descriptions, etc.
With ffmprovisr, I think a lot of the basic recipes are already there, but I'll see if I could think of any. Maybe they could add an entry or two about ffmpeg concepts?

[2017-10-13 22:20] ablwr commented on #254
Wow something ffmprovisr does need, though, is testers for all the recipes, to help us catch mistakes and maybe add improvements to them.

[2017-10-13 22:42] kfrn commented on #254
Very good point. I think a big contribution could also be made by elaborating on recipes that aren't very fleshed out/well-explained.

[2017-10-14 13:28] ablwr commented on #235
I merged #256 which changes the Table of Contents to a list instead of buttons, which helps with the wonkiness when resizing, as @bturkus pointed out. I was also not seeing the text on any of the ToC buttons in Firefox on my iPhone (but Firefox on desktop was fine).

That PR (and sorry for convoluting issues together) also changes the link primary color to shades of green, to reflect the green on

[2017-10-14 13:29] ablwr commented on #235
I'm just digging around wild like a little wild boar on the hunt for truffles 🐷, but please let me know if you don't like something, or something else needs refinement.

[2017-10-14 17:49] ablwr opened #257 "Tooltips?"
Do you find the hover-over tooltips useful? It seems like *most* of the time, we just repeat what we say on the button. I think the function that the tooltip serves most of all is that it is aesthetically pleasing to have something nice happen when hovering.

I bring this up also because on mobile, you have to tap twice to actually open the recipe now, because the tooltip gets in the way and appea

[2017-10-14 17:52] ablwr commented on #257
This is also part of my not-so-secret goal of freeing ffmprovisr from relying on the bootstrap-css/bootstrap-js/jQuery frameworks.

[2017-10-14 20:23] kfrn commented on #257
I don't think they're useful. Kill 'em off I say.

[2017-10-16 03:04] retokromer commented on #208
Resolved in https://github.com/Homebrew/homebrew-core/pull/19124.

[2017-10-16 03:04] #208 closed, assigned to nobody

[2017-10-16 18:50] todrobbins commented on #257
I think tooltips could be useful for expanding initialisms (e.g. OCR, RIAA, SMPTE), but aside from that I'm with you in ditching Bootstrap cruft.

We could implement CSS-only tooltips: https://kazzkiq.github.io/balloon.css/

[2017-10-16 18:54] todrobbins commented on #235
A light and dark mode would be helpful. I like the dark mode, but having a black on white option would be stellar.

[2017-10-16 19:19] privatezero commented on #235
Maybe this is just my inner librarian speaking, but perhaps the ToC should be alphabetized? (Apart from pinning informational entries like _About This Resource_  and _Advanced FFmpeg Concepts_?

[2017-10-16 19:48] retokromer commented on #235
I guess, if one knows how it’s called, yes; but when one don’t, it’s easier, if similar recipes are grouped.

[2017-10-16 20:10] privatezero commented on #235
Wasn't referring to the organization of recipes, rather the organization of the groupings of recipes in the table of contents - while some of these groupings seem conceptually organized, many of them aren't, and the groupings themselves might benefit from additional order?

Alphabetization would at least establish a clear style for any future additions/changes of categories...or maybe the ToC need

[2017-10-16 20:18] retokromer commented on #235
Thank you for clarifying, @privatezero!

[2017-10-16 20:29] kfrn commented on #235
I wouldn't alphabetise for the reason @retokromer says. Not sure about creating meta-groupings in the ToC as @privatezero mentions - I see the benefits, but I think it could be a little unwieldy.
Perhaps in reorganising the page, I've over-categorised? Should some of the sections merge back together? e.g. should _Generate image files from a video_ & _Create an animated GIF_ become simply _Create t

[2017-10-17 05:48] kfrn commented on #237
Some comments on this topic came up in #235.

What do you think of the following?

1. Is it worth merging back _**Generate image files from a video**_ & _**Create an animated GIF**_ to a single section, e.g. **Create thumbnails or GIFs**?

2a. What about creating a section called **Work with audio**, into which is collected the following:
- _Fix AV Sync: Resample audio_
- _Extract audio_
- _Combin

[2017-10-17 13:07] ablwr commented on #237
I agree with rolling images and gifs into one -- Create image-based derivatives? Although I prefer the more simple language you offer: "Create thumbnails or GIFs".

Considering the current size/scope of audio-based recipes, I think it's good to lump 'em all together. What do others think?

[2017-10-17 15:55] privatezero commented on #237
This all sounds like a good idea to me, with the possible issue that if all the audio was lumped together it might confuse someone who was looking for the WAV -> mp3 and WAV ->AAC scripts that are contained in the Change Codec section.

Also, in hindsight, looking at _Create access MP3_, that probably should be renamed something more explicit like _Append copyright notice to access mp3__ to differ

[2017-10-17 16:00] privatezero commented on #235
I tend to favor over-categorization myself, but unfortunately I think my instincts are always to push it to the edge of TOO much categorization which might be cumbersome (subcategories and cross-references!!) so please take all my opinions with a grain of salt ;-P

[2017-10-17 17:17] retokromer commented on #237
I second the idea to group the video codec recipes and the audio codec recipes in two distinct sections.

[2017-10-17 17:22] retokromer commented on #235
We have to take account of our audience. (_Cum grano salis_ – more is too salty ;-)))

[2017-10-17 17:28] ablwr commented on #237
Oh yeah, create access mp3 used to be longer and say "+ copyright something something" but I trimmed it to stop the website from being broken on mobile devices due to long button names. I'm thinking if we ditch the tooltips and change the buttons into not-buttons and let them wrap, just like the ToC, then we can go back to more descriptive names (like if the tooltip is longer, I'll replace the too

[2017-10-18 01:05] ablwr commented on #235
See #262

https://www.youtube.com/watch?v=6nr8hPnZfMU

[2017-10-18 16:34] ablwr commented on #257
I MURDERED

[2017-10-18 16:34] #257 closed, assigned to nobody

[2017-10-18 18:56] ablwr commented on #235
![under_construction](https://user-images.githubusercontent.com/3260492/31553437-7defda20-b008-11e7-9de1-cf010b5d028a.gif)

preparing another big change, hang tight

[2017-10-18 19:36] kfrn commented on #235
You're on fire at the moment Ashley!

![](http://i.imgur.com/UFNeWe5.gif)

[2017-10-19 14:08] ablwr opened #266 "Local "link to this resource" should still reference website"
As mentioned here https://github.com/amiaopensource/ffmprovisr/pull/265#issuecomment-337918356

[2017-10-19 17:07] bturkus opened #267 "add note about codec defaults to video filtergraph commands"
not sure I understand exactly how ffmpeg works in all cases, but when a video filtergraph is called, and a codec isn't specified, it defaults to avc, right?

I've also been tripped up in the past by trying to copy codecs while filtering in some way. If you all agree, and it's not in there already, I think it could be a good idea for us to add some canned language about defaults and the need to re-

[2017-10-19 17:14] privatezero commented on #267
I believe that FFmpeg has different defaults that kick in depending on what the file extension is for the output file (which will often result in avc).

[2017-10-19 17:15] ablwr commented on #267
I've been burned here too, a lot, because I always forget. I think it is important to mention and thanks for bringing it up!

This could also be added to the Filtergraphs portion of the Advanced FFmpeg concepts section, or a new section specifically called Codec Defaults.

[2017-10-19 17:26] privatezero commented on #267
A Codec Default section could be handy, because then we could note not only what codec things will default to, but what codec settings will be defaulted to (as that is definitely an easy thing to overlook!)

[2017-10-19 17:28] ablwr commented on #267
Should I assign this to @bturkus ... or @bturkus's students? 😈

[2017-10-19 18:51] bturkus commented on #267
heeheehee. maybe it'll be a team effort?

can I self-assign, or do I not have the privileges?

[2017-10-19 19:00] ablwr commented on #267
You should have privileges... but Reto's got ya

[2017-10-19 20:41] kfrn commented on #267
Yeah, as @privatezero says, it depends on what you specify as the output wrapper, for example, MP4 defaults to H.264 & AAC.
And indeed, the default encoding settings are important to note! The [transcode to H.264 recipe](https://amiaopensource.github.io/ffmprovisr/#transcode_h264) does include a note about what the default encoding settings are for H.264, but this type of information could be more

[2017-10-20 04:23] retokromer commented on #267
I suggest:
- to keep the descriptions in the recipes (e.g. the note about MP4/H.264 requiring AAC), because it’s directly related to the use of the recipe itself;
- to add a **Codec Defaults** either as an independent section or – possibly better – as one item of **Advanced FFmpeg concepts,** because I guess otherwise it would confuse the beginners.

[2017-10-24 06:39] kfrn opened #270 "Sizing problem in Firefox"
I usually use Chrome, but opened FF the other day and found something off with the sizing:

This is full-screen in Firefox (`56.0.1 (64-bit)`). Note the X-scroll:
![firefox_fullscreen](https://user-images.githubusercontent.com/16832997/31927939-ad47e54a-b8f2-11e7-8596-662230fe8a79.PNG)
As the spacing indicates, even when scrolled all the way right, there's not room for the side spacer.

I had a fi

[2017-10-30 10:05] #233 closed, assigned to nobody

[2017-11-01 01:39] ablwr commented on #270
Whoops, meant to look at this and didn't realize it was separate from your recent CSS fix. I just noticed this also! Hmm, it was fine before, I wonder what triggered it to act up again. I will look now.

[2017-11-01 01:51] ablwr commented on #270
Oh oh, the problem I had before involved firefox's lack of support for word-break, so some of the recipes don't know how to shorten themselves so they continue kinda forever.

Applying break-all causes this kind of ugly behavior:

<img width="904" alt="screen shot 2017-10-31 at 21 51 32" src="https://user-images.githubusercontent.com/3260492/32256476-a616d69e-be85-11e7-94ad-9cfc7e3fc916.png">

mak

[2017-11-01 15:37] #270 closed, assigned to nobody

[2017-11-01 15:53] retokromer opened #276 "Avoid hyphenation of the command"
Is there a simple way in the CSS to avoid «hyphenation» of the command in the middle of a word, like `cop` and `y` as in the following example?

<img width="863" alt="bildschirmfoto 2017-11-01 um 16 47 39" src="https://user-images.githubusercontent.com/3246607/32283442-9bf07e14-bf24-11e7-9706-389f8645a300.png">

cc @ablwr @kfrn

[2017-11-01 15:55] ablwr commented on #276
I can keep investigating the issue but that was what I just put into place to keep the code example from going over the page wide and messing up view in Firefox!

[2017-11-01 15:56] retokromer commented on #276
FYI: I was using Safari here.

[2017-11-01 15:56] ablwr commented on #276
Right, the line breaks happen in all browsers. The lack of linebreak overflow was previously causing the problems in Firefox.

[2017-11-03 20:58] kfrn commented on #237
I think this is pretty well resolved for now, so I'll close this issue! Thanks for your help, everyone!

[2017-11-03 20:58] #237 closed, assigned to nobody

[2017-11-13 14:20] retokromer commented on #235
Can this be closed?

[2017-11-13 14:23] retokromer commented on #238
For audio manipulations like time-stretching and pitch-shifting we compile FFmpeg `--with-rubberband`.

[2017-11-13 14:56] ablwr commented on #235
YES.

[2017-11-13 14:56] #235 closed, assigned to nobody

[2017-11-13 19:42] richardpl commented on #238
One can use atempo and asetrate filter too.

[2017-11-13 20:01] retokromer commented on #238
We use `rubberband` instead of `asetrate`, because it gives better results.

[2017-11-13 20:23] privatezero commented on #238
@kieranjol, are you thinking more a recipe for creating a down sampled mezzanine? (Like going from 96 kHz/24 bit -> 48 kHz/16 bit) Or manipulations like @retokromer was talking about?

[2017-11-13 21:30] kieranjol commented on #238
Aye, I was thinking of going from 96/24 to 48/16, I think I had some weird case where I needed to do that. It's so long ago that I forgot the specific use case!

[2017-11-14 06:07] retokromer commented on #238
Also from 96/24 (preservation) to 48/24 (mezzanine) is used in the archive world. A note at the other case would be sufficient.

[2017-11-14 08:56] richardpl commented on #238
asetrate is not meant as replacement of rubberband ....

[2017-11-14 11:01] retokromer commented on #238
Therefore I suggested, if we agree on including also more complex audio filtering, to consider `rubberband` as well.

[2017-11-14 20:28] privatezero commented on #238
@kieranjol maybe you were going to 44.1/16 to make files that were red book spec? Perhaps that would be a good recipe to create? Typically I have been using `-ar` when I have needed to, but I know FFmpeg supports another way - would have to test it out to see if there is an audible difference!

Also, would need to note dithering in that recipe, which as an aside reminds me that I have been testing

[2017-11-15 12:48] retokromer commented on #238
+1

[2017-11-15 20:35] bturkus commented on #254
closing...couldn't make it happen this semester, but def in the future!

[2017-11-15 20:35] #254 closed, assigned to nobody

[2017-11-15 20:48] bturkus opened #279 "wav to flac command"
hey,
wondering if someone could help me put together a solid broadcast wav to flac command. there are a lot of options that mean nothing to me (Cholesky factorization passes?), and others that I'm more generally curious about (on a compression level scale of 0-12, ffmpeg defaults to 5, but I've read that 2 should be considered "your friend").

also wondering if anyone has a strong opinion about us

[2017-11-15 21:01] retokromer commented on #279
There is also the [`flake`](http://flake-enc.sourceforge.net) encoder, but I don’t know if this is still maintained. (We used `flac`.)

[2017-11-15 22:33] privatezero commented on #279
+1 for using `flac`! I use a slightly tweaked (not deleting the input) version of the command that @dericed put together for his post about [FLAC in the Archives](http://dericed.com/2013/flac-in-the-archives/)

`flac --best --keep-foreign-metadata --preserve-modtime --verify input.wav`

Since what makes a Broadcast WAV a Broadcast WAV is just the inclusion of the extra metadata, I liked how the `-

[2017-11-15 22:36] privatezero commented on #279
Oh, as a follow up, `flac` is in homebrew, so a usual `brew install flac` will get you where you need to be to experiment!

This will also get you `metaflac` which opens up tagging and embedding data (such as an image of the item) within the flac itself, so might be worth looking into what else FLAC would let you do besides just preserving the BWF info!

[2017-11-15 22:39] privatezero commented on #279
Here is an example command for some metadata embedding (I am using this for a personal archiving project).

`metaflac --set-tag=SOURCEMEDIA="A=ANALOGUE,M=stereo,T=Sony TC-D5 PROII; 1 7/8 ips; Compact Cassette" --set-tag=LOCATION="+40.81013-073.94758" --set-tag=DATE="2017-03-18 (recorded)" --set-tag=LICENSE="CC BY 4.0 Attribution : Andrew Weaver" --import-picture-from="13||||/input.jpg" input.flac`

[2017-11-15 22:54] bturkus commented on #279
thanks for all the info. I was playing around with the flac utility earlier today, and even when using the --keep-foreign-metadata flag, it didn't seem to be retaining the extra metadata from my broadcast wav. sorry for the screenshotz, but:

Exhibit A:
![screen shot 2017-11-15 at 5 51 53 pm](https://user-images.githubusercontent.com/8987230/32864593-ccaece84-ca2d-11e7-94c2-881f4bcce081.png)

Exhi

[2017-11-15 23:45] privatezero commented on #238
Not entirely scientific, but I ran a little test using one of the test files [here](http://src.infinitewave.ca/) using different methods to go from 96 kHz to 44.1 kHz in FFmpeg, and then visualized the spectrum to see if I could notice any artifacts. It looks to me like both setting `-ar` and `out_sample_rate` are using the default FFmpeg resampler, so no difference there. `libsox` does seem to av

[2017-11-16 00:08] privatezero commented on #279
You should be able to see the BWF metadata if you reverse the process (.flac back to a .wav) with `flac --decode --keep-foreign-metadata --preserve-modtime --verify input.flac`.

The data is all in there and the BWF can be perfectly recreated, mediainfo is only showing the flac metadata and not the embedded foreign metadata. When you were using FFmpeg, I suspect it might have been auto-converting

[2017-11-16 00:13] kieranjol commented on #238
Woah cool!I won't pretend to fully understand those graphs , but I have a
rough idea of what you're saying. Thanks Andrew!

On 15 Nov 2017 23:45, "Andrew Weaver" <notifications@github.com> wrote:

[2017-11-16 06:17] kfrn commented on #279
Hey, I don't have any info to add, but this is a great thread. Thanks!

[2017-11-16 06:27] retokromer commented on #279
Indeed, we – and our clients as well – use `flac` with `brew`. It works just wonderful.

[2017-11-28 16:19] todrobbins commented on #276
`line-break: strict;` in the CSS should fix most cases of this, although Firefox is yet to implement... See: https://developer.mozilla.org/en-US/docs/Web/CSS/line-break

[2017-11-28 19:14] retokromer commented on #276
Thank you, @todrobbins! I suggest that we move forward that way, and ignore Firefox.

[2017-11-28 19:19] ablwr commented on #276
Firefox should not be left behind!

[2017-11-28 20:54] retokromer commented on #276
I am unhappy with the idea of having to manage different CSS behaviours, because of the inconsistency of the current browsers.

[2017-11-28 21:00] ablwr commented on #276
It breaks on `copy` because it is necessary, otherwise lines do not know how to break with something lengthy like `"[0:a:0]asplit=2[a][b];[b]afifo[bb];[1:a:0][bb]concat=n=2:v=0:a=1[concatout]"`.

[2017-11-28 21:03] ablwr commented on #276
An example of why this linebreak has to happen is not for `copy` but for `loudnorm=dual_mono=true:measured_I=input_i:measured_TP=input_tp:measured_LRA=input_lra:measured_thresh=input_thresh:offset=target_offset:linear=true` within https://amiaopensource.github.io/ffmprovisr/#loudnorm_two_pass

[2017-11-28 21:03] ablwr commented on #276
Ah! I have a compromise. One moment.

[2017-11-28 21:18] ablwr commented on #12
happy 2-year birthday to this issue, as a gift I am closing it

[2017-11-28 21:18] #12 closed, assigned to nobody

[2017-11-30 21:52] ablwr commented on #276
#281 should resolve, re-open if insufficient

[2017-11-30 21:52] #276 closed, assigned to nobody

[2017-12-04 19:26] #266 closed, assigned to ablwr

[2017-12-10 22:27] federicomenaquintero opened #289 "New recipe for embedding subtitles"
I've been using this to embed a subtitle file into a movie file:

`ffmpeg -i input.mp4 -i subtitles.srt -c copy -c:s mov_text output.mp4`

I think this would be useful to have around.

[2017-12-10 22:35] kfrn commented on #289
Ooh good one, I've used similar commands lots to mux in subtitles.
Do you want to add the recipe yourself, or prefer one of us to do it?

[2017-12-10 22:37] federicomenaquintero commented on #289
If you do it yourselves, great!  I really don't know the conventions you use here :)

[2017-12-11 02:25] ablwr commented on #289
Ahhhh!!! Thanks. I will add. Double-thanks!

[2017-12-11 14:43] #289 closed, assigned to nobody

[2017-12-11 19:23] federicomenaquintero commented on #289
O_O that was fast, thank you.  And now I know what options to use to keep things inside an mkv instead of repacking into an mp4 :)

[2017-12-15 09:42] retokromer commented on #89
Is this issue still one, @kieranjol?

[2017-12-15 20:30] GregH18 opened #292 "Concat and transcode with the same script?"
Hi all,
Wanted to say, I'm loving the newly organized ffmprovisr page. It makes finding the commands I like to use so much easier!

I'm familiar with the join/concatenate script which works great, but I'm interning with @bturkus he thinks there is a way to combine the transcode script with the concatenate script. I've looked at the ffmpeg site:
https://trac.ffmpeg.org/wiki/Concatenate, but frankly

[2017-12-15 20:43] privatezero commented on #292
Pretty sure that if you are using inputs with different codecs you need to use the concat filter. Thanks for pointing out that this would be a good recipe to add!

For the time being, [this recipe](https://amiaopensource.github.io/ffmprovisr/#append_mp3) for appending an mp3 file to a wav file uses the concat filter and has a little explanation, so maybe it could help as an example for what you ar

[2017-12-15 20:57] privatezero commented on #292
Maybe the examples in the [concat](https://ffmpeg.org/ffmpeg-filters.html#concat) filter doc are close enough to what you are trying to do to be helpful?

[2018-01-05 18:14] privatezero opened #295 "New Recipe: Rewrap back to dv"
This is a bit of a note to self to add in this rewrap command helpfully supplied by @dericed for taking a DV stream that has been wrapped in something like mov and going back to a straight up .dv file

`fmpeg -i  dv.mkv -f rawvideo -c:v copy backto.dv`

Good to know that just doing a straight up `c:v copy` without the `rawvideo` tag seems to mess up some of the metadata!

[2018-01-23 10:43] kfrn commented on #292
Hi @GregH18, you might want to have a look at the PR I have just opened, #296, which includes a recipe for concat + transcoding. I'd really appreciate any feedback you have!

I think the recipe you are looking for is something like this (disclaimer: did not test with the exact same kind of files that you have):
[code]

[2018-01-24 18:55] kfrn opened #298 "Extend recipe: concatenating different file types"
We now have a recipe for [concat-ing files of different types](https://amiaopensource.github.io/ffmprovisr/#join_different_files) - however, it only works properly if the input files have the same dimensions (e.g., 720x576).

It would be good to amend the entry to also show how to use the concat filter with inputs of different resolutions, i.e., using a scale filter prior to concatenation.

I can

[2018-01-24 22:02] todrobbins commented on #298
Does the above recipe work for different codecs besides different file types? Just a newb question...

[2018-01-24 22:05] privatezero commented on #298
Sure does!

[2018-01-24 22:53] kfrn commented on #298
Yep! The inputs can be different codecs, containers, indeed different in most ways - frame dimensions are a special case. If you like, feel free to adjust the wording to make things clearer.

[2018-01-24 22:55] kfrn commented on #292
PR #296 adds a concat + transcode recipe, and I've also opened issue #298 about enhancing that command. Therefore, I'll close this issue.

[2018-01-24 22:55] #292 closed, assigned to nobody

[2018-01-25 05:20] kfrn commented on #298
Okay, I went ahead and changed the wording to hopefully make that a bit clearer!

[2018-01-28 06:38] retokromer commented on #211
Are you working on this, @ablwr?

Indeed! I guess as well that this would be a very useful improvement.

[2018-02-10 07:38] kfrn commented on #298
Explanation about resizing prior to concatenation added in 8f146ecdf6b8388b3f5ebf2f3b5770e487d6aafc

I'll add framerate conversion next, though as always, someone else should feel free to pick it up if they so desire.

[2018-02-10 08:00] retokromer commented on #298
In my opinion, this would be indeed useful. That way, the full video, composed by different sources, can be encoded with all parts at the natural speed.

[2018-02-18 19:57] kfrn commented on #298
Concatenating files of different framerates added in #308.

The one thing I haven't done yet is consider PAR - I'm pretty sure that's a special case too.

[2018-02-18 20:03] retokromer commented on #298
I did test your command by adding a padding, because I mixed not only file types, but also image ratios.

[2018-02-18 20:52] kfrn commented on #298
Yes, aspect ratio is covered. But I had the idea that mismatches in pixel aspect ratio could cause problems. I thought I ran into this at some stage, but maybe I misremember. I'll see if I can recreate it.

[2018-03-06 23:38] ross-spencer opened #309 "Discussion: refactoring index.html into individual recipes to be loaded as one"
I chatted with @kfrn and @ablwr about the potential of this, and it seem's that there's a nice discussion to be had about ways to make the `index.html` of ffmprovisr could be refactored to be a little less unwieldy.

I've started a refactor which I'll re-skin and add new recipes for, for another project. The refactor is currently available in gh-pages here to demonstrate that it works:

* https://

[2018-03-06 23:44] ablwr commented on #309
To publicly summarize the ideas I spilled out to Ross earlier (many of which he has already done):

I'd be into changing it up so that recipes are easier to submit, similar to how [AVAA](https://github.com/bavc/avaa) functions, and have the recipes themselves as sparse, individual YAML files. Then contributors don't have to be people who know (or are willing to dig into) HTML to contribute. And th

[2018-03-06 23:54] kfrn commented on #309
I definitely think the `index.html` is pretty unwieldy now, and actually in the last while I was already thinking about restructuring it somehow, perhaps React.js-ifying it. So thanks for opening the discussion, Ross!

Cut and pasting some of my contributions to the discussion we had in Twitter:

I like the idea of rewriting it in React (or Jekyll, etc), but there are three big advantages of the s

[2018-03-06 23:58] ablwr commented on #309
Another thing I mentioned offline is that it would truly be nice for ffmprovisr to be able to handle other systems, like someone on Twitter mentioning the wish for one for Exiftool, and I would like one for ImageMagick and scaling up the system in this way would allow it to scale outward as well through some sort of tagging system that would allow the generation and reveal of everything associated

[2018-03-07 00:02] privatezero commented on #309
Yeah...I personally like Jekyll etc, but I think that might be seriously raising the barrier to entry for lots of potential contributors.

Speaking as someone who was able to propose some recipes to ffmprovisr before I knew much about web-dev (and who still isn't SUPER strong in that area) being able to just open `index.html` copy an existing recipe to use as a template and then preview in a brows

[2018-03-07 00:05] ablwr commented on #309
I also just realized that ffmprovisr could grow laterally with "exiftool.html" and "imagemagick.html" living adjacent but in the same codebase.

[2018-03-07 00:07] privatezero commented on #309
+1 to that! I was thinking kind of the same thing - could have ffmprovisr grow to support other tools by having separate pages instead of intermixing.

[2018-03-07 00:09] kfrn commented on #309
Intriguing idea! CSS and JS all reusable, cross-linking between the HTML files - that could work quite nicely.

[2018-03-07 05:30] retokromer commented on #309
Cf. as well https://github.com/amiaopensource/ffmprovisr/issues/211.

[2018-03-08 14:56] EG-tech commented on #309
I don't have much to add here but I am extremely interested in the discussion to apply to Cable Bible as well!! I just added a couple new modules this weekend and was thinking how unwieldy the index.html is and was wondering if that's why no one else has ever added/edited a module 🤣 😢

Spitballing because I am still barely familiar with tools like React/Jekyll - is it possible to generate a giant

[2018-03-08 15:02] ablwr commented on #309
I can definitely see the advantage of moving to an individual-page style for the Cable Bible because loading all of the images can get a bit unwieldy -- although that's a value to ffmprovisr as well, as the gifs grow and get bigger -- but *especially* for the Cable Bible since images are more core to the site itself.

For React and Jekyll, it is easy to do both! Again, A/VAA can be referenced -- t

[2018-03-08 15:40] EG-tech commented on #309
yes, great point - that just made me remember/realize that the whole pinouts aspect of Cable Bible is super broken because of internal linking that I didn't carry over correctly from the last restructure 🙄

well +1 to adding recipes via more human-readable YAML/JSON/markdown snippet files in any case, and expansion to exiftool/imagemagick. (sox? @privatezero ?)

So if both versions could be offere

[2018-03-08 16:11] ablwr commented on #309
I'm going to make a new issue just about what tools are a good fit for expansion since that's slightly different to the scope of this one.

[2018-03-08 16:14] ablwr opened #310 "Other ffmprovisr-suitable tools?"
Growing out of #309 and stemming also from [this tweet](https://twitter.com/ChewChewTrain/status/968291708235427841) --

What tools are a good fit for ffmprovisr-style sites, potentially to live immediately adjacent to ffmprovisr in this repo? What is complicated enough to need regular scripting reference?

- Exiftool (Exiftoolkit)?
- ImageMagick (ImageMagickTricks [thanks @kfrn for that one])?
-

[2018-03-08 16:17] ablwr commented on #310
They all at minimum need punny and hard-to-remember-or-search names just like their parent. ;)

[2018-03-08 17:56] privatezero commented on #310
I have been tempted to add a few `sox` commands into ffmprovisr for a couple of the things sox handles better than ffmpeg - but not sure if there are enough to warrant an adjacent site...

[2018-03-08 17:57] privatezero commented on #310
oh, hahaha I just noticed you had `sox` on the list already! Sox is good!

[2018-03-08 17:58] ablwr commented on #310
@EG-tech noted it AND you!

[2018-03-08 18:01] kieranjol commented on #310
Mkvpropedit! Editing colour metadata and adding chapters..

On 8 Mar 2018 5:58 pm, "Ashley" <notifications@github.com> wrote:

[2018-03-08 18:03] kieranjol commented on #310
Also the openssl pipe here is invaluable for calculating the weird hashes in a digital cinema package

Edit: link https://en.wikipedia.org/wiki/Digital_Cinema_Package#Packing_list_file_or_PKL_package_key_list

[2018-03-08 18:05] kieranjol commented on #310
Also https://twitter.com/dericed/status/758275619767582720?s=19 the xxd call in here as a means of analysing binary outputs and determining any potential padding..

[2018-03-08 18:09] retokromer commented on #310
The use of Rubberband and Tesseract (with and/or without FFmpeg) could also be of interest.

[2018-03-08 18:09] EG-tech commented on #310
- ImageMagickMagic
- KnockYourSoxOff
- ExifThroughTheGifShop

[2018-03-08 18:10] kieranjol commented on #310
Sorry for the flood,I think all of mine would be in more of a "misc"
site,rather than any of those tools being standalone. I think having those
kinds of commands in an ffmprovisr style site would be so helpful tho.

On 8 Mar 2018 6:01 pm, "Kieran O Leary" <kieran.o.leary@gmail.com> wrote:

[2018-03-08 18:12] ablwr commented on #310
Yeah that's what I'm thinking about... it would be good to have a misc though, for things related to the same premise but a different tool is better. Trying to think about which ones are complex enough -- ffmpeg really is a BEAST! ImageMagick for sure is weighty.

[2018-03-08 18:13] retokromer commented on #310
Bash is a (little) beast, I presume.

[2018-03-08 18:15] ablwr commented on #310
The biggest beast of all!!!!

[2018-03-08 18:43] bturkus commented on #310
I have nothing to add to this conversation, but I just wanted to say: I
love you all. And that I spent all of yesterday screwing around with bash
and imagemagick, so you know where my head's at.

On Thu, Mar 8, 2018 at 1:15 PM, Ashley <notifications@github.com> wrote:

--

*Benjamin Turkus | The New York Public Library*
*Assistant Manager for Audio and Moving Image Preservation*

Barbara Goldsmith

[2018-03-08 18:45] todrobbins commented on #310
maybe a `youtube-dl` guide for (community) archivists?

[2018-03-08 18:47] ablwr commented on #310
We are wired in, @bturkus.

[2018-03-08 18:48] ablwr commented on #310
Ya @todrobbins do you use `youtube-dl`?

I guess also it comes down to soliciting for commands people use. ffmprovisr got a jump-start from 1 my totally non-useful commands and 2 being during a hackathon and 3 leeching off of a previous AMIA hackathon's ffmpeg-for-archivists guide which had sample commands in it

[2018-03-08 18:56] privatezero commented on #310
I support all of this! Especially the :heart: , @EG-tech's proposed names, and another +1 for youtube-dl! I use that hella!

[2018-03-08 19:06] kieranjol commented on #310
Aye +1 youtube-dl

On 8 Mar 2018 6:56 pm, "Andrew Weaver" <notifications@github.com> wrote:

[2018-03-08 19:08] ablwr commented on #310
My secret dream is a hackathon that moves with time zones, like Sunday 10am-5pm but N.Z. gets a head start, and @privatezero is left cleaning up all of the junk commits that have been made, unless we find an a/v archivist with github skills in Hawaii/Alaska. ;)

[2018-03-08 19:23] kfrn commented on #310
I'm happy to write some bugs for y'all to sort out 😎

[2018-03-08 19:24] ablwr commented on #310
wow this just arrived in my inbox https://github.com/learnbyexample/Command-line-text-processing/blob/master/ruby_one_liners.md 😍

[2018-03-08 19:25] privatezero commented on #310
I'm ok with being a closer as long as  y'all are prepared for some `` comments being slipped in after everyone else has wrapped ;-P

[2018-03-08 19:51] retokromer commented on #310
The Roman Empire is falling: I was convinced that `` is a secret instruction for the compiler!

[2018-03-08 21:30] kfrn commented on #310
Don't forget what we learned from Philip K Dick ....

**THE EMPIRE NEVER ENDED**

[2018-03-08 22:07] kieranjol commented on #310
+1 empires never ended

On 8 Mar 2018 9:30 pm, "Katherine Frances Nagels" <notifications@github.com>
wrote:

[2018-03-15 22:06] todrobbins commented on #310
A potential starting point for a `youtube-dl` guide: https://github.com/bibanon/tubeup

YouTube → Internet Archive

[2018-03-27 01:50] ablwr commented on #309
I am thinking that the conclusion seems to be we will leave ffmprovisr as one big bulky page, for the sake of simplicity, offline use, convincing new archivists to give github a try, etc...?

[2018-03-27 02:08] kfrn commented on #309
Hey, thanks for the nudge, Ashley. That does seem to be where we landed.
I'm cool with it if people want to take another approach, but I won't push for it. (Partly for pragmatic reasons, and partly because I prob can't help in the next little while - heavy schedule at the moment).

[2018-03-27 02:48] ablwr commented on #310
I'd like to work on this.

Since we aren't sure how big some of these could potentially get (and I'm unsure if any of them could reach the size of ffmpeg, at least for this crowd), how about a compromise like this?

<img width="942" alt="screen shot 2018-03-26 at 22 46 03" src="https://user-images.githubusercontent.com/3260492/37943878-8af71272-3147-11e8-860a-8e8cba94c164.png">

(Adding tools to t

[2018-03-27 03:32] privatezero commented on #310
I think that makes a lot of sense! I can start thinking of some sox things! (Maybe one of the most useful things sox does better than ffmpeg is splitting tracks on silence, and there is a good example right in the sox manual)

[2018-03-27 04:01] todrobbins commented on #310
ToC title could be `Similar tools: tips & tricks` 🎩🐰

[2018-03-27 05:59] kieranjol commented on #310
Makes sense to me!

On Tue, 27 Mar 2018, 05:01 Tod Robbins, <notifications@github.com> wrote:

[2018-03-27 06:45] richardpl commented on #310
@privatezero sox is no longer developed for good, what command you speak about?

[2018-03-27 13:01] ablwr commented on #310
I did the thing I know best, which is tweet about it https://twitter.com/ablwr/status/978617812079009792

[2018-03-27 13:04] ablwr commented on #310
I think `wget` might be able to justify having its own section too.

`rsync` isn't as complex, but maybe? I also know I can never ever remember the right way to do it.

[2018-03-27 13:08] kieranjol commented on #310
Rsync preserving dates,permissions,with progress updates and stats is a
very useful command.

On Tue, 27 Mar 2018, 14:05 Ashley, <notifications@github.com> wrote:

[2018-03-27 13:09] richardpl commented on #310
try `curl` as alternative to `wget`

[2018-03-27 13:18] ablwr commented on #310
Maybe wget, rsync, and curl are close enough to group together in one section about collection and transferring data.

[2018-03-27 13:38] richardpl commented on #279
Use ffmpeg's flac if you want to do special encoding with smallest files.

[2018-03-27 13:43] dericed commented on #279
ffmpeg's flac does not offer --keep-foreign-metadata (from flac utility), so some container data from input (iXML, aXML, cart, cues, lvl, etc) may be lost

[2018-03-27 13:49] ablwr commented on #310
@retokromer Do you happen to have examples of where and when you use tesseract or rubberband? I'm familiar with tesseract, I think it's super useful and robust enough to have a section. Just need some examples to start! 🎉

[2018-03-27 14:34] todrobbins commented on #310
PS: I'm throwing OpenCV into the fray. Come at me!

[2018-03-27 15:16] todrobbins commented on #279
THIS THREAD:

![giphy](https://user-images.githubusercontent.com/158590/37976811-8f5f8030-319f-11e8-821a-16981551f5f5.gif)

PS: are there any good GUIs for `flac`/`metaflac`?

[2018-03-27 15:20] JonnyTech commented on #310
@todrobbins I am not sure about including OpenCV - all of the other tools can be run from a command line but afaik OpenCV is a software component that requires writing code and then compiling and running it, which imho is out of the scope for most non-programmers.

[2018-03-27 15:54] privatezero commented on #279
Additionally ffmpg's flac seems to create files that do not pass flac validation from time to time when dealing with 24 bit mono

[2018-03-27 16:14] richardpl commented on #279
@privatezero have you reported such issue to trac?

[2018-03-27 16:20] privatezero commented on #279
@richardpl this is something I need to follow up on - the offending files were created at a different institution and their engineer said he would report it to trac, however I don't think that he did.

As I do not have access to their files anymore, I haven't created an issue myself. I will try reaching out to them again.

[2018-03-27 16:38] privatezero commented on #310
@richardpl yes, I think we are all aware that sox is not under active development, and when it either ceases to work or is superseded by other tools then we won't have to consider it. Until then, it remains an effective tool for limited use cases, the aforementioned ability to effectively split files on silence via a single simple command being one of them.

In my experience sox has also supported

[2018-03-27 16:42] richardpl commented on #279
@todrobbins we are programmers, GUIs are for kids.

[2018-03-27 16:49] richardpl commented on #310
@privatezero  And exact command is?

[2018-03-27 17:17] retokromer commented on #310
@ablwr Yes, I can make a PR after the SEAPAVAA and FIAF conferences. We do use `tesseract` very often, mainly to extract intertitles of silent films (BTW: it works quite well also with the [Fraktur](https://en.wikipedia.org/wiki/Fraktur) of German silents!) or more rarely for subtitle extraction, and `rubberband` for sound manipulations.

[2018-03-27 17:22] privatezero commented on #310
@richardpl For file splitting? A basic example for splitting a digitized reel at points of silence is `sox input.flac output.ogg silence 1 0.50 0.1% 1 2.0 0.1% : newfile : restart`

As regarding the `avfoundation` device, it has been too long to remember, and I am no longer using macOS, but it would have been some variant on `ffmpeg -f avfoundation -i 'none:0' -f wav -c:a pcm_s24le -ar 96000...`,

[2018-03-27 17:35] ablwr commented on #279
Not everyone is a programmer and GUIs are useful for people that do not have that particular skillset. Please avoid the use of [insulting/derogatory comments](https://github.com/amiaopensource/ffmprovisr/blob/gh-pages/code_of_conduct.md)!

[2018-03-27 17:50] ablwr commented on #310
DAMN LOOK AT THIS http://www.fmwconcepts.com/imagemagick/index.php

[2018-03-27 18:04] richardpl commented on #310
ImageMagick have many CVEs, and many of that what is listed there should be doable with FFmpeg, and faster. FFmpeg operates on images too, so if you find something doable in ImageMagick and not doable in FFmpeg please report to FFmpeg bug report tracker.

[2018-03-27 18:08] kieranjol commented on #279
I'm guilty here as well with my heart emoji (which I removed) , I wasn't really thinking - sorry Tod, and +1 @ablwr.

[2018-03-27 19:19] kfrn commented on #279
Bro ....

[2018-03-27 19:42] retokromer commented on #310
Usually, I prefer `curl` as well. It’s just 20 year old, and still young!

[2018-03-27 21:08] privatezero commented on #279
@richardpl regarding issues with the flac tool throwing errors with certain 24 bit mono files that were processed by ffmpeg - I reached out to the institution holding the files and am unable to recreate the problem as previously reported using the supplied test files.

It would seem that this is no longer a concern.

[2018-03-27 21:33] todrobbins commented on #310
@JonnyTech you're right, OpenCV is out of scope. But an GLAM guide utilizing OpenCV would be great. Carry on!

[2018-03-27 22:41] JonnyTech commented on #310
@todrobbins, forgive my ignorance but I am unfamiliar with the term "GLAM guide".

[2018-03-27 23:04] kieranjol commented on #310
GLAM= galleries, libraries,archives,museums.

[2018-03-27 23:12] todrobbins commented on #310
What @kieranjol said. Sorry for assuming everybody knows that acronym!

[2018-03-28 07:50] richardpl commented on #310
@privatezero similar could be implemented in ffmpeg: silencesplit filter, the only limitation is that one would need to know number of split points ahead of time, but one could use same filter in 2 passes.

regarding `avfundation`, is that issue reported to trac?
IIRC we have active avfundation maintainer. I can not fix it because i do now own such OS.

[2018-03-28 19:54] ablwr commented on #309
This is definitely worth maybe doing or bringing up in the future though and it sounds like none of us are strongly opposed! I am gonna close this issue in the meantime though. @ross-spencer thanks so much for thinking this through though, and best of luck with your similar project (hope to see it in action soon)!

[2018-03-28 19:56] ablwr commented on #310
This thread is super big! I am going to make some individual threads soliciting scripts from some of the programs mentioned here. I'm happy to add anything and everything but don't have the power to dig up things that are practical and useful too, so I hope people can chime in and once there's a threshold reached (like... 4...? 5 recipes?), a new section can emerge.

[2018-03-28 19:59] ablwr opened #311 "ImageMagick recipes"
As discussed in #310 and #309, we'd like to add an ImageMagick section to ffmprovisr, but we need recipes! Please share small scripts here!

[2018-03-28 19:59] ablwr opened #312 "sox recipes"
As discussed in #310 and #309, we'd like to add an sox section to ffmprovisr, but we need recipes! Please share small scripts here! Especially you @privatezero!

[2018-03-28 20:00] ablwr opened #313 "Exiftool recipes"
As discussed in #310 and #309, we'd like to add an Exiftool section to ffmprovisr, but we need recipes! Please share small scripts here!

[2018-03-28 20:07] ablwr commented on #310
I'll start with those. But feel free to make your own if you have some to start with, or send a PR. Instead of Bash, maybe "Unix tools" is a good general header for tossing in some stuff.

[2018-03-28 20:07] kieranjol commented on #313
`exiftool -j input` - json output
`exiftool -X input` rdf output
`exiftool -v# input ` where # is  a number between `0` and `5` levels of verbosity, 0 being simple, 5 being trace level.

[2018-03-28 20:15] kieranjol commented on #313
Getting a specific value, such as `ImageWidth`:
[code]

The `-s3` gives you the value only, which i need sometimes. Using `-s1` or `-s2`  gives element names as well.

using
[code]

Will display the element names that you can use with this option for a particular file.

[2018-03-28 20:17] ablwr commented on #313
Ahhhhh great thank you yes yes yes

[2018-03-28 20:32] kieranjol commented on #313
These are really simple and obvious but they're the only ones I really use
at work.

On Wed, 28 Mar 2018, 21:17 Ashley, <notifications@github.com> wrote:

[2018-03-28 20:33] ablwr commented on #313
A good start. I think it's more about practical use and not knowing what is actually possible to do with a tool.

[2018-03-28 20:41] JonnyTech commented on #313
I know that you guys are into preservation, but I use it to scrub all metadata from my images when sharing:

`exiftool -all= image.ext`

[2018-03-28 20:42] kfrn commented on #311
Very basic, but these are ones I have used:

Resize specifying new width:
`convert input -resize 750 output_750w.jpg`
(this script will also convert the format, if the output has a different file extension than the input)

Create grid of images:
`montage @list.txt -tile 6x12 -geometry +0+0 output_grid.jpg` .
(`list.txt` is a list of filenames)

[2018-03-28 20:42] ablwr commented on #313
Aw hell yeah @JonnyTech!!!

[2018-03-28 20:45] JonnyTech commented on #313
To work on images in recursive subfolders:

`exiftool -r -ext jpg -all= foldername`

[2018-03-28 20:58] JonnyTech commented on #313
Rename files to datetime stored in exif tag:

`exiftool '-FileName<DateTimeOriginal' -d "%Y-%m-%d_%H.%M.%S%%-c.%%e" .`

The output filename will be appended with `-x` where x is a counter number if multiple files have the same timestamp, i.e. multi burst camera photos.

[2018-03-28 21:02] JonnyTech commented on #313
Staying with timestamps, set to specific one supplied for all files:

`exiftool '-DateTimeOriginal=2018:03:28 12:00:00' .`

[2018-03-28 21:23] JonnyTech commented on #313
When the date of my camera is wrong, I shift the timestamps of the images:

Add one hour `exiftool "-AllDates+=0:0:0 1" .`
Subtract one hour `exiftool "-AllDates-=0:0:0 1" .`

Format is `Y:M:D h:m:s`

Please note that everything is from memory and notes as I am not at work now, so please double check before publishing.

[2018-03-28 21:24] ablwr commented on #313
Damn thanks so much though!!!!! I'll test all before writing them up

[2018-03-28 21:54] JonnyTech commented on #313
Just remembered, find files with missing exif timestamp in folders:

`exiftool -filename -r -if '(not $datetimeoriginal)' folderpath/`

You can probably tell that I have a thing about times!

[2018-03-28 22:07] JonnyTech commented on #311
I use the mogrify command for resizing:

`mogrify -path ./resized/ -resize x1280 *.jpg`

Specify either width, height or both - new files end up in the resized folder.

You can even use a percentage of the size in place of the number of pixels.

[2018-03-28 22:15] JonnyTech commented on #311
Create thumbnails of images:

`mogrify -resize 80x80 -format jpg -quality 75 -path thumbs *.jpg`

Using convert command, but don't think it likes wildcards:

`convert input.jpg -resize 80x80 -quality 75 thumbs/output.jpg`

[2018-03-28 22:17] JonnyTech commented on #311
Remove (strip) exif data, place new files in stripped folder:

`mogrify -path ./stripped/ -strip *.jpg`

[2018-03-28 23:10] JonnyTech commented on #312
As basic as you can get, no real explanation needed:

`sox input.mp3 output.wav`

[2018-03-28 23:12] JonnyTech commented on #312
I often need to convert my files to mono:

`sox input.mp3 -c 1 output.wav`

Same again but alternate syntax:

`sox input.mp3 output.wav channels 1`

[2018-03-28 23:17] JonnyTech commented on #312
Use `soxi` to display details of an audio file:

`soxi audiofile.ext`

Example:

[code]

[2018-03-28 23:23] JonnyTech commented on #312
The same can be done with the main `sox` program:

`sox --i audiofile.ext`

[2018-03-28 23:28] ablwr commented on #312
@JonnyTech you're a powerhouse!!!!!!

[2018-03-28 23:35] JonnyTech commented on #312
Extract audio channels:

left channel: `sox infile.ext outfile.wav remix 1 0`
right channel: `sox infile.ext outfile.wav remix 0 1`

Or if multi channels...

Mix channels 1 and 3 into a single channel file: `sox infile.ext -c 1 outfile.ext remix 1 0 1`

[2018-03-28 23:48] JonnyTech commented on #312
Almost forgot my useful command; generate a 10 second 1khz sinewave test tone:

`sox -n 1k_tone.wav synth 10 sine 1000`

[2018-03-29 07:57] richardpl commented on #312
All this can be done with ffmpeg.

[2018-03-29 08:25] JonnyTech commented on #312
Indeed, I never said that it could not, ie:

`ffmpeg -f lavfi -i "sine=frequency=1000:sample_rate=44100:duration=10" -c:a pcm_s16le -ac 2 1k_tone.wav`

But this is a `sox` thread ;)

[2018-03-29 10:10] retokromer commented on #312
Which could also be expressed as:

`ffmpeg -lavfi "sine=frequency=1000:sample_rate=44100:duration=10" -c:a pcm_s16le -ac 2 1k_tone_.wav`

;-)

[2018-03-29 14:03] ablwr commented on #312
Yeah! Half the battle for people learning about these things is understanding whats possible and why things run the way they do. It doesn't matter if ffmpeg can also do it. Maybe it's fun to see something implemented in a different way using a different library!

[2018-03-29 14:08] ablwr commented on #295
ping @privatezero ya still wanna add this? this is really useful.

[2018-03-29 14:16] ablwr commented on #312
@privatezero Could I possibly task you with writing a summary/introduction to sox and why people might find it useful?

[2018-03-29 14:17] ablwr commented on #313
@kieranjol Like I just did to Andrew... Could I possibly task you with writing a summary/introduction to sox and why people might find it useful? But I understand if you don't have the time! (Unlike @privatezero 😜)

[2018-03-29 14:36] bturkus commented on #312
Is there any difference between FFMpeg's astats and sox's stat and stats? I played around these a while back, and I believe one of the sox outputs is unique (though maybe I didn't really know all the astats could do).

[2018-03-29 14:45] kieranjol commented on #313
Do you mean exiftool?I know nothing about sox!

On Thu, 29 Mar 2018, 15:17 Ashley, <notifications@github.com> wrote:

[2018-03-29 14:48] ablwr commented on #313
Bahahaha yes. I copy-pasted!

[2018-03-29 15:17] JonnyTech commented on #313
`echo "Could I possibly task you with writing a summary/introduction to sox and why people might find it useful?" | sed "s/sox/exiftool/gI"`

[2018-03-29 15:18] ablwr commented on #313
lololololol @JonnyTech practical applications of `sed` have been on my mind lately!!! 😂

[2018-03-29 15:58] privatezero commented on #295
knew I was forgetting something! I'll get on it.

[2018-04-02 15:23] nkrabben commented on #311
Post any image surgery, it's nice to run compare, analogous to framemd5

[code]
Lots of different metrics available
https://www.imagemagick.org/script/command-line-options.php#metric
I use ae (I think that's default) but sometimes pae and psnr. For most metrics, we're looking for an output of 0.

It also creates an image of the differences between the two you're comparing, but I throw that away (n

[2018-04-10 13:56] kieranjol commented on #311
I actually tried this using Graphicsmagick but it should work the same in IM:
 `convert -verbose input_file`
Gives you a lot of nice metadata, but what's cool is the `signature`, which is kind of like a framesha256 for the image data, ignoring the metadata.

i was using grep to isolate the value:
[code]

It was handy to verify an ffmpeg DPX patch (noone's replied to me yet and I'm expecting Carl E

[2018-04-16 19:22] #211 closed, assigned to ablwr

[2018-04-20 15:52] bturkus opened #320 "trouble with 2-pass loudnorm"
hi,

I'm having some trouble with the recipe for 2-pass loudnorm; I'm copying the commnads, but getting the following errors:

[code]
Am I doing something wrong? Any help would be so appreciated!
Ben

[2018-04-20 16:42] JonnyTech commented on #320
Please provide:

- the full command that you typed
- version of ffmpeg used
- operating system details
- complete output of ffmpeg run

[2018-04-20 17:01] bturkus commented on #320
Apologies @JonnyTech. I'll try be far more rigorous in my error reporting/questioning in the future. I'm pretty sure it;s something I'm doing/not doing, so more info would def be helpful. The deets:
macOS 10.11.6; ffmpeg 3.4.2

[code]

[2018-04-20 17:48] privatezero commented on #320
Hi Ben,
It looks like you are not actually passing the numerical values to the filter. For two pass, you need to generate the loudness values with a first pass, and then manually (or in some automated way)add those into the command.

So first run the command here: https://amiaopensource.github.io/ffmprovisr/#loudnorm_metadata
and then edit the command you are using to incorporate those values!

[2018-04-20 17:53] privatezero commented on #320
Here is some more in depth documentation by the person who wrote the filter!
http://k.ylo.ph/2016/04/04/loudnorm.html

[2018-04-20 18:00] privatezero commented on #295
Added in https://github.com/amiaopensource/ffmprovisr/pull/316

[2018-04-20 18:00] #295 closed, assigned to nobody

[2018-04-20 18:30] bturkus commented on #320
thanks @privatezero. Next time I promise to spend more time reading ffmprovisr, less time copying and pasting.

[2018-04-20 18:30] #320 closed, assigned to nobody

[2018-05-29 18:45] privatezero opened #323 "streaming access recipe"
Hey all,

I was thinking it might be beneficial to add some instructions for creating an mp4/aac specifically calibrated for streaming (with the fast start flag etc). It seems like this might be better as a separate recipe rather than as additions to the current mp4 transcode recipe, but I was wondering if people had thoughts about this? Also wanted to see what settings the rest of ffmprovisr land

[2018-05-29 18:47] privatezero opened #324 "Show All Recipes button non-functional"
Just noticed that the `Show/hide all recipes` button is doing zilch on my end. Running Firefox 60.0.1 for Ubuntu 16.04.

[2018-05-29 18:48] retokromer commented on #323
I’m completely in favour of streaming recipes! (I’m just incompetent to help…)

[2018-05-29 20:00] kieranjol commented on #323
I think this would be really handy to add, I've never had a need for it
myself but I'm sure I will at some point.

[2018-05-30 01:22] ablwr commented on #323
Hell yeah!

[2018-05-30 01:25] ablwr commented on #324
Uh oh! Firefox 60.0.1 on macOS is working fine for me. Are there any errors in the javascript console?

[2018-05-30 03:20] privatezero commented on #324
I just tested at home on my laptop (Same version of FF as at work) and it is working fine for me here, so I am thinking it was just my janky work computer having some unrelated issue and faking me out. I did have my mouse/pointer control crash today (among other things) so yeah...there could be a bunch going on there! Closing as false alarm!!

[2018-05-30 03:20] #324 closed, assigned to ablwr

[2018-06-06 21:38] ablwr commented on #323
@privatezero

[2018-06-07 16:57] privatezero commented on #323
thanks for the ping - I'm still on it! Will whip something together in the not distant future

[2018-06-08 20:31] ablwr commented on #311
Added all the ones discussed above unless they were similar, so I am gonna close this issue. But more recipes are very welcome and can be added in the traditional ways (making an issue or a PR). Thanks everybody who contributed!

[2018-06-08 20:31] #311 closed, assigned to ablwr

[2018-06-28 06:47] retokromer opened #327 "H.264 lossy to lossless FFV1 transcoding increases file size by 3000%"
As reported on [twitter](https://twitter.com/k_grons/status/1011642837048463361). Thank you, @kgrons! Possibly either the existing recipe [Create FFV1](https://amiaopensource.github.io/ffmprovisr/#create_FFV1_mkv) needs to be amended or a new one is needed.

[2018-07-02 07:00] retokromer commented on #327
An useful reference from [The archivist’s video codec and container FAQ](http://www.av-rd.com/knowhow/video/FAQ-digital_video_archiving.html#q_digital_source_file) by @pjotrek-b

[2018-07-02 13:50] dericed commented on #327
As reported, it's not clear that an ffv1 output from an h264 input being 3000% larger is not the correct output. To change the recipe to force a `<3000% || >3000%` seems arbitrary. This would seem to require two passes, to first see the output = 3000% larger and then discard the output and somehow force an increase or decrease. Not sure this is worthwhile to just avoid an unlucky number. Thus far

[2018-07-02 14:08] retokromer commented on #327
I suggest to indicate at least what is the mathematical minimum that can be achieved during the transcoding from lossy to lossless (with lossy content ;-) in some current archival situations. That way one knows if she/he is in a reasonable order or if «something» is going wrong. That‘s exactly what we are preparing for Memoriav and, as soon as ready, can be of course used here as well.

Alternativ

[2018-07-02 14:15] ablwr commented on #327
I am still not understanding what is wrong with the script in question, which is provided as an example and is like, the most maxed-out preservation-heavy metadata-heavy version of a conversion, taking advantage of all of FFV1's features. No script is going to be suitable for every use case and all scripts on the internet should be reviewed carefully and critically, no matter how "vetted by profes

[2018-07-02 14:20] retokromer commented on #327
At the moment, I would suggest to just amend the script with a caveat.

And, possibly, to add a table that puts intervals of values to Peter’s list. That way the user knows. Yet I personally don't have a clear idea about that for the moment.

[2018-07-02 14:21] dericed commented on #327
I suggest that mathematical minimum is not a worthwhile goal in the context of preservation. Reducing slice count would lower data size but decrease resilience. Disabling slicecrc would lower data size but eliminate some strategies to conceal errors.

The idea that this issue is considered valid seems to only depend on secret information (the original user's unshared logs and @retokromer's unpubli

[2018-07-02 14:22] retokromer commented on #327
Closing, because I don’t wish to be insulted here as well.

[2018-07-02 14:22] #327 closed, assigned to nobody

[2018-07-05 08:29] pjotrek-b commented on #327
Sorry for necroposting, but @retokromer:
_Which "table with intervals of values" should be added to my list?_

(btw: I think I'll put "elaborate the 'lossy-to-lossless' topic on my FAQ page" on my todo-list :stuck_out_tongue_closed_eyes: )

[2018-07-05 13:14] retokromer commented on #327
My first idea was just to add to the recipe a caveat saying that it’s not always a good idea to transcode. Because IRL one recipe’s user got in serious size trouble.

My second idea was to be more exhaustive: to include your list (or the link to) and add to this the intervals of size values per format one gets, when not following your advice. That way the cost of ignoring you would be known ;-)

[2018-07-09 15:32] retokromer opened #329 "update CoC"
Use Contributor Covenant version 1.4 rather than 1.3.

[2018-07-13 15:28] #329 closed, assigned to nobody

[2018-09-04 16:01] privatezero commented on #279
Resolved in https://github.com/amiaopensource/ffmprovisr/pull/338

[2018-09-04 16:01] #279 closed, assigned to nobody

[2018-09-04 16:03] privatezero commented on #267
Added a section for this in https://github.com/amiaopensource/ffmprovisr/pull/338 - I'll leave this open as a reminder if people would like to expand on it with additional format defaults!

[2018-09-19 16:34] ablwr commented on #323
@privatezero :neutral_face:

[2018-09-19 20:58] privatezero commented on #323
HEY MAN

[2018-09-19 21:00] privatezero commented on #323
Added a note (rather than separate recipe) to the current mp4 formula in https://github.com/amiaopensource/ffmprovisr/pull/339. Just contains the fast start flag - didn't get into specific bit rate settings etc.

[2018-09-19 21:11] ablwr commented on #323
you da man

[2018-09-19 21:11] #323 closed, assigned to nobody

[2018-09-26 18:01] privatezero opened #340 "CDDA Tools/Commands"
Thinking maybe we could use a section in the "Other Tools" for CLI tools/commands for ripping CDDA such ash:
* cdparanoia
* cdda2wav
* xld
* others?

Many of these tools are similar (such as using the paranoia library) but I thought maybe a quick blurb and command for each might be helpful!

[2018-09-26 18:02] privatezero commented on #340
Possible sample command for cdda2wav:
`dda2wav -vall cddb=0 -t all -cuefile -paranoia paraopts=retries=200,readahead=600,minoverlap=sectors-per-request-1 -verbose-level all myfile.wav` or something along those lines. Thoughts? Suggestions for tools/commands?

I'll start trying to hammer something out later.

[2018-09-27 11:52] retokromer opened #342 "HTML"
There is a missing `</div>` closing tag somewhere in `index.html`. Sorry, I do not have the time to delve into this now. However I will do it, if nobody does it during the next couple of weeks.

[2018-09-27 18:27] privatezero commented on #342
Looks like I missed closing one at the very bottom of https://github.com/amiaopensource/ffmprovisr/pull/338? Right at https://github.com/amiaopensource/ffmprovisr/pull/338/files#diff-eacf331f0ffc35d4b482f1d15a887d3bR2546. I'll make a PR!

[2018-09-27 19:00] #342 closed, assigned to nobody

[2018-09-28 06:34] kfrn commented on #340
I'm not familiar with these tools, so it sounds great to me!

[2018-09-28 23:37] privatezero commented on #340
Here is a start anyway! https://github.com/amiaopensource/ffmprovisr/pull/345

[2018-10-01 14:15] ablwr commented on #340
go go weaver!!

[2018-10-02 13:26] ablwr commented on #267
New semester, @bturkus ! :eyes:

[2018-10-02 13:26] ablwr commented on #89
Repeating @retokromer's question?

[2018-10-02 15:46] bturkus commented on #340
hey. just wanted to say how awesome this new addition is. thanks @privatezero!! One small thought: would it be worth mentioning that your CD needs to be unmounted before running cdda2wav?

[2018-10-02 20:05] privatezero commented on #340
@bturkus is that on macOS? Mount state didn't seem to make a difference for me on Linux, so that is good to know!

Reopening this to remind myself to test/add that note and cuz still want to add sections for other tools!

** Note to self to also add note about possible need for `install --devel` flag depending on drive

[2018-10-04 22:57] todrobbins opened #348 "New recipe: Create a mosaic out of several input videos"
Would anyone want me to reformat and credit this recipe?

![image](https://user-images.githubusercontent.com/158590/46507602-92963580-c7f6-11e8-82fb-acfebfa9825b.png)

https://trac.ffmpeg.org/wiki/Create%20a%20mosaic%20out%20of%20several%20input%20videos

[2018-10-05 05:33] kfrn commented on #348
Looks cool! I say go for it :)

[2018-10-05 08:22] richardpl commented on #348
That is old way, you really should use vstack, hstack filters instead of slow overlay.

[2018-10-05 13:30] bturkus commented on #348
ah that's a good point. maybe this from audiorecorder could help? I find it to be a fairly clear example of hstack/vstack.

`FILTER_CHAIN="asplit=6[out1][a][b][c][d][e],\
[e]showvolume=w=700:c=0xff0000:r=30[e1],\
[a]showfreqs=mode=bar:cmode=separate:size=300x300:colors=magenta|yellow[a1],\
[a1]drawbox=12:0:3:300:white@0.2[a2],[a2]drawbox=66:0:3:300:white@0.2[a3],[a3]drawbox=135:0:3:300:white@0.2[a

[2018-11-08 16:58] bturkus opened #351 "other dvd ripping tools/commands"
hey all,

I'm just tossing this out there, and I will totally back away carefully and slowly if @ablwr gives me a "sounds great! have fun! take care of it!," but I was wondering if anyone had any thoughts/ideas about adding some non-FFmpeg dvd ripping tools/commands, similar to what @privatezero has done with cdrtools. I guess I'm specifically thinking about stuff like HandbrakeCLI, VLC CLI, Mplay

[2018-11-08 17:00] ablwr commented on #351
lololololol
...
LGTM :+1:

I think this has been on @privatezero's mind lately?

[2018-11-08 17:04] kieranjol commented on #351
I love makemkv until the license expires and I can't seem to buy a
license.. anyhow I think this is a great idea. Unusually use GUI tools like
isobuster to rip,so cli would be mega.

On Thu, 8 Nov 2018, 17:00 Ashley <notifications@github.com wrote:

[2018-11-08 17:54] privatezero commented on #351
Optical media has definitely been a little bee buzzing in my bonnet recently - I have some scripts  [here](https://github.com/privatezero/makeiso.rb)  I was playing with based off of the ddrescue command in Johan van der Knijff's  [post](http://blog.kbresearch.nl/2015/11/13/preserving-optical-media-from-the-command-line/). Didn't end up honing them up for production as I ended up finding some driv

[2018-11-08 21:23] bturkus commented on #351
I think @kfrn did do a VOB [concat](https://amiaopensource.github.io/ffmprovisr/#dvd_to_file) recipe a while back, but yeah: I guess I was hoping there might be something that might require less work/thought out there.

Def ddrescue would be a good addition no matter what.

Today I've played with all of these, but I can't say any seem all that perfect:
https://github.com/FFmpeg/FFmpeg/blob/master/

[2018-11-08 21:42] kieranjol commented on #351
Hi Ben,

Regarding dvdrip, it appears to be a `haskell` project.  I don't know anything much about haskell, but this page gives instructions on how to run/build haskell projects: https://haskell-lang.org/get-started/osx
I used the linux instructions and the `curl` command installed `stack`. Then I git cloned the dvd repo, entered the dvdrip directory and ran:
`stack build`
but it failed with an er

[2018-11-08 21:48] kieranjol opened #352 "compiling from source"
Ben mentioned this as a possibility in https://github.com/amiaopensource/ffmprovisr/issues/351

I think that this could come in very handy for those of us who occasionally need to compile things like mediainfo/ffmpeg/rawcooked/dvdrip(!) when testing out a branch or something.

So I'm thinking of the simplest scenarios like:
'If a project has a configure file, you may just need to `cd` into the dir

[2018-11-08 21:54] privatezero commented on #352
I think that is a great idea! Maybe a note for `make clean` could be helpful too for the times when things take a few tries to get built right.

[2018-11-08 21:58] privatezero commented on #348
@todrobbins could be cool do do a recipe on the new [xstack](https://ffmpeg.org/ffmpeg-filters.html#xstack) filter too!

[2018-11-08 22:00] kieranjol commented on #352
YES, `make clean` has solved my issues a million times. I also notice that mediaarea use autogen a lot, but another tip is that you can often figure out how to build something just by looking at a travis file, for example here's how I build rawcooked: https://github.com/MediaArea/RAWcooked/blob/master/.travis.yml#L44

also here's my awful but effective ubuntu build script for ffmpeg a bunch of oth

[2018-11-08 22:44] kfrn commented on #352
Good idea! It's ages since I've compiled ffmpeg from source - I don't remember specifically, but I assume I just followed the [wiki compilation guide](https://trac.ffmpeg.org/wiki/CompilationGuide). That guide is pretty exhaustive, so there's probably value in having more basic info on compiling from source, preferably something relatively generic that could be applied to other programs than ffmpe

[2018-11-08 23:23] kfrn commented on #351
I like the idea of having some more options regarding ripping DVDs. I haven't tried Handbrake CLI, `mencoder`, etc.

Re: VOBs and the current recipe - as you say, the command I added does rely on knowing which of the VOB files on the disk/in the ISO that you want to target. (By the way, that command could probably also be run by supplying a `.txt` file listing the VOBs - I'll check that out and ma

[2018-11-09 00:51] kieranjol commented on #352
Yeah, maybe the key skill here is just not being deterred by the build failures due to a missing dependency. I think that linux and maybe OSX have it so much easier than Windows in this regard, as you can use package managers to install most if not all major dependencies. I don't think I've ever successfully built anything on windows :(

[2018-11-09 02:21] kfrn commented on #352
Ha, I don't think I've ever even attempted to build something from source on Windows. My advice to Windows users would probably be to use the Linux subsystem. 😆

[2018-11-09 06:58] retokromer commented on #352
Currently it can be done also under Windows 10 Pro and Home with the apps (Ubuntu and Debian tested here). There are a few additional installations to be done, but after that is works like a charm. We have an installation script that configures our new computer, running under Linux, macOS or Windows. I can prepare a PR after the AMIA conference, when nobody else does it before.

[2018-11-09 15:25] ablwr commented on #352
+++++++++++++++++++

[2018-11-09 17:51] todrobbins commented on #348
Honestly, I don't understand these commands that well so maybe @richardpl or @bturkus should write it up. 🤣

[2018-11-09 18:30] privatezero commented on #348
No worries @todrobbins! Thanks for drawing attention that we could use a recipe of this nature!

[2018-11-09 18:35] bturkus commented on #348
is [xstack](https://ffmpeg.org/ffmpeg-filters.html#xstack) the new hotness?

[2018-11-09 18:38] dericed commented on #348
@bturkus you know it. Check out https://github.com/amiaopensource/vrecord/commit/4e3f45b7f0804296daf1da928bf8b803087d9ff9.
xstack has me and four of my friends all like `0_0 | 0_h0 | 0_h0+h1 | w0_0 | w0_h0`

[2018-11-10 17:46] richardpl commented on #348
Using xstack, over combinations of various hstack/vstack should be much faster.
So only cases when hstack/vstack may be useful is when one does not need complex stacking, but just horizontal or vertical stacking of several videos.

You can use fixed numbers in xstack to set exact spot in frame one of inputs will appear:

So for examples: take 4 videos each size of 400x300:
2x2 xstack incarnation w

[2018-11-10 18:00] retokromer commented on #348
+1

[2018-11-21 22:25] privatezero commented on #340
Seems like a good place to close this for now!

[2018-11-21 22:26] #340 closed, assigned to nobody

[2018-12-04 16:49] bturkus opened #355 "update to reto's homebrew installation instructions"
hey,
this might not be the best place for this, but @retokromer I noticed that the homebrew installation instructions on your website might need an update for 4.1+. Looks to me like sdl2 and (I believe) x265 now come standard. Am I right about this?
thanks,
ben

[2018-12-04 17:05] retokromer commented on #355
Thank you, @bturkus! I'll check and update as soon as back home.

[2018-12-04 17:14] kieranjol commented on #355
X265 does anyhow! Not sure about sdl2.

[2018-12-04 17:15] retokromer commented on #355
@bturkus I checked and you are fully correct. I just updated (for Linuxbrew as well). Thanks again!

[2018-12-04 17:15] #355 closed, assigned to nobody

[2018-12-10 15:32] ablwr commented on #352
I'd like to see this added and also we should mention that paths need to be changed/updated to point to the locally-compiled ffmpeg rather than the one installed via apt or homebrew, etc. I'm doing that right now! ;D

[2018-12-10 15:33] ablwr commented on #352
Oh I'll add that I think there is value in presenting this as a thing to do and just pointing towards the resources (above) that help do this. Knowing what can be done and where to go is at least 80% of the battle, imo! :potato:

[2018-12-13 01:28] ghost commented on #348
You can copy and paste and/or modify/adapt any of the content from my answer (or any other of my answers you find on SE).
[Vertically or horizontally stack several videos using ffmpeg?](https://stackoverflow.com/a/33764934/1109017)

[2018-12-13 07:34] kieranjol commented on #348
Oh my god you're lordneckbeard? I've always wondered who that was.

[2018-12-13 17:22] ablwr commented on #348
Holy shit @llogan, you're a legand

[2018-12-13 18:24] ghost commented on #348
I should have chose a less idiotic username...

Thanks, but I don't know about that. Mostly just procrastinating at work and home.

[2018-12-20 15:00] ablwr opened #357 "Color vs colour"
:grimacing:

We use two styles of English on ffmprovisr and I think we should get consistent and use one or the other. Due to the ratio of former-and-present maintainers, it would seem "colour" would win out. But on the other hand, the official documentation uses "color." I believe this was set in the standard for Matroska as well (right, @retokromer?), so it may be more of the industry standard t

[2018-12-20 15:05] kieranjol commented on #357
As a "colour" user, I'm totally fine with keeping it American for the
reasons you've outlined.

[2018-12-20 15:31] retokromer commented on #357
@ablwr Yes, this rule was adopted in the Matroska specifications: https://github.com/Matroska-Org/matroska-specification/pull/292

[2018-12-20 16:33] #357 closed, assigned to retokromer

[2018-12-20 16:42] privatezero commented on #357
I'm a little bit against enforcing a specific style of English! (And not just because I am a frequent accidental traitor to Webster's English). I think due to the nature of the project, being literally intercontinental, it is more representative of contributors as well as creates less barriers to potential new contributors to not have this type of style requirement.

Additionally, it opens a can o

[2018-12-20 16:46] ablwr commented on #357
I think it's worth using the same style as the official documentation, maybe people are doing a ctrl-f for "color" or "colour" and receiving partial results?

[2018-12-20 17:43] privatezero commented on #357
Hmm, that is a good point about partial results...but in the case of a hypothetical ctrl-f search error I am not sure if partial results is better or worse than zero results caused by searching the alternate spelling.

Just in general, as a project that arose in a sense due to the shortcomings of the official FFmpeg documentation, and that is expanding to include other resources, I don't think we

[2018-12-20 18:11] ablwr commented on #357
This was auto-closed by @retokromer's PR being merged, but I am happy to keep this open and continue the discussion. I don't have strong feelings either way.

[2018-12-20 18:18] retokromer commented on #357
If my PR is reverted, then please fix the error which I fixed _en passant_: `trandscodes` > `transcodes`. Thank you!

[2018-12-20 19:04] kfrn commented on #357
I use Commonwealth spelling obviously, but probably some Americanisms creep in. Not strong feelings either way. (Even if I do think that "color" looks so naked without the 'u', lol!)

[2019-01-03 16:30] ablwr commented on #348
Resolved in #362? I leave it up to @todrobbins to decide!

[2019-01-04 22:05] todrobbins commented on #348
![youbetcha](https://user-images.githubusercontent.com/158590/50713482-67f48c80-1032-11e9-98e5-43607c182917.gif)

[2019-01-04 22:05] #348 closed, assigned to nobody

[2019-01-09 21:32] privatezero commented on #89
is this still an issue or can it be closed?

[2019-01-09 21:34] privatezero commented on #267
as this has been built out a bit more, gonna close this with the caveat that more additions are always welcome!

[2019-01-09 21:34] #267 closed, assigned to bturkus

[2019-01-11 17:14] pjotrek-b commented on #89
I think changing field order without re-encoding still has some issues...

Just recently stumbled over a case where, **even with re-encoding**, the "original scan order" (Mediainfo-speak) was remembered (v210/MOV to FFV1/MOV).

I remember trying the ffmprovisr recipe (as well as "-top 1"), without luck.

**Nevertheless:** This thread is very confusing (parts aspect ratio, parts field-order).
Maybe

[2019-01-11 17:38] kieranjol commented on #89
I agree with the confusion,there's too much going on here. I think new issues could be raised for more specific parts of this question.

[2019-01-25 23:49] privatezero opened #365 "add -skip_initial_bytes recipe"
Note to self to add something along the lines of:

`ffmpeg  -skip_initial_bytes 44 -f s24le -ar 96000 -ac 2 -i BAD-WAV -c:a pcm_s24le -ar 96000 -ac 2 -rf64 auto NEW-FILE`

for skipping a WAV header and creating a new file from the contained pcm.

Use case here is extracting audio from files that were created by an apparent bug in audacity that allows people to export audio as WAV even if it is too

[2019-01-30 07:15] retokromer opened #366 "installation of FFmpeg using Brew"
Sadly, the Brew maintainers have decided to drop all options from their formulae. I’ll try to publish as soon as possible an alternate FFmpeg formula allowing again to install some additional options which are useful for the audio-visual archivists’ work:
- `--with-openjpeg` : Enables JPEG 2000 encoding and decoding.
- `--with-rubberband` : Enables the Rubberband audio filter, which allows time-st

[2019-01-30 17:48] privatezero commented on #366
Huh! That is unfortunate! Do you have a link to their discussion where they decided on that?

[2019-01-30 17:52] retokromer commented on #366
Oh… there were many discussions at different formulae! I’m testing right now:
[code]
Possibly, you need to run:
[code]
before the new installation.

If it works fine, then we can move the formula to AMIA Open Source.

[2019-01-31 06:55] retokromer commented on #366
I have updated the [installation instructions](https://avpres.net/FFmpeg/#ch1). It works fine on our end with the alternate formula.

[2019-01-31 06:55] #366 closed, assigned to nobody

[2019-02-02 00:13] privatezero opened #368 "Anchor expansion/location"
Currently internal links point to a location that ends up slightly below the actual linked location. Also, they don't seem to automatically expand. If there is a tweak to fix this we should probably look into it for enhanced usability!

[2019-02-03 02:16] kfrn commented on #368
Good catch! The auto-expansion should be fixable - I won't have time to look at it in the coming week, but should be able to following that.

[2019-02-04 18:48] ablwr commented on #368
I'm gonna add both of us to it, whoever gets a chance first!

[2019-02-14 14:44] bturkus opened #371 "update to prores encoder descriptions"
hey,
I'm not super up-to-date on ffmpeg-devel, but have there been changes to the prores encoders that should prompt us to update this section? can the prores encoder now handle interlacement?

<img width="856" alt="screen shot 2019-02-14 at 9 42 21 am" src="https://user-images.githubusercontent.com/8987230/52794015-08c86580-303d-11e9-9877-7ade2d9daaff.png">

[2019-02-14 14:47] retokromer commented on #371
Yes, both implementations.

[2019-02-14 14:57] kieranjol commented on #371
Has it been merged to master though?

On Thu, 14 Feb 2019, 14:47 Reto Kromer <notifications@github.com wrote:

[2019-02-14 14:58] retokromer commented on #371
As far as I know, it’s in the master, but not in a release.

[2019-02-14 15:01] retokromer commented on #371
I suggest to update the information as soon as version 4.2 is released (or 4.1.2 if backported).

[2019-02-14 15:11] kieranjol commented on #371
It's not in master either...
http://git.videolan.org/?p=ffmpeg.git&a=search&h=HEAD&st=commit&s=prores

I've already reviewed the patch but maybe approval from someone with more knowledge might get it merged? Reto?

[2019-02-14 15:16] retokromer commented on #371
Ah, yes, I see… Martin Vignali did much more, e.g. 4444 and 12-bit support! Sorry, @kieranjol, I was convinced this was already pushed. I will try to delve into this during the weekend.

[2019-02-14 15:17] kieranjol commented on #371
Thanks Reto, I might ping the thread in the interim...

[2019-02-23 15:54] retokromer commented on #371
@kieranjol Now it should be merged into the master branch.

[2019-02-23 15:55] retokromer commented on #371
… yet still:

[2019-02-28 19:53] retokromer commented on #352
Update:
- Linuxbrew has been merged into Homebrew
- Sadly, all options have been removed from the official Homebrew formula. Yet parameterisable formulae are now available in taps [here](https://github.com/homebrew-ffmpeg/homebrew-ffmpeg) and [here](https://github.com/AVpres/homebrew-formulae).

[2019-03-23 12:18] taschenbach opened #374 "Is there a file with all the commands ?"
I am looking for a file of just the commands and one line descriptions. I am about to upload a new FFmpeg command program and want to include the ffmprovisr FFmpeg commands. I can copy and paste from the html but having something parsable would be great so it can auto update with the new recipes in the future.

[2019-03-23 12:38] retokromer commented on #374
Hello Tommy! This does not exist yet, but I am quite sure I can parse the code in order to generate it and add a file here. Would you prefer a plain ASCII file or a structured one (XML, JSON, etc.)?

[2019-03-23 13:25] taschenbach commented on #374
The format I arbitrarily chose is a plain text file with the '#' character indicating title/comment on a line preceding the command.
Example:
#Change container (rewrap)
ffmpeg -i input_file.ext -c copy -map 0 output_file.ext

Here is what I have copied so far https://drive.google.com/open?id=1COHl9ft7G9BTZYw8evJy4WDUuugz0Gup

[2019-03-23 15:46] retokromer commented on #374
I have written a short Perl script to extract it and will try to condense it into an one-liner.

[2019-03-23 16:42] retokromer commented on #374
@taschenbach Does this output https://github.com/amiaopensource/ffmprovisr/pull/376/commits/5b795e53dde7783c01bd82f22a653d30c9b0f7c8 satisfy your request?