[2019-03-23 20:07] retokromer opened #377 "modify the use of the `<h3>` tag"
I guess, it’s not possible to satisfy https://github.com/amiaopensource/ffmprovisr/issues/374 with a one-liner, but tedious looping is needed, because the use of `<label class="recipe" for="...">` and `<h3>` are not univoque.

- A dirty hack could be to add a pseudo-class to the main `<h3>` of the recipes.
- In my opinion, a better solution would be to use the `<h3>` tag (or another heading tag) e

[2019-03-24 08:47] retokromer commented on #377
FYI: the updated one-liner which parses the `<h3>` and `<p><code>` tags in the online version of ffmprovisr is:

[code]

[2019-03-24 09:27] retokromer commented on #374
@taschenbach Here is a one-liner which works on Linux and macOS:

[code]

I have opened an issue to improve the use of the `<h3>`and `<p><code>` tags in order to get a proper output.

[2019-03-24 17:19] ablwr commented on #374
Very cool @retokromer !!!

[2019-03-25 11:36] taschenbach commented on #374
@retokromer thats great, thank you.

[2019-03-25 11:36] #374 closed, assigned to retokromer

[2019-03-26 14:27] taschenbach commented on #377
@retokromer I was able to use your file and included most of the commands in my new GitHub project https://github.com/ColorlabMD/FFCommand_Engine

Thank you and all the ffmprovisr contributors

[2019-03-26 14:44] retokromer commented on #377
@taschenbach Thank you for the feedback and for this additional FFmpeg tool. I will test it with students… next week!

[2019-03-26 15:14] ablwr commented on #377
eyyyyy this is cool! Thanks @taschenbach

[2019-03-26 19:06] kfrn commented on #377
Cool stuff!

[2019-04-18 18:27] privatezero opened #379 "add noise reduction"
Might be good to add something about noise reduction using something like the `afftdn` filter

[2019-04-18 18:34] retokromer commented on #379
+1

I suggest to apply it to an access file in the recipe, not to a master file.

[2019-04-18 18:36] privatezero commented on #379
oh most definitely only for an access recipe! Might be interesting to create a long chain command for 'optimal' access including things like dither, normalization, noise reduction etc

[2019-04-18 20:03] kieranjol commented on #379
Very cool,didn't know ffmpeg did this.

[2019-04-27 14:37] retokromer commented on #377
Ping! Is there any opinion from the maintainers about this?

(I would like to open a PR with the preferred solution.)

[2019-04-29 13:44] ablwr commented on #377
I prefer the latter -- better structure!

[2019-04-30 08:19] kfrn commented on #377
Same as @ablwr. Semantic HTML!

[2019-04-30 11:58] retokromer commented on #377
Thank you! As said, this is also my preferred solution. I will open a PR as soon as possible.

[2019-06-04 00:57] ablwr commented on #377
ping @retokromer

[2019-06-04 00:58] ablwr commented on #352
status / thoughts on this?

[2019-06-04 04:42] retokromer commented on #352
Things are becoming better, but there are still a few issues for an easy cross compiling for all common platforms. (I will possibly meet later this week Carl Eugen in Vienna.)

[2019-06-04 04:44] retokromer commented on #377
Sorry, I didn’t had the possibility to make this so far. It’s necessary to modify some `<h3>` tags.

[2019-06-04 11:46] ablwr commented on #352
Tell Carl I say hello!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2019-06-27 20:53] bturkus opened #380 "Transform SD into HD with pillarbox (with yadif??)"
Hi Everyone,

I was recently asked to make some 1080p MP4s from SD originals, and I found myself a little confused about where to incorporate deinterlacing into our standard SD-->HD with pillarbox command. After running some tests, it seemed to me that the best result came when using yadif sooner, rather than after scaling and padding. I guess I'm wondering 2 things: (1) could anyone confirm that

[2019-06-27 20:57] dericed commented on #380
If you are scaling interlaced content be sure that the scalar knows that. See the `interl` option at https://ffmpeg.org/ffmpeg-filters.html#Options-1.

[2019-07-02 21:56] privatezero opened #381 "Add 'Micropops' as sister project"
Ari's rad work at [MIPoPS Micro Services](https://pugetsoundandvision.github.io/micropops/) should be added to the list of 'sister projects' built on the ffmprovisr skeleton!

Ping! @alavigne12

[2019-07-02 22:05] privatezero commented on #380
That's a good point! The script should probably be updated to be more clear about handling interlacing, as I can imagine that a significant amount of the use cases would in fact be targeting an interlaced source!

[2019-07-02 22:09] kfrn commented on #381
Good call! Feel free to go ahead and add it :)

[2019-07-02 22:14] privatezero commented on #381
Looks like @alavigne12 is on it!

[2019-07-02 22:27] privatezero commented on #381
added in https://github.com/amiaopensource/ffmprovisr/pull/382

[2019-07-02 22:27] #381 closed, assigned to nobody

[2019-07-03 00:21] kfrn commented on #380
I'd definitely deinterlace before scaling.
It looks like you've been working from the [SD -> pillarboxed HD](https://amiaopensource.github.io/ffmprovisr/index.html#SD_HD_2) - the deinterlacing step is included in the [NTSC SD -> pillarboxed HD](https://amiaopensource.github.io/ffmprovisr/index.html#ntsc_to_h264) command (in the `Work with interlaced video` section)

The two commands are pretty sim

[2019-07-04 14:29] ablwr opened #383 "Transcode to H.264 -- mapping all audio?"
For the [Transcode to H.264](https://amiaopensource.github.io/ffmprovisr/#transcode_h264) script, this works great for most video files. However, for videos with more than 2 audio tracks, it just drops the additional audio.

Does anyone have recommendations for improving this script so that all the audio maps over?

I was considering `-map 0` but then any timecode or data streams get tangled up an

[2019-07-04 14:40] ablwr commented on #89
This thread seems neglected.

[2019-07-04 14:41] ablwr commented on #368
This seems to be working for me. Is this still an issue for you, @privatezero?

[2019-07-04 14:42] ablwr commented on #365
Note to Andrew

[2019-07-11 21:39] todrobbins commented on #368
@ablwr same here. I just tested in Chrome, Firefox, and Safari on macOS.

[2019-07-11 21:40] todrobbins commented on #89
![sad puppy](https://user-images.githubusercontent.com/158590/61087207-d2bfbf80-a3e9-11e9-8ca6-c61b09fbb514.png)

[2019-07-11 21:55] privatezero commented on #368
Yah, can confirm this is still an issue on my end in both Firefox and Chrome. This is just for internal links to other recipes such as those found in this recipe: https://amiaopensource.github.io/ffmprovisr/index.html#cd-emph-check. On my end at least, auto expand will work if the link is used 'fresh' but not once ffmprovisr is loaded.

[2019-07-11 21:58] ablwr commented on #368
Oh, I see what you mean. That is not good!

[2019-07-11 22:01] privatezero commented on #368
yeah - sorry my original wording was super vague!

[2019-07-13 22:51] ablwr commented on #368
Have a fix in for this, but fixing another problem, and will send a PR shortly... I hope

[2019-07-13 22:53] ablwr opened #384 "Link updates across category siblings"
Discovered during #368

Clicking on a recipe, and then clicking on a neighbor recipe in the same section -- the script for updating the link at the bottom of the recipe updates for every link in the same category instead of just the recipe being clicked on.

[2019-07-14 04:44] retokromer commented on #377
To make the [one-liner](https://github.com/amiaopensource/ffmprovisr/blob/gh-pages/scripts/get_recipe_list) generating the output format needed for the [FFCommand_Engine](https://github.com/ColorlabMD/FFCommand_Engine), i.e.
[code]
it’s needed to have an univoque usage of a tag, e.g. `<h3>`. If I have catched them all, the “offending“ lines are:

- https://github.com/amiaopensource/ffmprovisr/blob

[2019-07-15 13:53] bturkus commented on #383
hey @ablwr I think what you're looking for is -map 0:a. We should prob tweak the stream mapping instructions to clarify this for others. Also wondering if maybe we should add some info about using ffprobe to identify streams numerically...

[2019-07-15 14:36] retokromer commented on #383
+1

[2019-07-15 15:39] ablwr commented on #383
@bturkus I am endlessly awaiting your PRs so I can review them. ;)

Thanks! I'll have to do some testing before sending a patch.

[2019-07-15 15:50] ablwr commented on #384
Resolved in https://github.com/amiaopensource/ffmprovisr/pull/385

[2019-07-15 15:50] #384 closed, assigned to nobody

[2019-07-15 15:50] ablwr commented on #368
Resolved in https://github.com/amiaopensource/ffmprovisr/pull/385

[2019-07-15 15:50] #368 closed, assigned to ablwr, kfrn

[2019-07-15 15:54] bturkus opened #386 "add command for fade/afade"
add to the list of @bturkus PRs...command for fade in/out audio and video from/to black.

I liked the start and duration elements of this Stack Exchange exchange:
https://video.stackexchange.com/questions/22085/how-to-fade-out-mp4-audio-and-video-with-ffmpeg

[2019-07-15 17:08] ablwr commented on #386
:smile_cat: :tada: :tada: :tada: :taco:

[2019-07-15 17:25] todrobbins commented on #386
👍🏻 https://www.youtube.com/watch?v=WEQnzs8wl6E

[2019-07-17 16:10] ablwr commented on #383
@bturkus Thanks for confirming my hypothesis with your experience transcoding many files! I sent in a PR. Hoping to update Archivematica with this as well, which is why I am testing for wide experience, multiple versions, weird formats, etc etc. https://github.com/archivematica/Issues/issues/773

[2019-07-30 13:47] bturkus opened #391 "bit plane 10 slices"
Hi,

I was wondering if someone could help me figure out how to stream or save an FFplay/FFmpeg command that would mimic the Bit Plane (10 Slices) view in QCTools. I've tried playing around with it, but I keep getting stuck somewhere. The relevant lines of code from QCTools can be found here:
[code]
I tried running this, but it didn't get me there:

[code]
If I end up with a workable command, I'd

[2019-07-30 15:57] privatezero commented on #391
Copying over the twitter response from @dericed here!
`ffplay bens_first_day_at_nypl.mkv -vf "format=yuv420p10le|yuv422p10le|yuv444p10le|yuv440p10le,split=10[b0][b1][b2][b3][b4][b5][b6][b7][b8][b9];[b0]crop=iw/10:ih:(iw/10)*0:0,lutyuv=y=bitand(val\,pow(2\,10-1))*pow(2\,1):u=512:v=512[b0c];[b1]crop=iw/10:ih:(iw/10)*1:0,lutyuv=y=bitand(val\,pow(2\,10-2))*pow(2\,2):u=512:v=512[b1c];[b2]crop=iw/10:ih:

[2019-07-30 15:58] bturkus commented on #391
thanks! I'll do this I swear!

[2019-07-30 17:07] todrobbins commented on #391
PS: @bturkus congrats on the new jorb!

[2019-07-30 17:27] richardpl commented on #391
That filter only Y plane, others are ignored...

[2019-07-30 20:31] privatezero opened #392 "MKV -> mp4 rewrap command possibly misleading?"
I've just gotten some user feedback that the recipe at https://amiaopensource.github.io/ffmprovisr/index.html#mkv_to_mp4 is a little problematic from a user perspective in our expected use case of libraries/archives.

Having the `-c:v copy` flag in the command will cause this to fail in the event of someone trying to run it on an ffv1/mkv file. This _seems_ to me at least to be a problem as within

[2019-07-30 20:47] kieranjol commented on #392
I'm in favour of deletion. I was initally going to suggest switching to something more flexible like mov, but I think that the basic_rewrap recipe makes this pretty redundant, and I agree on the confusion. Thanks for relaying the user feedback!

[2019-07-30 21:23] kfrn commented on #392
Yep, I think the functionality is covered by the [basic rewrap](https://amiaopensource.github.io/ffmprovisr/index.html#basic-rewrap) command - I vote to remove [MKV to MP4](https://amiaopensource.github.io/ffmprovisr/index.html#mkv_to_mp4).

Happy for one of you to go ahead, otherwise I can do this when I'm at home tonight

[2019-07-30 21:43] privatezero commented on #392
Cool! I agree with ya both! Thanks @kfrn! I'd do it, but I'm wrapping up my current job this week so am swamped with transition prep!

[2019-07-31 03:04] ablwr commented on #392
In full support!

[2019-07-31 12:32] retokromer commented on #392
Nice catch!

[2019-07-31 13:25] bturkus commented on #383
hey
 wanted to put it out there for a future revamp of mapping advice: I just realized that if you add a trailing "?" to your map commands, FFmpeg won't skip over files that are missing that particular kind of stream. So, for example, if I was transcoding a bunch of video files and some didn't have audio streams at all, a "-map 0:a?" would ensure that those files don't get passed over (whereas "-m

[2019-07-31 13:28] ablwr commented on #383
Whoops -- I had reverted the above pull request because it was not good, but forgot to follow up in this Issue. https://github.com/amiaopensource/ffmprovisr/pull/389

[2019-07-31 19:37] kfrn commented on #383
Ooh that's a great tip @bturkus. Something to add to the [Stream mapping](https://amiaopensource.github.io/ffmprovisr/#stream-mapping) section, too?

[2019-07-31 19:42] bturkus commented on #383
yeah that's what I was thinking! 😀

On Wed, Jul 31, 2019 at 3:37 PM Katherine Frances Nagels <
notifications@github.com> wrote:

--
Benjamin Turkus

Assistant Manager, Audio and Moving Image Preservation

Digital Collections Services

The New York Public Library

40 Lincoln Center Plaza, New York, NY 10023

212.870.1609 | x21609

nypl.org

[2019-09-26 15:25] ablwr opened #395 "QEMU Q.E.D. not represented as sibling project"
QEMU Q.E.D. is a new sibling-child of ffmprovisr and could be represented in the readme and index page.

Here's the project: https://gitlab.com/eaasi/qemu-qed

Attn: @eg-tech @nkrabben

[2019-09-26 15:26] ablwr commented on #379
hi

[2019-09-26 15:26] ablwr commented on #377
ping @retokromer !

[2019-09-26 15:45] privatezero commented on #379
I'm on it! But was planning on adding https://github.com/amiaopensource/ffmprovisr/issues/365 first cuz it recently came up again!

[2019-09-26 15:58] retokromer commented on #377
@ablwr Could you add a new style for the “offending” lines (e.g. same look but different meaning)? Then the change is easy to do.

[2019-09-26 16:01] ablwr commented on #377
thought you were gonna do it

[2019-09-26 16:01] retokromer commented on #377
@ablwr I could just change `h3` to `h3, h5` and then the “offending” lines fo `h5`.

[2019-09-26 18:54] #377 closed, assigned to nobody

[2019-09-26 21:42] kfrn opened #397 "Semantic HTML"
It's come up a couple of times, most recently [here](https://github.com/amiaopensource/ffmprovisr/pull/396) - when time allows, it'd be great to do a pass for semantic HTML.

[2019-10-03 15:44] ablwr opened #399 "meta tag validation error"
Should be a tiny fix, but there's an error raised by the W3 validator here --

https://validator.w3.org/nu/?doc=https%3A%2F%2Famiaopensource.github.io%2Fffmprovisr%2F

"Error: Attribute charset not allowed on element meta at this point."

[2019-10-03 15:47] ablwr commented on #399
I think the charset declaration and the viewport declaration should just be two separate meta tags

[2019-10-18 16:50] #395 closed, assigned to nobody

[2019-10-18 16:50] ablwr commented on #386
waiting on @bturkus

[2019-10-18 17:19] bturkus commented on #386
oh shit

On Fri, Oct 18, 2019 at 12:50 PM Ashley <notifications@github.com> wrote:

--
Benjamin Turkus

Assistant Manager, Audio and Moving Image Preservation

Digital Collections Services

The New York Public Library

40 Lincoln Center Plaza, New York, NY 10023

212.870.1609 | x21609

nypl.org

[2019-10-30 14:28] todrobbins commented on #386
👋 @bturkus

[2019-11-19 17:16] retokromer commented on #392
Is this issue still one?

[2019-11-19 18:26] privatezero commented on #392
I think this can be closed as the related formula was deleted!

[2019-11-19 18:26] #392 closed, assigned to nobody

[2019-11-20 15:41] ablwr commented on #399
Resolved in #409

[2019-11-20 15:41] #399 closed, assigned to nobody

[2019-12-06 23:01] ablwr opened #411 "mkvtoolnix section"
Something that came up during the most recent No Time To Wait conference was that it'd be useful to add a section of recipes for mkvtoolnix.

I support this idea. I would be interested to hear from others what commands they semi-regularly use or find useful, and we can implement them in a section ala `imagemagick` and `flack`.

CC: @bturkus

[2019-12-07 04:35] retokromer commented on #411
That’s certainly useful. We actually work often with MKVToolNix.

[2019-12-07 09:13] kieranjol commented on #411
Yeah, specifying colour properties is useful and also inserting chapter
markers. Extracting attachments is also a bit awkward to figure out so
having a handy recipe here could be useful for rawcooked users.

[2019-12-07 09:56] bturkus commented on #411
Yeah love all that. I’ve found mkvinfo (or mkvmerge -i; can’t remember!) an impt piece of this; you need to get correct track/attachment numbers before doing anything else.

My inability to remember these commands proves the need for this. Great idea Ashley!

Sent from my iPhone

[2019-12-07 10:54] ablwr commented on #411
Thank Stephen McConnachie!

[2019-12-07 14:18] kieranjol commented on #411
Yeah,these commands are difficult to remember for sure. I always have to
look them up each time.

[2019-12-12 02:21] kfrn commented on #411
Good idea!

[2020-01-15 21:59] ablwr opened #416 "Translations?"
It would be nice to have this resource translated into other languages. Any ideas on the best way to do that?

I appreciate the low-tech nature of ffmprovisr, and am wondering what an equivalent low-tech solution would be, either with a bit of Javascript to display and having translations live on the same (already large) index page, or creating a copy of index.html as index-es.html or index-fr.htm

[2020-01-15 23:23] kfrn commented on #416
I like the idea, but I agree with you that it's far from straightforward. I'll have a think ...

[2020-01-16 05:15] retokromer commented on #416
As you certainly know, I have translated parts of it into German, French and Italian for my teachings.

(Since many years now we don’t translate our own website, because we don’t have the resources to do it any longer.)

[2020-01-21 17:36] ablwr opened #417 "Recipe on adding/modifying chapters"
I received a request via email (perhaps they do not have a GitHub account): They would like "some working examples on how to use (add/modify, etc.) Chapters in mp4 and mkv files."

Does anyone have a script in mind, or something they've used in the past?

I will try to come up with something and add it, but I haven't personally done much here.

[2020-01-21 17:43] retokromer commented on #417
[This](https://github.com/amiaopensource/An_Archivists_Guide_To_Matroska/blob/master/chapters.md) could be a good starting point.

[2020-02-10 18:57] ablwr opened #418 "Recipe for creating a usable MXF"
@rfraimow said she would add this, `-vcodec dnxhd -b:v 440M -acodec pcm_s16le`

[2020-02-10 19:06] retokromer commented on #418
This is related to the `dnxhd` codec, not to the MXF container. There are different possibilities and the AVID formats are a little more tricky to handle than the various Apple’s ProRes flavours (excluding here the two current RAW).

[2020-02-28 17:48] atomGit opened #419 "recipe: trim audio silence, lossless"
i think quite a few people, myself included, are looking for a clean and lossless method to trim excess silence from only the beginning and end of an audio file, particularly music files, leaving a set amount of silence

while this is possible with ffmpeg and ffprobe, the process involves decoding the audio, reversing it, and decoding again so it's all quite slow

i found this on stack and modifie

[2020-03-01 19:12] ablwr commented on #419
Thanks for this issue/recipe! @privatezero I'd be interested to hear your thoughts on this?

[2020-03-01 19:39] richardpl commented on #419
Do you know what lossless even means?

[2020-03-01 19:45] ablwr commented on #419
@richardpl I don't understand what you are implying by asking that. Are you trying to make a disparaging comment? If so, please log off because being rude and condescending is not welcome here.

[2020-03-02 19:19] richardpl commented on #419
I genuinely ask user to give reasoning behind using lossy codecs for lossless trimming.

[2020-03-03 03:44] mercuryswitch commented on #419
I would expect anyone looking here would be fairly well informed of the implications of using a lossy codec. As to giving the reason, that would depend on the person and their use of a lossy codec; usually it's to save on size to transfer over the interwebz or stream etc. lossless trimming to my knowledge is trimming audio to the point of a zero crossing without losing any content, so the lossines

[2020-05-02 03:12] DaleLore commented on #386
I think I did (；・∀ ・)

[2020-05-02 03:12] ablwr commented on #386
o((*^▽^*))o

[2020-05-02 03:13] ablwr commented on #386
@bturkus took too long, ya bum

[2020-05-02 15:16] ablwr opened #424 "Refine definition for fade/afade"
@DaleLore or @bturkus,

The fade/afade recipe could use better explanation into what is happening. See @kieranjol's comments [here](https://github.com/amiaopensource/ffmprovisr/pull/422#issuecomment-622791512).

[2020-05-02 16:14] bturkus commented on #386
yay!!! I suck!

[2020-05-02 16:14] #386 closed, assigned to nobody

[2020-05-02 16:15] ablwr commented on #386
You can redeem yourself !!! https://github.com/amiaopensource/ffmprovisr/issues/424

[2020-05-24 07:45] retokromer commented on #352
Update:
- _Terminal_ on Windows 10 works very well now (I presume, it will be officially launched on 28<sup>th</sup> May with the Version 2004)

This allows to use the same commands on Linux, macOS and Windows!

[2020-05-24 18:35] retokromer opened #427 "update the Code of Conduct"
Contributor Covenant’s current version is [2.0](https://www.contributor-covenant.org/version/2/0/code_of_conduct/).

[2020-05-31 16:32] ablwr commented on #427
@retokromer Do you want to send a patch?

[2020-05-31 16:33] ablwr commented on #365
hi

[2020-05-31 17:08] retokromer commented on #427
@ablwr Okay, I will do it.

[2020-05-31 21:04] privatezero commented on #365
I actually have a branch for this like half done - I'll get back to it this
week

On Sun, May 31, 2020 at 9:33 AM Ashley <notifications@github.com> wrote:

[2020-06-01 07:52] #424 closed, assigned to nobody

[2020-06-01 08:09] kieranjol opened #429 "Creating a style guide for contributors?"
Hi folks - I was chatting to @DaleLore about this after the Pull Request https://github.com/amiaopensource/ffmprovisr/pull/428 was merged and it got me thinking that we should have some sort of style guide and contributing advice. I don't think that we have much style advice for contributors, and it would be best for all if we could present this in advance rather than letting people know during a

[2020-06-01 09:54] kfrn commented on #429
Good call! Great list, @kieranjol - comprehensive, I can't think of anything to add offhand.

I'd be inclined to add this info in the readme under the Contributing section, and link to it (or repeat the relevant parts) in a PR template. What do you reckon? Happy to set that up.

[2020-06-01 11:31] kieranjol commented on #429
I think that's the place for it alright, thank you, that would be great!

[2020-06-02 13:52] ablwr commented on #429
This is great!

[2020-06-02 13:54] ablwr commented on #429
This will definitely help with updating other scripts to conform to these best practices. When I was talking with @DaleLore about the code review, I admitted that most of our other scripts don't use this concept of variables for users to fill in -- like the GIF script, for example, should probably be updated to not be so academic and just be practical (e.g. loop forever, reasonable sizes, etc). I'

[2020-06-02 14:05] retokromer commented on #429
Regarding HTML, there would be a possibility like Tommy did for his FFCommand_Engine, but I guess that would be an overkill here. [Not sure “overkill” is politically correct these days.] In my opinion the template should be sufficient.

[2020-06-02 14:11] ablwr commented on #429
@retokromer Would you consider opening a PR that adds the `FFCommand_Engine` as a sister project in the README?

[2020-06-02 14:14] kieranjol commented on #429
@ablwr, this is a great idea re revising older recipes, having a frequently updated style guide could also be a kind of signpost for low hanging fruit contributions from newer users.

[2020-06-02 14:21] retokromer commented on #429
@ablwr Yep. And also a [separate page](https://github.com/amiaopensource/ffmprovisr/pull/430#discussion_r433718981) about `FFCommand_Engine`, right?

[2020-06-02 14:24] ablwr commented on #429
I don't have a very strong opinion about this, but to me that seems a bit out of scope, and up to FFCommand_Engine to provide. A link to that project should be sufficient, in my opinion.

[2020-06-02 14:32] retokromer commented on #429
Okay, I will open a PR with only the link.

[2020-06-02 14:35] retokromer opened #431 "add FFCommand_Engine GUI"
Add `FFCommand_Engine` as a sister project in the README, see https://github.com/amiaopensource/ffmprovisr/issues/429#issuecomment-637569383.

[2020-06-02 14:49] kieranjol commented on #429
Aye, i agree with @ablwr on scope.

[2020-06-02 14:59] retokromer commented on #429
No problem at all! I will publish the compiling guide (possibly I am going to program a multi-platform Makefile) and the way to personalise the presets on my own website. At the moment these hints are only “somewhere” in my twitter feed…

[2020-06-02 16:51] privatezero commented on #429
West coast late to the chat as usual, but agree with above about scope

[2020-06-02 23:42] kfrn commented on #429
Yeah, I was thinking this - there are a bunch of scripts that could probably do with a second pass, especially re: hardcoded variables.
I'm happy to have a look over it, but I can't promise haste either 😄

[2020-06-02 23:43] kfrn commented on #429
Yeah, same. We've talked about it a couple of times before 😅 and there's an issue here: https://github.com/amiaopensource/ffmprovisr/issues/397
One day ...

[2020-06-04 05:57] kfrn commented on #429
I believe that this is now resolved! I'll close the issue for now - feel free to re-open if we need further discussion :)

[2020-06-04 05:57] #429 closed, assigned to nobody

[2020-06-04 06:04] kfrn opened #433 "Genericise recipes"
Something raised in #429 (sparked by comments here https://github.com/amiaopensource/ffmprovisr/pull/422#issuecomment-622791512 and here https://github.com/amiaopensource/ffmprovisr/pull/428#issuecomment-636422487)
was that a bunch of existing recipes could be elaborated and genericised
* rewritten to use placeholder variables (this is preferable), and/or
* fuller explanations given to any hardcod

[2020-06-04 06:07] kfrn commented on #298
I believe that this is resolved by https://github.com/amiaopensource/ffmprovisr/pull/308. I'll close this issue, but if anyone has further thoughts, I'm happy for you to reopen it :)

[2020-06-04 06:07] #298 closed, assigned to nobody

[2020-06-04 06:12] kfrn commented on #309
Just rereading, and I'm wondering where we stand on this nowadays?

Personally, my position hasn't really changed. :D As much as my developer brain likes the idea of a Jekyll-style static site, or a nifty Vue app, I think that the current approach's low barrier to entry (and offline accessibility, etc) is a huge plus.
Plus, not having a compilation step - if you're not experienced with that kind o

[2020-06-04 06:15] kfrn commented on #352
That's really cool!

If you'd said a decade ago that Microsoft would now be a big proponent of open-source ...

[2020-06-04 07:57] kieranjol commented on #433
Thanks Katherine!

[2020-06-04 16:30] privatezero commented on #309
My thoughts are pretty much the same as well - current approach has a lot going for it that outweighs any technical streamlining that could be done.

[2020-06-04 16:38] ablwr commented on #309
Yeah I feel the same. The compilation step is crucial to me, being able to just open index.html locally and see the change immediately.

I have thought about creating a form that will generate the right HTML, so people can focus on the commands part and not the minutiae of checking for quotation marks and IDs, as a way to make it easier. And there's plenty we can focus on in terms of streamlining

[2020-06-04 20:17] kfrn commented on #309
Cheers @privatezero & @ablwr!
@ablwr, that's an intriguing idea. It sounds like that wouldn't really affect the current structure (I'm imagining something that spits out HTML and then the user cut-and-pastes that into `index.html` - correct me if I'm wrong), so maybe we could take that up in a new issue?

It looks like we have a pretty clear consensus, so I'll close this issue for now. If we want

[2020-06-04 20:17] #309 closed, assigned to nobody

[2020-06-05 07:08] kfrn commented on #383
Between #394 and #434, I believe this issue is now resolved! I'll close it, but feel free to reopen if you think there's more to address here. :)

[2020-06-05 07:08] #383 closed, assigned to nobody

[2020-06-05 07:09] kfrn commented on #380
Between the existing NTSC SD -> pillarboxed HD recipe, and the note added in #434, I think this is now resolved. I'll close the issue, but you're welcome to reopen it if we need more discussion. Cheers :)

[2020-06-05 07:09] #380 closed, assigned to nobody

[2020-06-11 09:57] kieranjol opened #435 "'Check decoder errors' improvements"
Hi - I'm currently working with HDV rips using DVHScap as the capture tool. This creates mpeg transport streams, and decoding the file with ffmpeg is an amazing way of being told where glitches are. However - using the ffmprovisr recipe - https://amiaopensource.github.io/ffmprovisr/index.html#check_decoder_errors , it's pretty difficult to find the timestamps for the errors, so I've found that add

[2020-06-11 10:42] retokromer commented on #435
If I remember carefully, we just `grep` twice the output of the recipe: the first one to isolate the relevant lines and the second one to isolate the time values.

[2020-06-11 10:48] kieranjol commented on #435
That could work I guess if piping, but here's what it just looks like when run in the terminal - the text wrapping cuts off the timestamps - could be a terminal-specific issue in windows though:

[code]

[2020-06-11 11:13] retokromer commented on #435
Hmm… I don’t remember having encountered difficulties. I have to check what I did.

[2020-06-12 17:42] #431 closed, assigned to retokromer

[2020-06-13 17:02] ablwr opened #438 "Capture desktop video script?"
After seeing @kieranjol make a comment on a request for recording software, I saw that this can be done via ffmpeg pretty easily and I think it'd be helpful to have this script added in.

It might be a bit of a challenge due to the multiple operating systems? https://trac.ffmpeg.org/wiki/Capture/Desktop

Even if we added just one and referenced this perfectly-good-wiki-entry, I think that might ad

[2020-06-13 17:07] kieranjol commented on #438
Aye, I'd thought about adding this actually! I use the windows gdi grab command mostly as I now make a lot of training videos on my Windows work laptop. I guess we can pick an O.S and link to the wiki as you say?

[2020-06-13 17:31] retokromer commented on #438
I would suggest to have the different OS explained, like we did for the batch processing.

[2020-06-15 04:57] #427 closed, assigned to retokromer

[2020-06-16 09:45] kieranjol commented on #435
For my own workflow, I'm going to move to using ffprobe and taking a qctools-escue xml approach - more info here: http://ffmpeg.org/pipermail/ffmpeg-user/2020-June/049011.html
But this recipe is still super useful for a more human readable display vs a barrage of XML/JSON

[2020-07-19 06:25] retokromer opened #440 "ffmprovisr broken on Windows Terminal"
The command [`ffmprovisr`](https://github.com/amiaopensource/ffmprovisr/blob/gh-pages/scripts/ffmprovisr) doesn’t work on Windows Terminal, neither online nor offline.

[2020-07-20 16:42] privatezero commented on #440
Thanks for reporting! I should be able to look at this later this week, once I get access to my windows machine. (Currently my only way of getting on Windows is via remote desktop from a Mac with a Japanese keyboard layout, which makes script work on the remote machine **incredibly** aggravating)

[2020-07-20 17:13] retokromer commented on #440
Thank you, @privatezero! Possibly I will also also have the time give a try during the second half of the week. (I could provide a Thai keyboard… ;-)

[2020-07-20 20:07] kfrn commented on #440
Cheers @privatezero! I don't have access to a Windows machine, so cannot offer to look at this :(

[2020-07-21 16:57] privatezero commented on #440
Will have to do some more testing later, as my 'social distancing' window where I can be in office is ending, but an initial test on my end (Ubuntu 18.04 app in Windows 10) showed that `xdg-utils` is not installed by default. Since the `ffmprovisr` command relies on `xdg-open`, this might be a fail point.

[2020-07-21 17:36] retokromer commented on #440
(On a side note: in my opinion, “physical” distancing is more appropriate than “social”.)
I guess, tomorrow evening I can perform some tests; otherwise only on Friday.

[2020-07-21 23:52] privatezero commented on #440
Just remoted in to that machine, and after installing `xdg-utils` within the Linux subsystem, the `ffmprovisr` command is working correctly for firing up the online documentation at least.

[2020-08-22 08:30] retokromer commented on #440
@privatezero Also on Terminal or only on Subsystem?

[2020-08-22 08:33] retokromer commented on #440
I just tested, also on Terminal, therefore I am closing this one. We could include a test for presence on Linux into the formula.

[2020-08-22 08:33] #440 closed, assigned to nobody

[2020-08-22 11:21] retokromer commented on #397
Is someone working on this?

[2020-08-24 14:12] ablwr commented on #397
It's open for someone to work on this

[2020-11-13 15:05] retokromer commented on #352
Somethink like
[code]
with a few explanation would fit?

[2020-11-27 15:26] ablwr opened #447 "Add ffmpeg-artschool as sibling project?"
@bturkus et al, what do you think? I think there's enough similarity in the two projects, it'd be nice to have them connected in the family tree (I think ffmprovisr is already connected on the https://github.com/amiaopensource/ffmpeg-artschool resources page).

[2020-11-30 03:01] kfrn commented on #447
I'm in favour! Great project, by the way, @bturkus et al 😍

[2020-11-30 14:16] bturkus commented on #447
yeah! great idea, thanks!

[2020-11-30 19:41] kfrn commented on #447
Added in https://github.com/amiaopensource/ffmprovisr/pull/448, thanks! 👍

[2020-11-30 19:41] #447 closed, assigned to ablwr

[2020-12-08 19:12] ablwr opened #451 "Discussions"
Heyooo, I saw GitHub just released this new feature, Discussions.

I set up one by default, here: https://github.com/amiaopensource/ffmprovisr/discussions/450

But what does everyone think? Should we turn it on, keep it off, keep using Issues, direct people elsewhere? It could be a way for more shy folks to ask questions that aren't exactly ffmprovisr "Issues", but general questions about FFmpeg.

[2020-12-08 19:23] kieranjol commented on #451
I say keep it up, thanks for adding it!

[2020-12-08 21:42] privatezero commented on #451
Yah, might as well? Seems like "Issues" for things that aren't "Issues" so might have its uses!

[2020-12-10 04:02] kfrn commented on #451
I'll be the voice of dissent 😅, I don't see much value in having both Issues and Discussions, especially because there hasn't been much going on here in the last while. But I don't really mind if we have this feature. 😄

[2020-12-10 04:21] ablwr commented on #451
Yeah I don't know that it will add much -- the hurdle for engagement is the act of posting at all, not because the Issues tracker is not a Discussion tracker. At least, that's what I assume?

[2020-12-15 03:36] kfrn commented on #451
Yeah, that's pretty much my take 🤷‍♀️😄

[2021-01-21 19:15] bturkus opened #452 "update link for qemu qed ?"
hi everyone,

I'm not 100%, but it's looking like the QEMU QED is out of date; could someone confirm?

Thanks!

Ben

[2021-01-21 19:36] privatezero commented on #452
Good catch! Yes - on my end I am just getting re-routed to a Gitlab login page

[2021-01-29 20:44] ablwr commented on #452
@eg-tech halp!

[2021-01-29 20:48] retokromer commented on #452
Was it not integrated into the regular QEMU?

[2021-01-29 21:05] EG-tech commented on #452
ah, sorry y'all, there was some re-org on the EaaSI GitLab and the repo got moved so it broke the GitLab Pages domain. still up but at:
https://eaasi.gitlab.io/program_docs/qemu-qed/

I can make a PR

[2021-01-30 11:04] retokromer commented on #452
resolved in https://github.com/amiaopensource/ffmprovisr/pull/453 and https://github.com/amiaopensource/ffmprovisr/pull/454

[2021-01-30 11:04] #452 closed, assigned to nobody

[2022-05-07 17:08] brainwane opened #457 "Joining files together, "safe", and relative filenames"
Thank you again for ffmprovisr!

I suggest we change [the "join files together" recipe](https://amiaopensource.github.io/ffmprovisr/index.html#join_files) so the filenames don't have the initial `./` because that seems to read as unsafe to ffmpeg.

Today I consulted this recipe and tried:

`ffmpeg -f concat -i list.txt -c copy gift.mp4`

The contents of `list.txt` had relative filenames, as sugges

[2022-05-10 19:52] kfrn commented on #457
Hi @brainwane, thanks so much for flagging this!

You're totally right - I just checked this too. As you say, it's not working currently with the explicit reference to the current directory - to get that to work you need the `safe` flag set to `0`. (Which is also necessary when you're working with absolute paths).

I know the current recipe worked in the past, I wonder when that changed :thinking:

[2022-05-10 20:06] brainwane opened #459 "Which versions of ffmpeg does ffmprovisr support?"
Which versions of ffmpeg does ffmprovisr support? For example, I'm using ffmpeg 4.3.4 on Debian buster, and I see ffmpeg 5.0.1 was released on 2022-04-04.

Is there a range of versions that ffmprovisr recipes should work with? Maybe 4.3.x and above?

If maintainers can consense on a range, I suggest that support window be added to the last paragraph in the "Making FFmpeg Easier" section at the top

[2022-05-10 20:11] brainwane commented on #457
Thanks for the explanation @kfrn and for the fix in #458 (I had been assuming the indentation was meaningful but it looks like it was not). And thank you for your work on the tool!

Raises a question re: which versions of ffmpeg to support, which I've filed as #459.

So, it sounds like the recipe should advise people: if possible, run the command from the same directory where the files and the `tx

[2022-05-10 20:28] kieranjol commented on #459
I think that this could work, but I'd be at a loss about how to maintain it. Would someone be tasked with compiling a bunch of tests that can run against a new major version of FFmpeg? The concat example you mentioned is interesting, as it looks like this was the commit that caused it https://github.com/FFmpeg/FFmpeg/commit/46fb395952be32692385449ee214461603480b4b and I wouldn't know which version

[2022-05-10 20:29] kieranjol commented on #457
Thanks for flagging this, as mentioned in #459, it looks like this changed came about last August https://github.com/FFmpeg/FFmpeg/commit/46fb395952be32692385449ee214461603480b4b . I might attempt a fix now but my ffmprovisr skillz are rusty :)

[2022-05-10 20:33] privatezero commented on #459
I don't think this would be practically maintainable (and don't think it is necessary as @kieranjol notes the changes that arise usually are rather minor). Within the current structure specific formulas can have notes if they are relying on filters etc. that have been added in a certain version of FFmpeg, which when combined with tweaking formulas as needed seems the most durable in the long-term.

[2022-05-10 20:45] brainwane commented on #459
I wasn't really considering this as a promise to support new versions as soon as they come out. Sorry for accidentally implying that! I should reframe:

Do you have a problem where users frequently ask for help, and then it turns out they're using super old versions of ffmpeg, and that's why the recipe doesn't work for them? Or, do you think that's likely to happen in the future, because of partic

[2022-05-10 20:53] kieranjol commented on #459
I think that the actual FFmpeg User and Developer official mailing lists get around this by just saying 'we only support GIT HEAD/MASTER' here.
Anyhow I don't think that we have ever received many issues that were due to older versions, your example was one of the rare ones. Picking a version could be hard, we might need to back up that claim and actually test to make sure that everything works. E

[2022-05-10 21:04] kieranjol commented on #438
OK, so I still use ffmpeg video capture and I always end up checking the wiki or looking through my notes. I'm now thinking that Reto's example of batch processing could be the way to go, where there's two separate recipes for Mac and Windows, as there's just too much to explain within each operating system. I'm leaving out linux here, but perhaps someone else might want to work on that? I'd be ha

[2022-05-10 21:55] kfrn commented on #457
Hey good find, @kieranjol! I was getting ready for work so didn't want to start digging :sweat_smile:

[2022-05-10 21:56] kfrn commented on #438
Thanks for resurrecting this, @kieranjol!

I'm fine with either approach - adding an entry that links to the wiki, or adding separate recipes by OS.

I'm a Linux user, so could test + add that one!

[2022-05-10 22:05] privatezero commented on #438
Thanks you two! Separate recipes makes sense to me! This is reminding me I need to resurrect https://github.com/amiaopensource/ffmprovisr/issues/365 and get that added in as well. Drives me crazy to hunt for it every time I need that command!

[2022-05-10 22:19] ablwr commented on #459
Hmm, I agree about the maintainability difficulty -- AFAIK we haven't received issues about older versions. And anecdotally, I've used several of these during my time at Artefactual, which was maintaining the default FFmpeg versions back on Ubuntu/CentOS 16.04. I don't remember what version that is, but it may have been as low as 2.x (likely 3.x)?

I like the idea that individual recipes could not

[2022-05-10 22:19] ablwr commented on #438
Thanks all of you!!!

[2022-05-10 22:22] kfrn commented on #459
I agree with the consensus here, perhaps add some kind of disclaimer somewhere about using the latest version?

It'd be very cool to have a test suite set up to do regression testing, but I'm definitely not in a position to take that on :grinning:

+1 to this

I also haven't run into breaking changes before, though I use `ffmpeg` rarely these days. :smiling_face_with_tear:

[2022-05-10 22:22] kieranjol commented on #459
I agree with every point here! Being open about not knowing, recommended the latest stable build/release etc.

[2022-05-10 22:24] kfrn commented on #459
Also, this:

I can see that as a real win-win! If anyone knows someone who's keen to learn ...

[2022-05-10 22:26] kieranjol commented on #459
I might know someone actually...

[2022-05-11 04:15] retokromer commented on #438
I fully agree. As said, this would not be the first time we do it that way in `ffmprovisr`.

[2022-05-11 04:27] retokromer commented on #459
We at AV Preservation by reto.ch regularly check that all our scripts and commands work fine. We consider the releases 5.0.1, 4.4.2, 4.3.4 and 4.2.6, but not longer systematically the releases 4.1.9, 3.4.10, 3.2.17 and 2.8.19, for the reasons indicated (in German) on our [website](https://avpres.net/Glossar/FFmpeg.html). It would not be a big deal to include the `ffmprovir` recipes into the test l

[2022-05-12 20:18] #457 closed, assigned to nobody

[2022-06-27 03:58] nihelmasell opened #461 "Inserting timecode into video/ Outputting filename with timecode as filename."
Hi, I recently tried to export one image every ten seconds of a video, outputting files named image-00:00:10:00.jpg  image-00:00:20:00.jpg , image-00:00:30:00.jpg , etc. Your formula explains how to export an image from a video, or to create a burnt in timecode on your image. But the problem is: a) when you want every 10-second capture to have the timecode inserted into the name of the filename it

[2022-06-27 04:59] retokromer commented on #461
@nihelmasell Thank you for posting.
@ablwr Should this be moved to [discussions](https://github.com/amiaopensource/ffmprovisr/discussions)?

[2022-06-27 15:11] nihelmasell commented on #461
Sorry, Professor Kromer. I didn't know where to post.

[2022-06-27 16:17] ablwr commented on #461
I think we decided to not use discussions -- we should probably remove it from the list, too. This is a great place to ask this question! I don't have the time to jump into it right now but perhaps someone else will!

[2022-06-27 16:18] ablwr commented on #451
This was not used so I just closed it, and I'll close this comment too.

[2022-06-27 16:18] #451 closed, assigned to nobody

[2022-06-28 04:54] retokromer commented on #461
I see you have closed https://github.com/amiaopensource/ffmprovisr/issues/451 now, which got me confused. Sorry for the noise.

[2022-10-17 11:30] kieranjol opened #462 "Display issues in mobile chrome"
Hi folks, I can only replicate this on chrome on an iPhone 13 Pro. I can’t replicate it when using a regular laptop and chrome with a shrunk window size.
There seems to be a lot of resizing and pulsating happening with menus, especially with scrolling. Scrolling up seems to be worse than scrolling down a page.
https://youtube.com/shorts/_NwxuhwR0Q0?feature=share
This hopefully shows the issue. I f

[2022-10-17 15:56] privatezero commented on #462
Oh weird - that's disconcerting! FWIW I can't replicate on Chrome on Android either

[2022-10-20 16:54] ablwr commented on #462
SPOOOOOOOOOOOOOOKY halloween edition of ffmprovisr!

I'll try to dedicate some time to fixing this (although others are welcome to beat me to it)

[2022-11-30 20:58] privatezero opened #463 "Add dedicated section for -nostdin flag?"
Howdy all, I've seen people run into looping issues by not using the `-nostdin` flag enough times that it seems like we might want to stick it into ffmprovisr. Wasn't sure if the best approach was adding this to its own section (as I did in this [quick branch](https://github.com/amiaopensource/ffmprovisr/tree/nostdin) or adding it into some of the existing Preservation concepts sections.

My gut s

[2022-11-30 21:26] kieranjol commented on #463
I think it’s in the perfect place, and after seeing that option a million
times in scripts, I never knew what it actually did! Thanks for the
addition, thumbs up from me.

K

On Wed 30 Nov 2022 at 20:58, Andrew Weaver ***@***.***> wrote: